@charset "utf-8";

/*PAGE HEADER*/
figure#headerimg h1 { margin-top: 175px; }

/*BLOG & ARCHIVE*/
.blog .section7::before { display: none; }
.blog .section7 h3 {
  border-bottom: 3px solid #268388;
  padding: 10px;
}
.blog .section7 .post-preview-container {
  flex-wrap: wrap;
  display: flex;
}
.blog .section7 .post-preview-container article {
  padding: 0 10px;
  margin-bottom: 20px;
}
.blog .section7 .post-preview-container article.post-quote {
  background: #ab8461;
  border: 3px solid #501516;
  text-align: center;
  color: #fff;
}
.blog .section7 .post-preview-container article.post-quote img {  
  margin: 50px 0;
}
.blog .section7 .post-preview-container article.post-quote p {
  font-family: "Playfair Display";
  text-align: center;
  margin-bottom: 50px;
}
.blog .section7 .post-preview-container article.post-quote h4 {
  color: #fff;
  font-family: 'Brandon_Regular', 'Josefin Sans', sans-serif;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.25em;
  position: absolute;
  bottom: 25px;
  width: calc(100% - 20px);
}
.post-quote .crunchify-social { display: none; }
#load-more, #load-more:hover, #load-more:focus {
  outline: none;
  background: #268388;
}
/*FEATURED POST */
.blog .section7 .featured-post .blogPic1  { height: 450px; }
.blog .section7 .featured-post .blogPic1 p {
  top: calc(100% - 30px);
  left: -40%;
}
/*BLOG CATEGORIES*/
.blog .section7 .blog-categories li {
  background-image: none;
  background-color: #f3f3f3;
  margin-bottom: 10px;
}
.blog .section7 .blog-categories li:hover {
  background-color: #268388;
  border: none;
}
.blog .section7 .blog-categories li a {
  color: #1f1f1f;
  font-family: "Playfair Display";
  padding: 14px 30px;
  display: block;
  width: 100%;
  text-decoration: none;
  -webkit-transition: all .25s ease-in-out 0s;
  transition: all .25s ease-in-out 0s;
}
.blog .section7 .blog-categories li:hover a {
  color: #fff;
}

/*SINGLE POST*/
#headerimg.single-post-title { position: relative; }
#headerimg.single-post-title h1 { position: relative; z-index: 5; margin-top: 125px; }
#headerimg.single-post-title .overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,.5);
}
.single p.date {
  font-family: 'Brandon_Thin', 'Josefin Sans', sans-serif;
  color: #fff;
  background: #AB8461;
  padding: .5em;
  display: inline-block;
  text-align: center;
  width: 66px;
  height: 66px;
  margin: 0 0 0 -33px !important;
  position: absolute;
  top: -33px;
  left: 50%;
  border: 3px solid #ffffff;
}
.single p.date span {
  font-size: 1em;
  position: relative;
  top: -5px;
  text-transform: uppercase;
  display: block;
}
.single p.date span.day {
  font-size: 2em;
  line-height: .9em;
}
article.post .single-post-content h1, article.post .single-post-content h2, article.post .single-post-content h3,
article.post .single-post-content h4, article.post .single-post-content h5, article.post .single-post-content h6,
article.post .single-post-content p, article.post .single-post-content blockquote {
  max-width: 800px;
  margin-left: auto !important;
  margin-right: auto !important;
}
article.post .single-post-content h1, article.post .single-post-content h2, article.post .single-post-content h3,
article.post .single-post-content h4, article.post .single-post-content h5, article.post .single-post-content h6 {
  font-family: 'brandon_grotesquemedium';
  font-weight: bold;
  margin: 2.5em 0 .75em 0;
}
article.post .single-post-content p {
  font-family: "Playfair Display";
}
article.post .single-post-content img.aligncenter {
  margin-top: 2.5em;
}
article.post .single-post-content blockquote { 
  max-width: 750px;
}
article.post a.primary-button, article.post a.secondary-button { 
  color: #fff; 
  margin: 25px;
}
article.post h3.share-post-header {
  border-bottom: 3px solid #ab8461;
  color: #ab8461;
  font-family: 'brandon_grotesquebold',sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  padding: 10px;
  text-transform: uppercase;
  text-align: left;
}
/*SINGLE POST COLUMS*/
article.post .single-post-content .csColumn h1, article.post .single-post-content .csColumn h2, article.post .single-post-content .csColumn h3,
article.post .single-post-content .csColumn h4, article.post .single-post-content .csColumn h5, article.post .single-post-content .csColumn h6,
article.post .single-post-content .csColumn p {
  max-width: 100%;
}
.csRow { 
  margin: 2.5em 0 .75em 0;
}
/*SINGLE POST COMMENTS*/
.reviews-simple-feedback {
  max-width: 800px;
  margin: 0 auto;
}
.reviews-simple-feedback textarea { width: 100%; }
/*SINGLE POST SIMILAR POSTS*/
.similar-post-container {
  border-top: 3px solid #268388;
  display: flex;
  flex-wrap: wrap;
  margin: 75px auto;
  max-width: 1200px;
  width: 100%;
}
.similar-post-container::before {
  display: none;
}
.similar-post-container h2 { width: 100%; }
/*SOCIAL SHARING*/
.crunchify-social {
  margin: 20px auto 25px auto;
  -webkit-font-smoothing: antialiased;
  font-size: 12px;
  max-width: 800px;
}
.crunchify-link {
  border-radius: 50%;
  border: 3px solid #ab8461;
  display: inline-flex;
  height: 100px;
  margin: 0 20px;
  overflow: hidden;
  padding: 35px;
  width: 100px;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.crunchify-link .fa {
  color: #ab8461;
  font-size: 2.5em;
  height: 50px;
  position: relative;
  text-align: center;
  width: 50px;
  -webkit-transition: all .5s;
  transition: all .5s;
}

@media(max-width: 600px){
  .home .section3 iframe {
    width: 320px !important;
    left: -160px !important;
  }
}
@media(max-width: 768px){
  .hello {
    position: relative;
    top: -5em;
    left: 13em;
  }
}
@media(max-width: 480px){
  .hello {
    display: inline-block !important;
    left: 16em;
  }
}
@media(max-width: 469px){
  #account span.myaccount {
    position: relative;
    top: -5em;
  }
}
@media(max-width: 414px){
  .hello {
    left: 13em;
  }
}
@media(max-width: 375px){
  .hello {
    left: 11em;
  }
}