/*----------------------------------------------------------------*\
	STYLES SPECIFIC TO THE COMPARE TEMPLATE
\*----------------------------------------------------------------*/
/*--navigation--*/
.page-template-template-compare .newheader .navbar-default {
	background: #656565;
}

.page-template-template-compare .newhome.container-fluid {
	display: flex;
	justify-content: center;
}

/*--page title--*/
.page-template-template-compare section.page-title {
	width: 100%;
	max-width: 1400px;
	min-height: 65vh;
	margin: 50px auto 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-template-template-compare section.page-title>div {
	width: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.page-template-template-compare section.page-title .title-container {
	text-align: center;
}

.page-template-template-compare section.page-title h1 {
	color: #000;
	font-size: 70px;
}

.page-template-template-compare section.page-title h1 span {
	font-family: brandon_grotesquemedium;
	font-size: 18px;
	line-height: 1;
	display: block;
	text-transform: uppercase;
}

.page-template-template-compare section.page-title h1 span::before {
	content: '';
	display: inline-block;
	height: 1px;
	width: 75px;
	background-color: #000;
	vertical-align: super;
	margin-right: 6px;
}

.page-template-template-compare section.page-title h1 span::after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 75px;
	background-color: #000;
	vertical-align: super;
	margin-left: 6px;
}

.page-template-template-compare section.page-title a.btn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	border-color: #268388;
	border-radius: 0;
	background: #268388;
	margin-top: 26px;
}

.page-template-template-compare section.page-title .image img {
	width: 100%;
	max-height: 100%;
	max-width: 500px;
}

/*--COMPARE--*/

.page-template-template-compare section.comparison {
	width: 90%;
	max-width: 960px;
	margin: 50px auto;
	text-align: center;
}

.page-template-template-compare section.comparison table {
	width: 100%;
	text-align: center;
}

.page-template-template-compare section.comparison table tr {
	border-bottom: 1px solid #000;
	border-left: 1px solid #000;
}

.page-template-template-compare section.comparison table tr:first-child {
	border-left: none;
}

.page-template-template-compare section.comparison table th {
	text-align: center;
	font-size: 24px;
	text-transform: uppercase;
}

.page-template-template-compare section.comparison table td {
	padding: 14px 4px;
	font-size: 20px;
	border-right: 1px solid #000;
	vertical-align: middle;
}

.page-template-template-compare section.comparison table td:first-child {
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
}

.page-template-template-compare section.comparison table span.check {
	color: #268388;
	font-size: 28px;
	font-weight: bold;
}

.page-template-template-compare section.comparison table span.cross {
	color: #501516;
	font-size: 28px;
}

.page-template-template-compare section.comparison a.btn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	border-color: #268388;
	border-radius: 0;
	background: #268388;
	margin-top: 40px;
}

/*--BANNERS--*/
.page-template-template-compare section.banner {
	background-color: #501516;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 35px 50px;
}

.page-template-template-compare section.banner>div {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}

.page-template-template-compare section.banner>div p {
	color: #fff;
	font-size: 24px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}

.page-template-template-compare section.banner>div>*:first-child {
	margin-top: 0;
}

.page-template-template-compare section.banner>div>*:last-child {
	margin-bottom: 0;
}

.page-template-template-compare section.banner>div p a {
	color: inherit;
	font-size: inherit;
	text-decoration: underline;
}

.page-template-template-compare section.banner>div blockquote {
	border: none;
	padding: 0;
	margin: 0;
}

.page-template-template-compare section.banner>div blockquote p:last-child {
	font-style: italic;
}

/*--PREVIOUS BOXES--*/
.page-template-template-compare section.previous-boxes {
	width: 90%;
	max-width: 960px;
	margin: 50px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.page-template-template-compare section.previous-boxes h2 {
	width: 100%;
	color: #000;
	text-align: center;
}

.page-template-template-compare section.previous-boxes .previous-box {
	width: 48%;
	margin: 0 1% 25px 1%;
	text-align: center;
}

.page-template-template-compare section.previous-boxes .previous-box img {
	width: 100%;
}

.page-template-template-compare section.previous-boxes .previous-box p {
	font-size: 20px;
	font-style: italic;
	margin: .75em 0;
}

/*--CLOSING--*/
.page-template-template-compare section.closing {
	width: 90%;
	max-width: 960px;
	text-align: center;
	margin: 35px auto 85px auto;
}

.page-template-template-compare section.closing h2 {
	color: #000;
}

.page-template-template-compare section.closing p {
	font-size: 18px;
}

@media (max-width: 1050px) {
	.page-template-template-compare section.page-title h1 {
		font-size: 60px;
	}
}

@media (max-width: 800px) {
	.page-template-template-compare section.page-title {
		flex-wrap: wrap;
	}

	.page-template-template-compare section.page-title>div.image {
		width: 100%;
		height: 45vh;
		order: 1;
	}

	.page-template-template-compare section.page-title>div.title {
		order: 2;
		width: 100%;
		margin: 35px auto 100px auto;
	}

	.page-template-template-compare section.comparison table td {
		font-size: 16px;
	}

	.page-template-template-compare section.banner>div {
		max-width: 600px;
	}

	.page-template-template-compare section.banner>div p {
		font-size: 18px;
	}

	.page-template-template-compare section.previous-boxes h2 {
		font-size: 40px;
	}
}

@media (max-width: 500px) {
	.page-template-template-compare section.page-title h1 {
		font-size: 48px;
	}

	.page-template-template-compare section.page-title>div.image {
		height: 40vh;
	}

	.page-template-template-compare section.comparison table th {
		font-size: 16px;
	}

	.page-template-template-compare section.comparison table td:first-child {
		font-size: 10px;
	}

	.page-template-template-compare section.banner {
		padding: 35px;
	}

	.page-template-template-compare section.banner>div p {
		font-size: 14px;
	}

	.page-template-template-compare section.previous-boxes h2 {
		font-size: 28px;
	}

	.page-template-template-compare section.previous-boxes .previous-box {
		width: 100%;
		margin: 0 0 25px 0;
	}

	.page-template-template-compare section.closing h2 {
		font-size: 28px;
	}

	.page-template-template-compare section.closing p {
		font-size: 16px;
	}
}