@charset "utf-8";

/*-------------------------------------------------------BASICS--*/
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
	font-family: 'brandon_grotesquebold';
	src: url("../fonts/brandon_bld-webfont.eot");
	src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff2") format("woff2"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquethin';
	src: url("../fonts/brandon_thin_2-webfont.eot");
	src: url("../fonts/brandon_thin_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_thin_2-webfont.woff2") format("woff2"), url("../fonts/brandon_thin_2-webfont.woff") format("woff"), url("../fonts/brandon_thin_2-webfont.ttf") format("truetype"), url("../fonts/brandon_thin_2-webfont.svg#brandon_grotesquethin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquemedium';
	src: url("../fonts/brandon_med_2-webfont.eot");
	src: url("../fonts/brandon_med_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med_2-webfont.woff2") format("woff2"), url("../fonts/brandon_med_2-webfont.woff") format("woff"), url("../fonts/brandon_med_2-webfont.ttf") format("truetype"), url("../fonts/brandon_med_2-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesqueblack';
	src: url("../fonts/brandon_blk-webfont.eot");
	src: url("../fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_blk-webfont.woff2") format("woff2"), url("../fonts/brandon_blk-webfont.woff") format("woff"), url("../fonts/brandon_blk-webfont.ttf") format("truetype"), url("../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesque_regularRg';
	src: url("../fonts/brandon_reg-webfont.eot");
	src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquelight';
	src: url("../fonts/brandon_light-webfont.eot");
	src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
	font-weight: normal;
	font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	line-height: 1.125em;
	text-transform: none;
}

h1 {
	color: #fff;
	font-size: 4.5em;
	font-weight: 400;
	margin: 0;
}

h2 {
	color: #501516;
	font-size: 2.25em;
	font-weight: 400;
}

h3 {
	color: #ab8461;
	font-size: 1em;
	font-family: 'brandon_grotesquebold', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p,
a,
li {
	font-family: 'brandon_grotesquemedium';
	letter-spacing: 1px;
}

ul li {
	background-image: url(../img/icon-bullet.svg);
	background-position: top 5px left;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
	background-size: 10px;
}

form {
	-webkit-transition: none;
	transition: none;
}

form li {
	padding-right: 0 !important;
	background-image: none;
}

form label {
	text-transform: none !important;
}

.page-template-template-get-a-text form label {
	color: #fff;
}

form .top_label .gfield_label {
	font-size: .875em;
}

form .field_sublabel_below .ginput_complex.ginput_container label,
form .field_sublabel_below div[class*=gfield_time_].ginput_container label {
	font-size: .625em;
}

form input[type=submit] {
	background-color: #268388 !important;
	border-radius: 6px !important;
	font-size: .875em !important;
	padding: 10px 35px !important;
	border: 2px solid #268388 !important;
	color: #fff !important;
	display: inline-block !important;
	font-weight: 800 !important;
	margin: 0 10px 0 0 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-family: 'brandon_grotesquemedium' !important;
	letter-spacing: 1px !important;
}

form input,
form textarea {
	background-image: none;
	background-repeat: no-repeat;
	background-position: top 6px right 6px;
	background-size: 20px 20px;
	margin: 0 !important;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	background-image: url(../img/icon-form-invalid.svg);
}

.gform_wrapper .gfield_error .gfield_label {
	color: #790000 !important;
}

.LV_valid_field {
	background-image: url(../img/icon-form-valid.svg);
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
	margin-right: 0 !important;
}

.red-background {
	background-color: #501516;
}

.green-background {
	background-color: #268388;
}

.primary-button,
.dark-bg .primary-button,
.secondary-button,
.dark-bg .secondary-button,
article.post a.primary-button,
article.post a.secondary-button {
	background-color: #268388;
	border-color: #268388;
	border-radius: 6px;
	display: inline-block;
	font-family: 'brandon_grotesquemedium';
	font-size: .875em;
	padding: 10px 35px;
	text-transform: uppercase;
}

.secondary-button,
.dark-bg .secondary-button,
article.post a.secondary-button {
	background-color: #501516;
	border-color: #501516;
}

.primary-button:hover,
.dark-bg .primary-button:hover,
article.post a.primary-button:hover {
	background-color: #1a5b5f;
}

.secondary-button:hover,
.dark-bg .secondary-button:hover,
article.post a.secondary-button:hover {
	background-color: #300e0e;
}

.page-contents {
	padding: 60px 16px;
}

.page-contents h1:first-child,
.page-contents h2:first-child,
.page-contents h3:first-child,
.page-contents h4:first-child,
.page-contents h5:first-child,
.page-contents h6:first-child {
	margin-top: 0;
}

.page-contents h1:last-child,
.page-contents h2:last-child,
.page-contents h3:last-child,
.page-contents h4:last-child,
.page-contents h5:last-child,
.page-contents h6:last-child {
	margin-bottom: 0;
}

/*-------------------------------------------------------HEADER--*/
header.main-nav {
	background-color: rgba(64, 64, 64, 0.5);
	height: 75px;
	position: relative;
}

header.main-nav::after {
	background-color: rgba(64, 64, 64, .5);
	border-radius: 0 0 85px 85px;
	bottom: -70px;
	content: '';
	height: 70px;
	left: 50%;
	margin-left: -72px;
	position: absolute;
	width: 144px;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

header.main-nav.is_stuck {
	height: 55px;
}

header.main-nav.is_stuck::after {
	bottom: -42px;
	height: 42px;
	margin-left: -42.5px;
	width: 85px;
}

header.main-nav a.phone-link {
	line-height: 30px;
	text-decoration: none;
}

header.main-nav a.phone-link:hover {
	color: #268388;
}

header.main-nav a.phone-link svg#phone-link {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	width: 20px;
}

header.main-nav a.phone-link:hover svg#phone-link path {
	fill-opacity: 1;
	fill: #268388;
	stroke: #268388;
}

svg#logo-white {
	display: inline-block;
	left: 50%;
	margin-left: -62px;
	position: absolute;
	top: 10px;
	width: 124px;
	z-index: 1;
}

header.main-nav.is_stuck svg#logo-white {
	width: 75px;
	margin-left: -38px;
	margin-top: 5px;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

svg#logo-white path.st0 {
	fill: #FFFFFF;
}

header.main-nav .social-media {
	float: right;
}

header.main-nav .social-media li {
	background-image: none;
	border-radius: 50%;
	border: 2px solid #fff;
	display: inline-block;
	height: 35px;
	line-height: 28px;
	margin: 0 4px 0 0;
	padding: 0;
	text-align: center;
	width: 35px;
}

header.main-nav .social-media li.facebook:hover {
	border-color: #3B5998;
	background-color: #3B5998;
}

header.main-nav .social-media li.twitter:hover {
	border-color: #4099FF;
	background-color: #4099FF;
}

header.main-nav .social-media li.instagram:hover {
	border-color: #125688;
	background-color: #125688;
}

header.main-nav .social-media li.pinterest:hover {
	border-color: #cb2027;
	background-color: #cb2027;
}

header.main-nav .social-media li.youtube:hover {
	border-color: #bb0000;
	background-color: #bb0000;
}

header.main-nav .social-media svg {
	display: inline-block;
	fill: #fff;
	vertical-align: middle;
	width: 23px;
}

/*-------------------------------------------------------FOOTER--*/
footer#footer {
	position: relative;
}

footer#footer nav.footer-nav {
	color: #fff;
	float: right;
}

footer#footer nav.footer-nav a {
	font-family: 'brandon_grotesquemedium';
	line-height: 43px;
	text-decoration: none;
}

footer#footer svg#logo-white {
	position: absolute;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	top: 10px;
}

footer p {
	font-size: 16px;
}

/*-----------------------------------------------------TEMPLATE--*/
.landing-top {
	height: 100vh;
	margin-top: -75px;
}

.landing-top .page-title {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 2;
}

.landing-top .page-title::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 125px;
	width: 34px;
	height: 34px;
	margin-left: -17px;
	background-image: url(../img/icon-arrow-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: floating 1.5s linear infinite;
	-webkit-animation: floating 1.5s linear infinite;
}

.landing-top .page-title h3 {
	color: #fff;
}

.landing-top .page-title form {
	max-width: 600px;
	width: 90%;
}

.landing-top .background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.landing-top .left-bg,
.landing-top .right-bg,
.landing-top .full-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
}

.gifts {
	text-align: center;
	padding: 60px;
	background-image: url(../img/gifts-bg.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.gifts h2 {
	margin-top: 0;
}

.gifts h3 {
	margin-top: 1.25em;
	margin-bottom: 0;
}

.gifts .clearfix {
	display: inline-flex;
}

.gifts .gift-item {
	padding: 0 32px;
	position: relative;
}

.gifts .gift-item::after {
	content: '';
	position: absolute;
	right: -1px;
	top: 16px;
	bottom: 16px;
	width: 2px;
	background: #268388;

}

.gifts .gift-item:last-child::after {
	display: none;
}

.gifts .gift-item img {
	max-height: 150px;
	margin-bottom: 16px;
}

.give-try {
	text-align: center;
}

.give-try h2 {
	display: inline-block;
	margin: 60px 10px;
}

.give-try a {
	display: inline-block;
	position: relative;
	top: -8px;
}

.work-purpose .work,
.work-purpose .purpose {
	display: inline-flex;
	width: 100%;
}

.work-purpose .purpose {
	margin-top: -5px;
}

.work-purpose .one-half-full {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 400px;
	position: relative;
}

.work .one-half-full:last-child {
	background-color: #e8e8e8;
	padding: 28px;
}

.work .one-half-full:last-child::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #e8e8e8;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 50%;
}

.purpose .one-half-full:first-child {
	background-color: #e8e8e8;
	padding: 28px;
}

.purpose .one-half-full:first-child::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #e8e8e8;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	right: -15px;
	top: 50%;
}

.work-purpose .one-half-full .vertical-align-content {
	padding: 32px;
	background: #fff;
}

.work-purpose .one-half-full .vertical-align-content h2 {
	margin: 0 0 8px 0;
}

.page-contents {
	background-image: url(../img/content-bg.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.page-contents .max-width {
	max-width: 600px;
}

.page-id-12408 .page-contents ul {
	-webkit-column-count: 2;
	column-count: 2;
	margin: 50px auto;
	max-width: 500px;
}

.box-slider {
	background-color: #e9e9e9;
	padding: 50px 0;
}

.box-slider h2 {
	text-align: center;
	margin-top: 0;
}

.slick-slider {
	width: 100%;
	padding: 0 35px;
}

.slick-slider .slick-slide:focus,
.slick-slider .slick-slide.slick-current {
	outline: 0 !important;
}

.slick-slider .slick-prev {
	background-color: transparent;
	background-image: url(../img/icon-arrow-left.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	outline: 0;
	border: none;
	text-indent: 10000px;
	overflow: hidden;
	width: 20px;
	height: 25px;
}

.slick-slider .slick-next {
	background-color: transparent;
	background-image: url(../img/icon-arrow-right.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	outline: 0;
	border: none;
	text-indent: 10000px;
	overflow: hidden;
	width: 20px;
	height: 25px;
}

.slider-nav .slick-track {
	transform: none !important;
	text-align: center;
}

.slider-for .slide-top {
	padding: 8px 16px;
	border-bottom: 3px solid #268388;
	margin-bottom: 25px;
}

.slider-for .slide-top h3 {
	margin: 0;
	color: #501516;
}

.slider-for .slide-top h3:first-child {
	float: left;
}

.slider-for .slide-top h3:last-child {
	float: right;
}

.slider-for .slick-track {
	text-align: left;
}

.slider-for .slick-slide .box-image {
	width: 60%;
	padding: 0 50px;
	float: left;
}

.slider-for .slick-slide .box-image img {
	width: 100%;
}

.slider-for .slick-slide .box-info {
	background-color: #fff;
	float: left;
	margin: 25px 0 50px 0;
	position: relative;
	width: 40%;
}

.slider-for .slick-slide .box-info h4 {
	background-color: #ab8461;
	color: #fff;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.slider-for .slick-slide .box-info ul {
	margin: 16px 0;
	padding: 25px;
}

.slider-for .slick-slide .box-info hr {
	background-color: #268388;
	height: 3px;
	margin: 0 0 8px 0;
	padding: 0;
}

.slider-for .slick-slide .box-info h3 {
	padding: 25px;
	margin: 0;
}

.slider-for .slick-slide .box-info .box-cost {
	background-color: #501516;
	border-radius: 50%;
	bottom: -40px;
	color: #fff;
	font-family: 'brandon_grotesquebold';
	font-size: 1.875em;
	height: 80px;
	letter-spacing: 2px;
	position: absolute;
	right: 25px;
	text-align: center;
	width: 80px;
}

.slider-nav .slick-track {
	border-bottom: 3px solid #268388;
	margin: 25px auto 0 auto;
}

.slider-nav .slick-slide {
	position: relative;
	cursor: pointer;
}

.slider-nav .slick-slide.slick-current:before {
	border-color: #268388 transparent;
	border-style: solid;
	border-width: 0 6px 6px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -6px;
	position: absolute;
	top: -6px;
	width: 0;
	z-index: 1;
}

.slider-nav .slick-slide h3 {
	color: #501516;
	font-size: 1.125em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 6px 0;
	margin: 0;
}

.slider-nav .slick-slide.slick-current h3 {
	color: #268388;
}

.page-id-392 .landing-top .page-title::after {
	display: none;
}

#field_16_3,
#field_16_2 {
	margin-top: 8px;
	padding: 0 10px 0 0 !important
}

#field_16_2 {
	padding: 0 0 0 10px !important;
}

.trustbox h4 {
	font-family: 'Brandon_Bold', 'Josefin Sans', sans-serif;
	text-align: center;
	color: #501516;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 4em 16px 1em;
}

.page-id-482398 .main-nav a img,
.page-id-483411 .main-nav a img {
	background-color: transparent;
}

.page-id-482398 .vertical-align-content p,
.page-id-483411 .vertical-align-content p {
	text-align: center;
}

.page-id-482398 .primary-button,
.page-id-483411 .primary-button {
	font-size: 16px;
	background-color: #AB8461;
	border-color: #AB8461;
}

.page-id-482398 .gifts a,
.page-id-483411 .gifts a {
	width: 25%;
}

.page-id-482398 .gifts a .gift-item,
.page-id-483411 .gifts a .gift-item {
	color: #fff;
}

.page-id-482398 .gifts a .gift-item .gift-title,
.page-id-483411 .gifts a .gift-item .gift-title {
	background-color: #501516;
	margin-bottom: 0;
	padding: 50px 20px;
	min-height: 145px;
}

.page-id-482398 .gifts a .gift-item .gift-code,
.page-id-483411 .gifts a .gift-item .gift-code {
	background-color: #AB8461;
	padding: 20px;
}

.page-id-482398 .landing-top .vertical-align-content,
.page-id-483411 .landing-top .vertical-align-content {
	position: relative;
	top: -120px;
}

.page-id-482398 .give-try h2,
.page-id-483411 .give-try h2 {
	font-family: 'brandon_grotesque_regularRg', sans-serif;
}

/*--------------------------------RESPONSIVNESS BREAKING POINTS--*/


/*----------- SMALL DESKTOPS & LAPTOPS --*/

@media only screen and (max-width: 1200px) {
	.gform_wrapper .gform_footer {
		margin-top: 0 !important;
		padding-top: 0 !important;
		text-align: center !important;
	}

	.gform_wrapper ul.gform_fields li.gfield {
		margin-bottom: 0 !important;
	}

	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
	.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
		margin-bottom: 4px !important;
	}
}

/*------------------ LANDSCAPE TABLETS --*/

@media only screen and (max-width: 1024px) {
	.slider-for .slick-slide .box-info .box-cost {
		bottom: -60px;
	}

	.slider-for .slick-slide .box-info {
		margin-bottom: 75px;
	}
}


/*------------------- PORTRAIT TABLETS --*/

@media only screen and (max-width: 800px) {
	footer#footer {
		padding-top: 75px;
	}

	footer#footer #copyright {
		float: none;
		text-align: center;
	}

	footer#footer nav.footer-nav {
		float: none;
		text-align: center;
		font-size: .75em;
	}

	.slider-for .slick-slide .box-image {
		width: 100%;
		float: none;
	}

	.slider-for .slick-slide .box-info {
		width: 100%;
		max-width: 500px;
		margin: 25px auto 50px auto;
		float: none;
	}
}


/*------------------- LANDSCAPE PHONES --*/

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 2.875em;
		margin: 25px 0 10px 0;
	}

	h2 {
		font-size: 2em;
	}

	.landing-top .right-bg {
		display: none;
	}

	.landing-top .page-title::after {
		display: none;
	}

	.landing-top .page-title h3 {
		max-width: 350px;
		margin: 25px auto;
	}

	.slick-slider {
		padding: 0 20px;
	}

	.slider-nav {
		display: none;
	}

	.slider-for .slick-slide .box-image {
		padding: 0;
	}

	.slider-for .slick-slide .box-info ul {
		padding: 10px;
		margin: 0;
	}

	.slider-for .slick-slide .box-info h3 {
		padding: 8px 25px 16px 35px;
	}

	.slick-slider .slick-next,
	.slick-slider .slick-prev {
		width: 8px;
		height: 16px;
	}

	.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
		padding-right: 0 !important;
	}

	header.main-nav {
		height: auto;
		padding-top: 100px;
	}

	header.main-nav a.phone-link {
		float: none;
		text-align: center;
		display: block;
	}

	header.main-nav .social-media {
		float: none;
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}

	svg#logo-white {
		margin-left: -37px;
		width: 74px;
	}

	header.main-nav::after {
		display: none;
	}

	.landing-top {
		margin-top: -225px;
		padding-top: 225px;
		min-height: 100vh;
		height: auto;
	}

	.gifts .clearfix {
		display: inline-block;
	}

	.gifts .gift-item::after {
		display: none;
	}

	.work-purpose .purpose,
	.work-purpose .work {
		display: block;
	}

	.purpose .one-half-full:first-child::after,
	.work .one-half-full:last-child::after {
		display: none;
	}

	.give-try {
		padding: 25px 10px;
	}

	.give-try h2 {
		margin: 25px 0;
	}

	.page-id-482398 header.main-nav,
	.page-id-483411 header.main-nav {
		padding-top: 0;
	}

	.page-id-482398 header.main-nav .social-media,
	.page-id-483411 header.main-nav {
		position: absolute;
		left: 50%;
		margin-left: -93px;
		top: 20px;
	}

	.page-id-482398 .main-nav a img,
	.page-id-483411 .main-nav a img {
		position: relative;
		top: 79px;
	}

	.page-id-482398 .landing-top,
	.page-id-483411 .landing-top {
		padding-top: 260px;
	}

	.page-id-482398 .landing-top .vertical-align-content,
	.page-id-483411 .landing-top .vertical-align-content {
		top: -10px;
	}

	.page-id-482398 .landing-top .vertical-align-content h2,
	.page-id-483411 .landing-top .vertical-align-content h2 {
		margin-top: 0;
	}

	.page-id-482398 .gifts,
	.page-id-483411 .gifts {
		padding: 60px 0;
	}


}


/*-------------------- PORTRAIT PHONES --*/

@media only screen and (max-width: 500px) {}


/*--------- VALENTINES DAY 2017 ----------*/

.page-id-295422 a.primary-button {
	background-color: #ab8461;
	border: 1px solid #979797;
}

.page-id-295422 .gift-item p {
	width: 237px;
	color: #ffffff;
	margin: 0;
}

.page-id-295422 .gift-title {
	height: 129px;
	background-color: #501516;
	padding: 1.5em 0.5em;
	font-size: 1.25em;
}

.page-id-295422 .gift-code {
	height: 63px;
	background-color: #ab8461;
	font-size: 1.5em;
	padding: 0.5em;
}

.page-id-295422 .gift-item::after {
	display: none;
}

.page-id-295422 .red-background {
	background-color: #a02b38;
}

.page-id-295422 .landing-top .page-title::after {
	margin-left: -22px;
}

.page-id-295422 .awesome-deals::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -60px;
	width: 237px;
	height: 65px;
	margin-left: -117px;
	background-image: url(../img/triangle.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.page-id-295422 .gifts .max-width {
	padding: 0;
}

.page-id-295422 .gifts .gift-item {
	padding: 0 15px;
}

.page-id-295422 .share-post-header {
	display: none;
}

@media only screen and (max-width: 1199px) {
	.page-id-295422 .gifts .gift-item {
		padding: 15px 15px;
	}

	.page-id-295422 .gifts {
		padding: 60px 0;
	}

	.page-id-295422 .gifts .max-width {
		display: inline-block;
	}
}

.single-post-content iframe {
	max-width: 800px;
	margin: 2em auto !important;
	float: none;
}

/*VALENTINES DAY SLIDER*/
.vday-slider .slide-top {
	padding: 8px 16px;
	border-bottom: 3px solid #268388;
	margin-bottom: 25px;
}

.vday-slider .slide-top h3 {
	margin: 0;
	color: #501516;
}

.vday-slider .slide-top h3 {
	float: left;
}

.vday-slider .slick-track {
	text-align: left;
}

.vday-slider .slick-slide .box-image {
	width: 60%;
	padding: 0 50px;
	float: left;
}

.vday-slider .slick-slide .box-image img {
	width: 100%;
}

.vday-slider .slick-slide .box-info {
	background-color: #fff;
	float: left;
	margin: 25px 0 50px 0;
	position: relative;
	width: 40%;
}

.vday-slider .slick-slide .box-info h4 {
	background-color: #ab8461;
	color: #fff;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.vday-slider .slick-slide .box-info ul {
	margin: 16px 0;
	padding: 25px;
}

.vday-slider .slick-slide .box-info hr {
	background-color: #268388;
	height: 3px;
	margin: 0 0 8px 0;
	padding: 0;
}

.vday-slider .slick-slide .box-info h3 {
	padding: 25px;
	margin: 0;
}

@media only screen and (max-width: 1024px) {
	.vday-slider .slick-slide .box-info {
		margin-bottom: 75px;
	}

}

@media only screen and (max-width: 800px) {
	.vday-slider .slick-slide .box-image {
		width: 100%;
		float: none;
	}

	.vday-slider .slick-slide .box-info {
		width: 100%;
		max-width: 500px;
		margin: 25px auto 50px auto;
		float: none;
	}
}

@media only screen and (max-width: 700px) {
	.vday-slider .slick-slide .box-image {
		padding: 0;
	}

	.vday-slider .slick-slide .box-info ul {
		padding: 10px;
		margin: 0;
	}

	.vday-slider .slick-slide .box-info h3 {
		padding: 8px 25px 16px 35px;
	}
}

/*GBOX VS SPREZZA LANDING PAGE*/
.page-id-333536 .landing-top .background .full-bg,
.page-id-333547 .landing-top .background .full-bg {
	background-position-y: top;
}

.page-id-333536 #sticky-nav a img,
.page-id-333547 #sticky-nav a img {
	background-color: transparent;
	left: 31%;
	margin-left: 0;
}

.page-id-295422 #sticky-nav a img {
	background-color: transparent;
}

.page-id-333536 #sticky-nav a img::after,
.page-id-333547 #sticky-nav a img::after {
	content: '';
	position: absolute;
	width: 50px;
	height: 50px;
	background-color: rgba(152, 110, 111, 1);
}

#sticky-nav a img {
	margin-top: 8px;
}

#sticky-nav.is_stuck a img {
	margin-top: -2px;
}

header.main-nav a.phone-link {
	float: left;
}

.page-id-333536 .page-title p {
	color: #fff;
	font-size: 90px;
	position: relative;
	left: 50%;
	width: 50%;
	margin-left: -40%;
}

.page-id-333547 .page-title p {
	color: #fff;
	font-size: 90px;
	position: relative;
	left: 50%;
	width: 50%;
	margin-left: -5%;
}

@media only screen and (max-width: 1024px) {

	.page-id-333547 .page-title p,
	.page-id-333536 .page-title p {
		color: #fff;
		font-size: 60px;
		position: relative;
		left: 50%;
		width: 75%;
		margin-left: -40%;
	}
}

@media only screen and (max-width: 400px) {

	.page-id-333547 .page-title p,
	.page-id-333536 .page-title p {
		font-size: 36px;
	}
}

/* JIM BEAM LANDING PAGE */
.page-id-485188 .landing-top video {
	height: auto;
	min-height: 100%;
	min-width: 100%;
	width: auto;
	position: absolute;
}

.page-id-485188 .main-nav a img {
	background-color: transparent;
}

.page-id-485188 .landing-top .videoContainer a h1 {
	position: relative;
	font-family: 'Playfair Display', serif;
	text-align: center;
	margin: 40px 20% 100px 20%;
}

.page-id-485188 .landing-top .videoContainer a.primary-button {
	position: relative;
	margin: 0 auto;
	left: 50%;
	margin-left: -76px;
}

.page-id-485188 .landing-top .videoContainer.jim-beam-background {
	background-image: url('https://c3sgentleman.staging.wpengine.com/wp-content/themes/gentlemansbox/library/images/barrel_background.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.page-id-485188 .landing-top .videoContainer.jbb-background {
	background-image: url('https://c3sgentleman.staging.wpengine.com/wp-content/themes/gentlemansbox/library/images/black_wood_grain.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	height: 100%;
}

.page-id-485188 header.main-nav .social-media svg {
	margin-top: 4px;
}

.page-id-485188 footer#footer nav.footer-nav a {
	line-height: 0;
}

.page-id-485188 .landing-top .videoContainer.jbb-background a.primary-button {
	display: block;
	text-align: center;
	left: 20%;
	width: 440px;
	height: 80px;
	padding-top: 30px;
	margin-top: 50px;
	font-size: 1em;
	letter-spacing: 2px;
	margin-left: 5px;
}

.page-id-485188 .gifts {
	background-image: none;
	padding-bottom: 0;
	padding-top: 0;

}

.page-id-485188 .gifts a {
	max-width: 100%;
}

.page-id-485188 .gifts .gift-item {
	padding: 0;
}

.page-id-485188 p.gift-code {
	text-transform: uppercase;
	color: #fff;
	background-color: #AB8461;
	margin: 0;
	height: 40px;
	padding-top: 10px;
}

.page-id-485188 .gifts .gift-item img {
	margin: 0;
	max-height: 1000px;
	width: 100%;
}

.page-id-485188 .work-purpose,
.page-id-485188 .gifts {
	background-image: url('https://c3sgentleman.staging.wpengine.com/wp-content/themes/gentlemansbox/library/images/wood-white.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.page-id-485188 .work {
	background-color: #fff;
	margin: 100px 50px;
	padding: 50px;
	width: auto;
}

.page-id-485188 .work .one-half-full:last-child {
	background-color: transparent;
	padding: 0;
}

.page-id-485188 .work .one-half-full:last-child::after {
	display: none;
}

.page-id-485188 footer img {
	display: block;
	margin-left: 7%;
}

.page-id-485188 footer#footer #copyright {
	line-height: 25px;
	max-width: 30%;
	text-align: center;
}

.page-id-485188 footer#footer svg#logo-white {
	top: 65px;
}

@media(max-width: 1200px) {
	.page-id-485188 .landing-top .videoContainer a h1 {
		margin-bottom: 50px;
	}

	.page-id-485188 .landing-top .videoContainer.jbb-background a.primary-button {
		left: 0;
	}

	.page-id-485188 footer#footer nav.footer-nav {
		float: none;
	}

	.page-id-485188 footer .footer-nav p {
		max-width: 40% !important;
	}
}

@media(max-width: 800px) {
	.page-id-485188 .landing-top video {
		display: none;
	}

	.page-id-485188 .landing-top .background.clearfix {
		background-image: url('https://c3sgentleman.staging.wpengine.com/wp-content/themes/gentlemansbox/library/images/jbb_mobile_header.png');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}

	.page-id-485188 .work-purpose,
	.page-id-485188 .gifts {
		padding: 0;
	}

	.page-id-485188 p.gift-code {
		height: 70px;
		padding-top: 15px;
	}

	.page-id-485188 .landing-top .videoContainer.jbb-background .one-half-full {
		width: 100%;
		float: none;
	}

	.page-id-485188 .landing-top .videoContainer.jbb-background .one-half-full img {
		margin: 60px 27% 30px 27% !important;
	}

	.page-id-485188 .landing-top:last-of-type {
		height: 620px !important;
	}

	.page-id-485188 .landing-top .videoContainer.jbb-background a.primary-button {
		margin-top: 15px !important;
		width: 300px;
		position: relative;
		left: 50%;
		margin-left: -150px;
		padding-top: 20px;
	}

	.page-id-485188 footer img {
		position: relative;
		left: 50%;
		margin-left: -88px;
		margin-top: 75px;
	}

	.page-id-485188 footer#footer #copyright {
		line-height: 25px;
		max-width: 90%;
		text-align: center;
		position: relative;
		padding-top: 15px;
		margin: 0 auto;
	}

	.page-id-485188 footer .footer-nav p {
		max-width: 90% !important;
		float: none !important;
		position: relative;
		margin: 0 auto;
	}
}

@media(max-width: 500px) {
	.page-id-485188 header.main-nav {
		padding-top: 50px;
	}

	.page-id-485188 .work {
		margin: 0;
	}

	.page-id-485188 .work-purpose .one-half-full {
		min-height: 200px;
	}

	.page-id-485188 .landing-top .videoContainer.jbb-background .one-half-full img {
		margin: 60px 25% 30px 7% !important;
	}

	.page-id-485188 .landing-top .videoContainer.jim-beam-background a.primary-button {
		margin-left: -106px;
	}

	.page-id-485188 p.gift-code {
		padding-top: 25px;
	}

	.page-id-485188 .landing-top .videoContainer a h1 {
		margin-left: 0;
		margin-right: 0;
	}
}

.page-id-295422 a.primary-button {
	background-color: #268388;
}

.page-id-295422 .page-contents {
	background-image: url('http://gentlemansbox.com/wp-content/uploads/IMG_0169Overlay2.png');
	background-position: top center;
}

@media only screen and (max-width: 700px) {
	.page-template-template-get-a-text header.main-nav {
		padding-top: 0 !important;
	}

	.page-id-295422 .page-contents {
		background-image: none !important;
	}
}