.newheader .navbar-default, .newheader_t,.red-banner{display: none !important;}
.work-purpose .one-half-full {background-size: contain !important;width: 50%;}
.nav.navbar-nav {display: flex;
    justify-content: space-around;
    float: none;
    width: 33%;}
.menu-primary-menu-container {display: flex;}
ul#menu-primary-menu-1 {display: flex; align-items: center;}
ul#menu-primary-menu-1 .myaccount {display: none;}
ul#menu-primary-menu-1 li {background-image: none;padding:0 0 0 40px;}
ul#menu-primary-menu-1 li a {color: #fff;text-transform: uppercase;}
.main-nav a img {background-color: transparent;}
#sticky-nav a img {top:-47px;}
header.main-nav .social-media {float: none;position:absolute;top: 20px;right: 5%;}
header.main-nav .social-media svg {position: relative;top: 5px;}
.nprowsb{background-color: #fff !important;}
.nprowsb p {font-family: 'Playfair Display', serif;}
.nprowsb .nprowsb__cont {padding:0 !important; text-align: center;}
.nprowsb .nprowsb__cont p {color:#303030;text-transform: none;font-size: 28px;}
#topbanner .nbtn {background-color: #268388 !important;}
#gallery-1 img,#gallery-2 img,#gallery-3 img {border: none !important;}
#gallery-1,#gallery-2,#gallery-3 {margin-bottom: 35px !important;}
section.give-try.dark-bg {background-color: #501516;}
.give-try h2 {color: #fff;}
.give-try a {top:0 !important;color:#fff; text-decoration: underline;}
.give-try h2 p {
  margin:0;
  font-size: 32px;
}
button {background-color: #AB8461;display: flex;}
button a {color: #fff;padding: 6px 15px;}
.awesome-deals {margin-bottom: 25px;}
section.give-try.dark-bg.awesome-deals::after {
  content: '';
  background-image: url('http://gentlemansbox.com/wp-content/uploads/Rectangle-6-Copy-33.png');
  width: 237px;
  height: 65px;
  position: absolute;
  left: 50%;
  margin-left: -64px;
  z-index: 1;
  margin-top: 150px;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width:960px){
  #sticky-nav a img {
    top:-87px;
  }
  ul#menu-primary-menu-1 {align-items: flex-start;}
  .menu-primary-menu-container {position: relative;top:-14px;}
  ul#menu-primary-menu-1 li {padding-left: 15px;}
}
@media screen and (max-width:883px){
  section.give-try.dark-bg.awesome-deals::after {display: none;}
}
@media screen and (max-width:767px){
  .navbar-nav {margin-left: 50px !important;}
}
@media screen and (max-width:700px){
  header.main-nav {
    padding-top: 0 !important;
    height: 75px !important;
  }
  .work-purpose .one-half-full {width: 100%;}
  .work-purpose .purpose {
    display: flex !important;
    flex-wrap: wrap-reverse;
  }
  #gallery-1 .gallery-item {
    width: 50% !important;
  }
  #gallery-2 .gallery-item {
    width: 100% !important;
  }
}
@media screen and (max-width:600px){
  header.main-nav {
    height: 125px !important;
  }
  ul.nav.navbar-nav {
    margin-left: 0 !important;
    width:100%;
  }
  .menu-primary-menu-container {
    top:-25px;
  }
  .social-media {
    left: 0;
    right: 0 !important;
    top: 35px !important;
  }
  #sticky-nav a img {
    margin-left: -51px;
    top:-37px;
  }
}
@media screen and (max-width:480px){
  .nprowsb .nprowsb__cont p {
      margin-bottom: 30px;
      line-height: 1.2;
  }
}
