/*----------------------------------------------------------------*\
	STYLES SPECIFIC TO THE MURDER MYSTERY TEMPLATE
\*----------------------------------------------------------------*/
.page-template-template-murder-mystery .newheader .navbar-default {
	background: #656565;
}

.page-template-template-murder-mystery .newhome.container-fluid {
	display: flex;
	justify-content: center;
}

.murder-mystery-hero {
	margin-top: 48px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.murder-mystery-hero div {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-content: center;
	text-align: center;
	height: 80vh;
	max-width: 800px;
	margin: 0 auto;
}

.murder-mystery-hero div h1 {
	font-family: 'brandon_grotesquebold';
	font-size: 64px;
	letter-spacing: 1px;
	line-height: 90px;
	text-transform: uppercase;
}

.murder-mystery-hero div h2 {
	color: #fff;
	font-family: 'Playfair Display', serif;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px;
	margin: 0 5em;
}

.murder-mystery-hero div svg {
	width: 82px;
	margin-top: 3em;
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

.page-template-template-murder-mystery .full-width {
	background-color: #333;
	padding: 2em;
}

.page-template-template-murder-mystery .gform_wrapper form {
	text-align: center;
	max-width: 365px;
}

.page-template-template-murder-mystery .gform_wrapper form li {
	padding-left: 0;
	margin-top: 2em !important;
}

.page-template-template-murder-mystery .gform_wrapper form label {
	color: #fff;
	font-family: 'Playfair Display', serif !important;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 40px !important;
}

.page-template-template-murder-mystery .gform_wrapper form label span {
	display: none;
}

.page-template-template-murder-mystery .gform_wrapper .gfield_error .gfield_label {
	color: #fff !important;
}

.page-template-template-murder-mystery .gform_wrapper .validation_message,
.page-template-template-murder-mystery .gform_wrapper div.validation_error {
	display: none;
}

.page-template-template-murder-mystery .gform_wrapper form li.gfield.gfield_error {
	margin-bottom: 0 !important;
	border: none !important;
	padding: 0 !important;
}

.page-template-template-murder-mystery .gform_wrapper form input {
	padding: .5em 1em !important;
}

.page-template-template-murder-mystery .gform_wrapper form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #fff;
	background-image: none;
	height: 45px;
	margin-bottom: 0 !important;
}

.page-template-template-murder-mystery .gform_wrapper form .ginput_container_select {
	position: relative;
	display: block;
	height: 45px;
	overflow: hidden;
}

.page-template-template-murder-mystery .gform_wrapper form select {
	width: 100%;
	height: 100%;
	margin: 0;
	color: #424242;
	cursor: pointer;
	border-radius: 0 !important;
}

.page-template-template-murder-mystery .gform_wrapper form select::-ms-expand {
	display: none;
}

/* Arrow */
.page-template-template-murder-mystery .gform_wrapper form .ginput_container_select::after {
	content: "";
	position: absolute;
	top: calc(50% - 5px);
	right: 10px;
	width: 0;
	height: 0;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;
	border-top: 14px solid #424242;
	pointer-events: none;
}

.page-template-template-murder-mystery .gform_wrapper form .gform_button {
	border-radius: 0 !important;
	margin: 0 !important;
	padding: 5px 20px !important;
	line-height: 1;
}

.page-template-template-murder-mystery .max-width p {
	color: #fff;
	font-size: 30px;
	letter-spacing: 1px;
	line-height: 43px;
	text-align: center;
	margin: 2em auto 0;
	max-width: 750px;
}

@media (max-width: 1200px) {
	.page-template-template-murder-mystery .gform_wrapper form .gform_button {
		margin: 2em 0 0 !important;
	}
}

@media (max-width: 960px) {
	.murder-mystery-hero {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	.murder-mystery-hero div h1 {
		font-size: 54px;
		line-height: 70px;
		max-width: 470px;
	}

	.murder-mystery-hero div h2 {
		margin: 0;
		max-width: 470px;
	}
}

@media (max-width: 515px) {
	.murder-mystery-hero div {
		padding: 1em;
	}

	.murder-mystery-hero div h1 {
		font-size: 40px;
		line-height: 50px;
	}

	.murder-mystery-hero div h2 {
		font-size: 24px;
		line-height: 32px;
	}

	.page-template-template-murder-mystery .gform_wrapper form li {
		margin-top: 1em !important;
	}

	.page-template-template-murder-mystery .gform_wrapper form label {
		font-size: 20px;
		line-height: 30px !important;
	}

	.page-template-template-murder-mystery .max-width p {
		font-size: 20px;
		line-height: 30px;
	}
}

@keyframes bounce {

	0%,
	20%,
	50%,
	80%,
	100% {
		transform: translateY(0);
	}

	40% {
		transform: translateY(-5px);
	}

	60% {
		transform: translateY(-5px);
	}
}