@charset "utf-8";

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Bold.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Bold.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Italic.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Italic.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Italic.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Regular.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Regular.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-BoldItalic.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-BoldItalic.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-BoldItalic.ttf') format('truetype');
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Black.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-Black.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Black.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'pdfont';
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-BlackItalic.eot');
	src: url('../fonts/playfairdisplay/subset-PlayfairDisplay-BlackItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-BlackItalic.woff') format('woff'), url('../fonts/playfairdisplay/subset-PlayfairDisplay-BlackItalic.ttf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

.selectize-control.plugin-drag_drop.multi>.selectize-input>div.ui-sortable-placeholder {
	visibility: visible !important;
	background: #f2f2f2 !important;
	background: rgba(0, 0, 0, .06) !important;
	border: 0 !important;
	-webkit-box-shadow: inset 0 0 12px 4px #fff;
	box-shadow: inset 0 0 12px 4px #fff
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
	content: '!';
	visibility: hidden
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

.selectize-dropdown-header {
	position: relative;
	padding: 5px 8px;
	border-bottom: 1px solid #d0d0d0;
	background: #f8f8f8;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.selectize-dropdown-header-close {
	position: absolute;
	right: 8px;
	top: 50%;
	color: #303030;
	opacity: .4;
	margin-top: -12px;
	line-height: 20px;
	font-size: 20px !important
}

.selectize-dropdown-header-close:hover {
	color: #000
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
	border-right: 1px solid #f2f2f2;
	border-top: 0 none;
	float: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}

.selectize-control.plugin-remove_button [data-value] .remove,
.selectize-input {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	display: inline-block
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
	border-right: 0 none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
	display: none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
	border-top: 0 none
}

.selectize-control.plugin-remove_button [data-value] {
	position: relative;
	padding-right: 24px !important
}

.selectize-control.plugin-remove_button [data-value] .remove {
	z-index: 1;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 17px;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: inherit;
	text-decoration: none;
	vertical-align: middle;
	padding: 2px 0 0;
	border-left: 1px solid #0073bb;
	-webkit-border-radius: 0 2px 2px 0;
	-moz-border-radius: 0 2px 2px 0;
	border-radius: 0 2px 2px 0;
	box-sizing: border-box
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
	background: rgba(0, 0, 0, .05)
}

.selectize-control.plugin-remove_button [data-value].active .remove {
	border-left-color: #00578d
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
	background: 0 0
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
	border-left-color: #aaa
}

.selectize-control.plugin-remove_button .remove-single {
	position: absolute;
	right: 28px;
	top: 6px;
	font-size: 23px
}

.selectize-control,
.selectize-input {
	position: relative
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	color: #303030;
	font-family: inherit;
	font-size: 13px;
	line-height: 18px;
	-webkit-font-smoothing: inherit
}

.selectize-control.single .selectize-input.input-active,
.selectize-input {
	background: #fff;
	cursor: text;
	display: inline-block
}

.selectize-input {
	border: 1px solid #d0d0d0;
	padding: 8px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	box-sizing: border-box;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .1);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.selectize-control.multi .selectize-input.has-items {
	padding: 5px 8px 2px
}

.selectize-input.full {
	background-color: #fff
}

.selectize-input.disabled,
.selectize-input.disabled * {
	cursor: default !important
}

.selectize-input.focus {
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, .15)
}

.selectize-input.dropdown-active {
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0
}

.selectize-input>* {
	vertical-align: baseline;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1
}

.selectize-control.multi .selectize-input>div {
	cursor: pointer;
	margin: 0 3px 3px 0;
	padding: 2px 6px;
	background: #1da7ee;
	color: #fff;
	border: 1px solid #0073bb
}

.selectize-control.multi .selectize-input>div.active {
	background: #92c836;
	color: #fff;
	border: 1px solid #00578d
}

.selectize-control.multi .selectize-input.disabled>div,
.selectize-control.multi .selectize-input.disabled>div.active {
	color: #fff;
	background: #d2d2d2;
	border: 1px solid #aaa
}

.selectize-input>input {
	display: inline-block !important;
	padding: 0 !important;
	min-height: 0 !important;
	max-height: none !important;
	max-width: 100% !important;
	margin: 0 1px !important;
	text-indent: 0 !important;
	border: 0 !important;
	background: 0 0 !important;
	line-height: inherit !important;
	-webkit-user-select: auto !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important
}

.selectize-input>input::-ms-clear {
	display: none
}

.selectize-input>input:focus {
	outline: 0 !important
}

.selectize-input::after {
	content: ' ';
	display: block;
	clear: left
}

.selectize-input.dropdown-active::before {
	content: ' ';
	display: block;
	position: absolute;
	background: #f0f0f0;
	height: 1px;
	bottom: 0;
	left: 0;
	right: 0
}

.selectize-dropdown {
	position: absolute;
	z-index: 10;
	border: 1px solid #d0d0d0;
	background: #fff;
	margin: -1px 0 0;
	border-top: 0 none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px
}

.selectize-dropdown [data-selectable] {
	cursor: pointer;
	overflow: hidden
}

.selectize-dropdown [data-selectable] .highlight {
	background: rgba(125, 168, 208, .2);
	-webkit-border-radius: 1px;
	-moz-border-radius: 1px;
	border-radius: 1px
}

.selectize-dropdown .optgroup-header,
.selectize-dropdown [data-selectable] {
	padding: 5px 8px
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
	border-top: 0 none
}

.selectize-dropdown .optgroup-header {
	color: #303030;
	background: #fff;
	cursor: default;
	padding-top: 7px;
	font-weight: 700;
	font-size: .85em
}

.selectize-dropdown .active {
	background-color: #f5fafd;
	color: #495c68
}

.selectize-dropdown .active.create {
	color: #495c68
}

.selectize-dropdown .create {
	color: rgba(48, 48, 48, .5)
}

.selectize-dropdown-content {
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 200px;
	-webkit-overflow-scrolling: touch
}

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
	cursor: pointer
}

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
	cursor: text
}

.selectize-control.single .selectize-input:after {
	content: ' ';
	display: block;
	position: absolute;
	top: 50%;
	right: 15px;
	margin-top: -3px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 5px 5px 0;
	border-color: grey transparent transparent
}

.selectize-control.single .selectize-input.dropdown-active:after {
	margin-top: -4px;
	border-width: 0 5px 5px;
	border-color: transparent transparent grey
}

.selectize-control.rtl.single .selectize-input:after {
	left: 15px;
	right: auto
}

.selectize-control.rtl .selectize-input>input {
	margin: 0 4px 0 -2px !important
}

.selectize-control .selectize-input.disabled {
	opacity: .5;
	background-color: #fafafa
}

.selectize-control.multi .selectize-input.has-items {
	padding-left: 5px;
	padding-right: 5px
}

.selectize-control.multi .selectize-input.disabled [data-value] {
	color: #999;
	text-shadow: none;
	background: 0 0;
	-webkit-box-shadow: none;
	box-shadow: none
}

.selectize-control.multi .selectize-input.disabled [data-value],
.selectize-control.multi .selectize-input.disabled [data-value] .remove {
	border-color: #e6e6e6
}

.selectize-control.multi .selectize-input.disabled [data-value] .remove {
	background: 0 0
}

.selectize-control.multi .selectize-input [data-value] {
	text-shadow: 0 1px 0 rgba(0, 51, 83, .3);
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	background-color: #1b9dec;
	background-image: -moz-linear-gradient(top, #1da7ee, #178ee9);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
	background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
	background-image: -o-linear-gradient(top, #1da7ee, #178ee9);
	background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .2), inset 0 1px rgba(255, 255, 255, .03);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .2), inset 0 1px rgba(255, 255, 255, .03)
}

.selectize-control.multi .selectize-input [data-value].active {
	background-color: #0085d4;
	background-image: -moz-linear-gradient(top, #008fd8, #0075cf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fd8), to(#0075cf));
	background-image: -webkit-linear-gradient(top, #008fd8, #0075cf);
	background-image: -o-linear-gradient(top, #008fd8, #0075cf);
	background-image: linear-gradient(to bottom, #008fd8, #0075cf);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008fd8', endColorstr='#ff0075cf', GradientType=0)
}

.selectize-control.single .selectize-input {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, .05), inset 0 1px 0 rgba(255, 255, 255, .8);
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05), inset 0 1px 0 rgba(255, 255, 255, .8);
	background-color: #f9f9f9;
	background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
	background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
	background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0)
}

.selectize-control.single .selectize-input,
.selectize-dropdown.single {
	border-color: #b8b8b8
}

.selectize-dropdown .optgroup {
	border-top: 1px solid #f0f0f0
}

.selectize-dropdown .optgroup:first-child {
	border-top: 0 none
}

.selectize-control.single .selectize-input input {
	width: 1px !important;
	height: 1px !important;
}

.chrome .selectize-control.single .selectize-input,
.selectize-input {
	line-height: 22px;
}

.wrp {
	max-width: 1024px;
	margin: 0 auto;
	display: block;
	padding: 0;
}

.clfx {
	zoom: 1;
}

.clfx::after,
.clfx::before {
	content: "";
	display: table;
}

.clfx::after {
	clear: both;
}

.table_block,
.navbarnav__mob,
.mobile_block {
	display: none;
}

.vcont {
	display: table;
	width: 100%;
	height: 100%;
}

.vcont>.vcont__inc {
	display: table-cell;
	vertical-align: middle;
}

.newheader .navbar-default {
	background: #333;
	border-bottom: none;
}

header[role="banner"].newheader #account span.hello {
	font-size: 12px;
	color: #adadad;
	letter-spacing: .9px;
	font-weight: 400;
}

header[role="banner"].newheader .newhome.container-fluid {
	max-width: 1400px;
}

header[role="banner"].newheader #account .logout {
	margin: 0 5px 0 0;
}

header[role="banner"].newheader #account .myaccount a,
header[role="banner"].newheader #account .logout a,
header[role="banner"].newheader #account a.login {
	font-size: 12px;
	letter-spacing: .9px;
	color: #adadad;
	line-height: 80px;
	font-weight: 400;
}

header[role="banner"].newheader #account span.woocommerce-Price-amount {
	color: #adadad;
	font-size: 13px;
	font-weight: 400;
}

header[role="banner"].newheader #account span.cart-contents:hover,
header[role="banner"].newheader #account span.cart-contents {
	background: url("../img/cart.svg") no-repeat 5px 0;
	background-size: 26px;
}

header[role="banner"].newheader #account span.cart-contents {
	margin: -52px 0 0;
}

header[role="banner"].newheader #account span.cart-contents span.total {
	line-height: 2em;
}

.newheader_t {
	height: 74px;
	overflow: hidden;
}

.newheader_t+.nreachdynamics {
	position: absolute;
}

#topbanner {
	padding: 80px 0 100px 0;
	overflow: hidden;
}

#topbanner .banner_cont {
	position: relative;
	padding: 0 50% 0 0;
}

#topbanner .banner_cont .banner_text__img {
	max-widht: 50%;
	position: absolute;
	left: 50%;
	top: -25px;
}

#topbanner .banner_cont .banner_text__img.banner_text__img__m {
	display: none;
}

#topbanner .banner_text__subtitle {
	margin: 0;
	position: relative;
	text-transform: uppercase;
	font-size: 16px;
	color: #575655;
	letter-spacing: .9px;
	text-align: center;
}

#topbanner .banner_text__subtitle::before {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	top: 50%;
	left: 50%;
	background: #cac8c6;
	max-width: 340px;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

#topbanner .banner_text__subtitle span {
	display: inline-block;
	padding: 0 15px;
	position: relative;
	z-index: 2;
}

#topbanner .banner_text__title {
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 60px;
	color: #000;
	line-height: 64px;
	margin: 10px 0;
	text-transform: uppercase;
	text-align: center;
}

#topbanner .banner_text__text {
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	color: #8b8a89;
	line-height: 26px;
	letter-spacing: .9px;
	margin: 0;
}

#topbanner .banner_text__button {
	margin: 30px 0 0 0;
	text-align: center;
}

#topbanner .nbtn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

#topbanner .nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

#ntesti {
	height: 145px;
	background: #ececec;
	border-top: 1px solid #dadada;
	border-bottom: 1px solid #dadada;
	padding: 30px 0 20px;
}

#ntesti .testi {
	text-align: center;
}

#ntesti .testi .testi__text {
	text-transform: uppercase;
	font-size: 14px;
	color: #515151;
	letter-spacing: .9px;
	position: relative;
	padding: 0 30px;
}

#ntesti .testi .testi__text::after,
#ntesti .testi .testi__text::before {
	content: "";
	width: 22px;
	height: 22px;
	position: absolute;
	top: 0;
}

#ntesti .testi .testi__text::before {
	left: -30px;
	background: url("../img/two-quotes2.svg") no-repeat 50% 50%;
	background-size: 22px;
}

#ntesti .testi .testi__text::after {
	right: -30px;
	background: url("../img/two-quotes.svg") no-repeat 50% 50%;
	background-size: 22px;
	top: 8px;
}

#ntesti .testi .testi__text p {
	margin: 0;
}

#ntesti .testi .testi__aut {
	margin: 0;
	font-size: 14px;
	color: #515151;
	font-style: italic;
	font-family: 'pdfont', serif;
}

#ntesti .slick-arrow {
	position: absolute;
	top: 50%;
	width: 18px;
	height: 18px;
	padding: 0;
	left: inherit;
}

#ntesti .slick-prev {
	background: url("../img/001-back.svg") no-repeat 50% 50%;
	background-size: 18px;
	right: -62px;
}

#ntesti .slick-next {
	background: url("../img/002-next.svg") no-repeat 50% 50%;
	background-size: 18px;
	right: -86px;
}

.nprows {
	padding: 80px 0;
	background: #fff;
}

.nprows .nprows__title {
	font-family: brandon_grotesquemedium;
	font-size: 33px;
	font-weight: 400;
	color: #268388;
	text-align: center;
	margin: 0;
	letter-spacing: .7px;
}

.nprows .nprows__subtitle {
	font-style: italic;
	font-family: 'pdfont', serif;
	font-size: 15px;
	font-weight: 400;
	color: #737373;
	text-align: center;
	margin: 10px 0 50px 0;
	letter-spacing: .4px;
}

.nprows .nprows__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.nprows .nprows__el {
	flex-grow: 1;
	margin: 0 0 20px 0;
}

.nprows1 .nprows__row {
	justify-content: center;
}

.nprows1 .nprows__row .nprows__el {
	flex-grow: 0;
	margin: 0 20px 20px 20px;
}

.nprows .nblock {
	position: relative;
	max-width: 318px;
	border: 1px solid #bfbfbf;
	text-align: center;
	padding: 0 0 25px 0;
	margin: 0 auto;
}

.nprows .block__img {
	max-width: 100%;
	height: auto;
	border-bottom: 1px solid #bfbfbf;
}

.nprows .block__title {
	padding: 0 30px;
	margin: 25px 0 0 0;
	font-weight: 400;
	font-size: 18px;
	color: #000;
}

.nprows .block__subtitle {
	padding: 0 30px;
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	margin: 0;
	color: #808080;
}

.nprows .block__link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: background .5s;
	transition: background .5s;
}

.nprows .block__link:hover {
	background: rgba(255, 255, 255, 0.3);
}

.nprows .nprows__bsec {
	margin: 40px 0 0 0;
	text-align: center;
}

.nprows .nbtn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.nprows .nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.nprows .block__num {
	height: 40px;
	width: 40px;
	line-height: 34px;
	text-align: center;
	background: #5f5854;
	font-family: 'pdfont', serif;
	font-size: 20px;
	color: #fff;
	position: absolute;
	top: 0;
	left: 0;
}

.nprows .nblock__withimg {
	height: 60px;
}

.nprows2 .block__title {
	font-size: 16px;
	margin-bottom: 10px;
	line-height: 24px;
}

.nprows2 .block__subtitle {
	line-height: 22px;
	letter-spacing: 0.8px;
}

.nprows3 {
	background: #f5f5f5;
	border-top: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
}

.nprows3 .nprows__el {
	max-width: 190px;
}

.nprows3 .block__subtitle {
	margin: 10px 0 0 0;
	font-size: 14px;
}

.nprows3 .block__title {
	margin: 5px 0 0 0;
	font-size: 15px;
}

.nprows4 .nprows__title {
	margin: 0 0 50px 0;
}

.nprows4 .block__num {
	height: auto;
	line-height: 20px;
	width: auto;
	padding: 10px;
}

.nprows4 .block__title {
	text-align: left;
	font-size: 15px;
	margin: 20px 0 10px 0;
	letter-spacing: 2px;
	line-height: 23px;
}

.nprows4 .block__subtitle {
	letter-spacing: 0;
	text-align: left;
	font-family: 'pdfont', serif;
	font-size: 14px;
	line-height: 23px;
	color: #808080;
}

.nprows4 .block__subtitle a {
	font-family: 'pdfont', serif;
	font-size: 14px;
	line-height: 23px;
	color: #501516;
}

.nprowsb {
	background: #3e3a38;
	padding: 50px 0;
}

.nprowsb .nprowsb__cont {
	position: relative;
	padding: 0 0 0 230px;
	text-transform: uppercase;
	font-size: 16px;
	color: #fff;
	letter-spacing: .7px;
}

.nprowsb .nprowsb__cont p {
	margin: 0;
}

.nprowsb .nprowsb__cont a {
	text-decoration: underline;
	color: #fff;
}

.nprowsb .nprowsb__cont a:hover {
	text-decoration: none;
}

.nprowsb .nprowsb__cont .nprowsb__cont__img {
	position: absolute;
	top: -5px;
	left: 125px;
	width: 75px;
	opacity: .8;
	filter: alpha(opacity=80);
}

.winside {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
	padding: 80px 0;
	text-align: center;
	border-bottom: 1px solid #bcb9b6;
	overflow: hidden;
}

.winside .winside__title {
	letter-spacing: .4px;
	text-decoration: underline;
	font-size: 33px;
	color: #000;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	margin: 0 0 50px 0;
}

.winside .winside__bsec {
	margin: 0;
}

.winside .nbtn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.winside .nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.winside .pcont {
	min-height: 525px;
	position: relative;
}

.winside .pblock .pblock__img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	height: auto;
}

.winside .pblock .pblock__title {
	font-size: 15px;
	line-height: 22px;
	color: #000;
	margin: 0;
	text-transform: uppercase;
	letter-spacing: .4px;
	font-family: brandon_grotesquemedium;
	font-weight: 600;
}

.winside .pblock {
	position: absolute;
}

.winside .pblock1 {
	left: -54px;
	top: 44px;
}

.winside .pblock2 {
	left: 240px;
	top: 43px;
}

.winside .pblock3 {
	left: 440px;
	top: 45px;
}

.winside .pblock4 {
	left: 401px;
	bottom: 92px;
}

.winside .pblock5 {
	right: 252px;
	top: 42px;
}

.winside .pblock6 {
	right: 283px;
	bottom: 74px;
}

.winside .pblock7 {
	right: -41px;
	top: 45px;
}

footer.nfooter {
	margin: 0;
	padding: 0;
	background: #333;
	clear: both;
}

footer.nfooter p {
	min-height: inherit;
}

.nfooter .wrp {
	max-width: 1320px;
}

.nfooter .nfooter__top {
	text-align: center;
	padding: 35px;
	background: #333;
	border-bottom: 1px solid #515151;
}

.nfooter .nfooter__top .nfooter__logo {
	display: block;
	max-width: 200px;
	margin: 0 auto;
}

.nfooter .nfooter__top .nfooter__soc {
	margin: 20px 0 0 0;
}

.nfooter .nfooter__top .nfooter__soc i,
.nfooter .nfooter__top .nfooter__soc a {
	color: #999;
	font-size: 20px;
	margin: 0 2px;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.nfooter .nfooter__top .nfooter__soc a:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.nfooter .colr {
	padding: 0 5% 0 0;
}

.nfooter .colr::after {
	content: "";
	display: table;
	clear: both;
}

.nfooter .col {
	width: 20%;
	display: inline-block;
	vertical-align: top;
}

.nfooter .nfooter__bott {
	padding: 20px 0;
}

.nfooter .fmenu ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.nfooter .fmenu ul li {
	padding: 0;
	margin: 0;
	background: none;
}

.nfooter .fmenu ul li a {
	font-size: 11px;
	text-transform: uppercase;
	line-height: 21px;
	color: #adadad;
}

.nfooter .fmenu ul li a:hover {
	text-decoration: underline;
}

.nfooter .ctext {
	font-family: brandon_grotesquemedium;
	font-size: 11px;
	line-height: 18px;
	color: #9e9e9e;
}

.nnewsl .nnewsl__title {
	font-family: brandon_grotesquemedium;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	line-height: 21px;
}

.nnewsl .nnewsl__text {
	font-family: brandon_grotesquemedium;
	margin: 15px 0 0 0;
	font-size: 12px;
	font-weight: 400;
	color: #9e9e9e;
	line-height: 18px;
}

.nnewsl #mc-embedded-subscribe-form input[type="email"] {
	border-right: 2px solid #333 !important;
	margin-right: 2px;
	background: #5c5c5c;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	color: #fff;
	padding: 0 15px;
	font-size: 14px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	height: 36px;
	line-height: 36px;
}

.nnewsl #mc-embedded-subscribe-form input[type="submit"] {
	background: #999 !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	border: none !important;
	color: #000 !important;
	text-transform: uppercase !important;
	font-size: 13px !important;
	font-weight: 700 !important;
	height: 36px !important;
	line-height: 18px !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.nnewsl #mc-embedded-subscribe-form input[type="submit"]:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.nfooter .nfooter__m {
	display: none;
}

.nptitle {
	background: #f5f5f5;
	padding: 50px 0;
}

.nptitle .nptitle__title {
	text-align: center;
	font-family: brandon_grotesquemedium;
	font-size: 40px;
	font-weight: 400;
	letter-spacing: 1px;
	margin: 0;
	color: #000;
}

.npropprod {
	background: #fff;
	padding: 50px 0 70px 0;
}

.npropprod.npropprod__m {
	display: none;
}

.npropprod .npropprod__title {
	text-align: center;
	margin: 0 0 10px 0;
	font-size: 30px;
	color: #268388;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	letter-spacing: 1px;
}

.npropprod .npropprod__subtitle {
	font-family: 'pdfont', serif;
	font-size: 15px;
	font-style: italic;
	color: #737373;
	margin: 0 0 50px 0;
	text-align: center;
}

.npropprod .npropprod__row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.npropprod .npropprod__el {
	flex-grow: 1;
	margin: 0 0 30px 0;
	position: relative;
	padding: 0 0 40px 0;
}

.npropprod .box {
	max-width: 200px;
	margin: 0 auto;
}

.npropprod .box__img {
	border: 1px solid #bfbfbf;
}

.npropprod .box__img img {
	display: block;
	margin: 0 auto;
	max-widht: 100%;
	height: auto;
}

article.post .woocommerce h3.box__title,
.npropprod .box__title {
	font-family: brandon_grotesquemedium;
	font-size: 14px;
	font-weight: 400;
	color: #000;
	line-height: 22px;
	margin: 20px 0 10px 0;
	text-align: center;
	text-transform: uppercase;
	border-bottom: none;
}

.npropprod .box__price {
	text-align: center;
	font-family: brandon_grotesquemedium;
	font-size: 15px;
	color: #343434;
	margin: 0 0 13px 0;
}

.npropprod .box__btncnt {
	margin: 0;
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.npropprod .box__btn {
	display: inline-block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 17px;
	background: #333;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.npropprod .box__btn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

article.post .woocommerce .npropprod .box__btn {
	color: #fff;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
}

article.post .woocommerce .npropprod .box__btn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

article.post .woocommerce .npropprod p.add_to_cart_inline {
	border: none !important;
	padding: 0 !important;
	text-align: center;
	position: static;
}

article.post .woocommerce .npropprod p.add_to_cart_inline del {
	display: none;
}

article.post .woocommerce .npropprod p.add_to_cart_inline ins {
	text-decoration: none;
}

article.post .woocommerce .npropprod p.add_to_cart_inline .woocommerce-Price-amount {
	display: block;
	font-family: brandon_grotesquemedium;
	font-size: 15px;
	color: #343434;
	margin: 0 0 13px 0;
}

article.post .woocommerce .npropprod p.add_to_cart_inline .add_to_cart_button {
	font-family: brandon_grotesquemedium;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	border: none;
	display: inline-block;
	font-size: 12px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 10px 17px;
	background: #333;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	max-width: inherit;
	width: 125px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
	-ms-transform: translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
}

article.post .woocommerce .npropprod p.add_to_cart_inline .add_to_cart_button:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

#woocommerce_checkout .shopbox {
	display: none;
}

#woocommerce_checkout .shop_table {
	display: table;
}

.bnpropprod {
	margin-top: 30px;
}

.bnpropprod .npropprod__title {
	margin: 0 0 50px 0;
}

article.post .woocommerce table.ncartt thead {
	background: #f2f2f2;
}

article.post .woocommerce table.ncartt thead th {
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	font-size: 14px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 14px 15px 11px;
}

article.post .woocommerce .woocommerce-message {
	margin: 20px 0;
}

article.post .woocommerce table.ncartt td.product-thumbnail img {
	border: 1px solid #bfbfbf;
}

article.post .woocommerce table.ncartt td.product-name,
article.post .woocommerce table td.product-total,
article.post .woocommerce table td.product-remove,
article.post .woocommerce table td.product-thumbnail,
article.post .woocommerce table td.product-price,
article.post .woocommerce table td.product-quantity,
article.post .woocommerce table td.product-subtotal {
	border-bottom: none;
}

article.post .woocommerce table.ncartt td.product-thumbnail {
	max-width: 80px;
}

article.post .woocommerce table.ncartt td.product-subtotal,
article.post .woocommerce table.ncartt td.product-price,
article.post .woocommerce table.ncartt td.product-name {
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	font-size: 16px;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 1px;
	vertical-align: top;
}

article.post .woocommerce table.ncartt td.product-name a {
	color: #000;
}

article.post .woocommerce table.ncartt td.product-subtotal .subscription-details,
article.post .woocommerce table.ncartt td.product-price .subscription-details {
	font-size: 12px;
}

article.post .woocommerce table.ncartt td.product-price,
article.post .woocommerce table.ncartt thead th.product-price {
	text-align: right;
}

article.post .woocommerce table.ncartt td.product-thumbnail img {
	width: 78px;
	height: auto;
}

article.post .woocommerce table.ncartt thead th.product-quantity,
article.post .woocommerce table.ncartt td.product-quantity {
	text-align: center;
}

article.post .woocommerce table.ncartt td.product-remove,
article.post .woocommerce table.ncartt td.product-quantity {
	vertical-align: top;
}

article.post .woocommerce form .ncartt input[type="number"] {
	width: 100%;
	text-align: center;
	padding: 5px;
	-moz-appearance: textfield;
	border: none;
}

article.post .woocommerce form .ncartt input[type="number"]::-webkit-inner-spin-button,
article.post .woocommerce form .ncartt input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

article.post .woocommerce form .ncartt td.product-quantity .quantity {
	position: relative;
	max-width: 50px;
	border: 1px solid #ddd;
	margin: 0 auto;
}

article.post .woocommerce form .ncartt td.product-quantity .quantity-button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

article.post .woocommerce form .ncartt td.product-quantity .quantity-button.quantity-down {
	right: -25px;
	background: url('../img/001-sign.svg') no-repeat 50% 50%;
	background-size: cover;
}

article.post .woocommerce form .ncartt td.product-quantity .quantity-button.quantity-up {
	left: -25px;
	background: url('../img/002-add-circular-outlined-button.svg') no-repeat 50% 50%;
	background-size: cover;
}

article.post .woocommerce form .ncartt a.remove {
	background: #268388 url('../img/003-delete.svg') no-repeat 50% 50%;
	background-size: 10px;
	width: 18px;
	height: 18px;
	line-height: 18px;
	font-size: 18px;
	text-align: center;
	padding: 0;
	margin: 5px 0 0 0;
	color: transparent;
}

article.post .woocommerce table.ncartt td {
	padding: 20px 15px;
}

article.post .woocommerce table.ncartt td.ncartt .addition_space {
	height: 25px;
	padding: 0;
}

.ncartt .subtotalr {
	border-top: 1px solid #d9d9d9;
	text-align: right;
	font-size: 21px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	color: #343434;
	letter-spacing: normal;
}

.ncartt .subtotalr .subtotalr__text {
	font-size: 13px;
	color: #8d8d8d;
}

article.post .woocommerce table.ncartt td.actions {
	background: #f2f2f2;
	padding: 16px;
}

article.post .woocommerce form .ncartt td.actions input {
	padding: 17px 35px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: none !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-size: 15px !important;
	font-weight: 700 !important;
	font-family: brandon_grotesquemedium !important;
	margin: 0 !important;
}

article.post .woocommerce form .ncartt td.actions input.button {
	background: #a9a9a9 !important;
}

article.post .woocommerce form .ncartt td.actions input#woocommerce_checkout_process {
	background: #303030 !important;
}

.shopbox .shopbox__title {
	background: #f2f2f2;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: .9px;
	color: #6d6d6d;
}

.shopbox .sbox {
	padding: 25px 15px;
	border-bottom: 1px solid #d9d9d9;
}

.shopbox .sbox::after {
	content: "";
	display: table;
	clear: both;
}

.shopbox .product-thumbnail {
	float: left;
	width: 25%;
}

.shopbox .product-thumbnail img {
	border: 1px solid #bfbfbf;
	display: block;
	margin: 0 auto;
	max-widht: 100%;
	height: auto;
}

.shopbox .productcont {
	float: right;
	width: 75%;
	padding: 0 0 0 17px;
}

.shopbox .productcont .productcont__title {
	margin: 0 0 15px 0;
	font-size: 14px;
	line-height: 22px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	text-transform: uppercase;
}

.shopbox .productcont .productcont__title a {
	font-family: brandon_grotesquemedium !important;
	color: #000 !important;
}

.shopbox .productcont__meta {
	margin: 0 0 10px 0;
	position: relative;
}

.shopbox .productcont__meta .productcont__meta__text {
	display: inline-block;
	margin: 0 20px 0 0;
	text-transform: uppercase;
	vertical-align: -1px;
	color: #8d8d8d;
	font-size: 13px;
}

.shopbox .prod {
	font-size: 15px;
	letter-spacing: .9px;
	color: #000;
	text-transform: uppercase;
}

.shopbox .prod .subscription-details,
.shopbox .prod .text {
	color: #8d8d8d;
	font-size: 13px;
}

.shopbox .quantity {
	display: inline-block;
	position: relative;
	max-width: 50px;
	border: 1px solid #ddd;
	margin: 0 auto;
}

.shopbox .quantity input[type="number"] {
	width: 100% !important;
	text-align: center;
	padding: 5px !important;
	-moz-appearance: textfield;
	border: none !important;
}

.shopbox .quantity input[type="number"]::-webkit-inner-spin-button,
.shopbox .quantity input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.shopbox .quantity .quantity-button {
	cursor: pointer;
	position: absolute;
	top: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	width: 18px;
	height: 18px;
	transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
}

.shopbox .quantity .quantity-button.quantity-up {
	right: -25px;
	background: url('../img/001-sign.svg') no-repeat 50% 50%;
	background-size: cover;
}

.shopbox .quantity .quantity-button.quantity-down {
	left: -25px;
	background: url('../img/002-add-circular-outlined-button.svg') no-repeat 50% 50%;
	background-size: cover;
}

article.post .woocommerce form .shopbox a.remove {
	background: #268388 url('../img/003-delete.svg') no-repeat 50% 50%;
	background-size: 10px;
	width: 18px;
	height: 18px;
	line-height: 16px;
	font-size: 18px;
	text-align: center;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 10px;
	left: 115px;
	color: transparent;
}

.shopbox .shopbox__subtotalr {
	text-align: right;
	padding: 18px 20px;
	font-size: 18px;
	color: #000;
	line-height: 18px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
}

.shopbox .shopbox__subtotalr .subtotalr__text {
	font-size: 13px;
	text-transform: uppercase;
	color: #8d8d8d;
}

.shopbox .shopbox__btn {
	background: #f2f2f2;
	padding: 12px;
}

.shopbox .shopbox__btn::after {
	content: "";
	display: table;
	clear: both;
}

article.post .woocommerce .shopbox .shopbox__btn input {
	padding: 17px !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	border: none !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	font-family: brandon_grotesquemedium !important;
	margin: 0 !important;
	line-height: 14px !important;
	letter-spacing: normal !important;
}

article.post .woocommerce .shopbox .shopbox__btn input.button {
	background: #a9a9a9 !important;
	width: 38%;
	float: left;
}

article.post .woocommerce .shopbox .shopbox__btn input#woocommerce_checkout_process {
	background: #303030 !important;
	width: 60%;
	float: right
}

.nptopbanner {
	height: 512px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	background: #fff;
	border-bottom: 1px solid #bbb8b7;
}

.nptopbanner::after {
	content: "";
	display: table;
	clear: both;
}

.nptopbanner .nptopbanner__img,
.nptopbanner .nptopbanner__cont {
	display: inline-block;
	vertical-align: top;
	height: 100%;
	width: 50%;
	float: left;
}

.nptopbanner .nptopbanner__img {
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.nptopbanner .nptopbanner__img img {
	display: none;
	max-width: 100%;
	height: auto;
	margin: 0 auto;
}

.nptopbanner .nptopbanner__sec {
	text-align: center;
	max-width: 380px;
	margin: 0 auto;
}

.nptopbanner .nptopbanner__subtitle {
	margin: 0;
	text-transform: uppercase;
	position: relative;
	font-weight: 500;
	font-size: 16px;
	color: #575655;
	line-height: 16px;
	letter-spacing: 1px;
}

.nptopbanner .nptopbanner__subtitle::before {
	content: "";
	width: 210px;
	height: 1px;
	background: #cac8c6;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.nptopbanner .nptopbanner__subtitle span {
	display: inline-block;
	position: relative;
	background: #fff;
	padding: 0 20px;
	z-index: 1;
}

.nptopbanner .nptopbanner__title {
	text-transform: uppercase;
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 54px;
	color: #000;
	margin: 0 0 15px 0;
}

.nptopbanner .nptopbanner__text {
	font-size: 16px;
	line-height: 24px;
	color: #8b8a89;
	letter-spacing: .8px;
	margin: 0 auto 10px auto;
	max-width: 320px;
}

.nptopbanner .nptopbanner__text p {
	margin: 10px 0;
}

.nptopbanner .add_to_cart_inline .add_to_cart_button {
	display: block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	border: none;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin: 25px auto 0 auto;
	width: 160px;
	max-width: inherit;
}

.nptopbanner .add_to_cart_inline .add_to_cart_button:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.nptopbanner .add_to_cart_inline .subscription-details,
.nptopbanner .add_to_cart_inline .woocommerce-Price-amount {
	font-size: 28px;
	display: inline-block;
	vertical-align: baseline;
	color: #754e3d;
}

.nptopbanner .add_to_cart_inline .subscription-details {
	font-size: 18px;
	clear: right;
}

.testiblock {
	background: #fff;
	padding: 80px 0;
}

.testiblock .testiblock__title {
	text-align: center;
	font-size: 33px;
	line-height: 36px;
	color: #268388;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	margin: 0 0 40px 0;
	letter-spacing: 1px;
}

.testiblock .testiblock__videos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 0 40px 0;
}

.testiblock .testiblock__videos .tblock {
	margin: 10px;
	position: relative;
	width: 210px;
}

.testiblock .testiblock__videos .tblock .tblock__img {
	position: relative;
	overflow: hidden;
}

.testiblock .testiblock__videos .tblock .tblock__img::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: url('../img/play-circle.svg') no-repeat 50% 50% rgba(0, 0, 0, 0.5);
	background-size: 60px;
}

.testiblock .testiblock__videos .tblock .tblock__title {
	background: #fff;
	border: 1px solid #bfbfbf;
	border-top: none;
	text-align: center;
	margin: 0;
	padding: 14px;
	text-transform: uppercase;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	color: #000;
	font-size: 15px;
	line-height: 21px;
	letter-spacing: 2px;
}

.testiblock .testiblock__videos .tblock .link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.testiblock .testiblock__bsec {
	margin: 40px 0 0 0;
	text-align: center;
}

.testiblock .testiblock__bsec .nbtn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.testiblock .testiblock__bsec .nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.testiblock .testiblock__rew {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.testiblock .testiblock__rew .tblock {
	margin: 10px;
	width: 210px;
}

.testiblock .testiblock__rew .tblock .tblock__meta {
	position: relative;
	height: 17px;
	overflow: hidden;
	margin: 0 0 12px 0;
}

.testiblock .testiblock__rew .tblock .tblock__stars {
	position: absolute;
	top: 0;
	left: 0;
	height: 16px;
	width: 92px;
	background: url('../img/ntstars.png') no-repeat 0 0;
}

.testiblock .testiblock__rew .tblock .tblock__stars.tblock__stars1 {
	background-position: -75px 0;
}

.testiblock .testiblock__rew .tblock .tblock__stars.tblock__stars2 {
	background-position: -56px 0;
}

.testiblock .testiblock__rew .tblock .tblock__stars.tblock__stars3 {
	background-position: -38px 0;
}

.testiblock .testiblock__rew .tblock .tblock__stars.tblock__stars4 {
	background-position: -19px 0;
}

.testiblock .testiblock__rew .tblock .tblock__time {
	line-height: 14px;
	position: absolute;
	top: 0;
	right: 0;
	width: 100px;
	overflow: hidden;
	text-align: right;
	font-size: 14px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	color: #737373;
}

.testiblock .testiblock__rew .tblock .tblock__title {
	margin: 0 0 12px 0;
	font-family: 'pdfont', serif;
	font-weight: 700;
	font-size: 15px;
	line-height: 20px;
	color: #524c49;
	text-transform: none;
}

.testiblock .testiblock__rew .tblock .tblock__author,
.testiblock .testiblock__rew .tblock .tblock__text {
	font-size: 14px;
	line-height: 20px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	color: #737373;
	margin: 0 0 5px 0;
}

.testiblock .testiblock__rew .tblock .tblock__author {
	margin: 0;
}

#ngpag {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.5);
}

#ngpagcont.active,
#ngpag.active {
	display: block;
}

#ngpagcont {
	display: none;
	z-index: 1001;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 680px;
	height: 430px;
	background: #fff;
	padding: 20px;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

#ngpagcont .nclose {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 30px;
	height: 30px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #333 url('../img/003-delete.svg') no-repeat 50% 50%;
	background-size: 10px;
}

.ptinstbl {
	background: #fff;
	padding: 70px 0;
	text-align: center;
}

.ptinstbl .ptinstbl__title {
	font-size: 33px;
	line-height: 36px;
	color: #268388;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	margin: 0 0 40px 0;
	letter-spacing: 1px;
}

.ptinstbl .ptinstbl__bsec {
	margin: 40px 0 0 0;
	text-align: center;
}

.ptinstbl .nbtn {
	display: inline-block;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 15px 35px;
	background: #313131;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
}

.ptinstbl .nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.instcont::after {
	display: table;
	content: "";
	clear: both;
}

.instcont .inst_img {
	display: inline-block;
	vertical-align: top;
	float: left;
	width: 20%;
	overflow: hidden;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	position: relative;
}

.instcont .inst_img::after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.instcont .inst_img img {
	max-widht: 100%;
	height: auto;
	display: none;
	margin: 0 auto;
}

.instcont .inst_img a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}

.instcont .inst_img.vid::before {
	content: "";
	width: 32px;
	height: 32px;
	position: absolute;
	top: 8px;
	right: 11px;
	z-index: 1;
	background: url('../img/instvid.png') no-repeat 50% 50%;
}

.chccont {
	background: #fff;
	padding: 35px 0;
}

.chccont .chccont__pag {
	position: relative;
	border-bottom: 1px solid #ccc;
	padding: 10px 0;
	margin: 0 0 50px 0;
}

.chccont .chccont__pag .pag {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.chccont .chccont__pag .pag li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 40px 0 0;
	background: none;
}

.chccont .chccont__pag .pag li::after {
	content: ">";
	position: absolute;
	right: 15px;
	top: -4px;
	ont-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #a3a3a3;
}

.chccont .chccont__pag .pag li:last-child {
	padding: 0;
}

.chccont .chccont__pag .pag li:last-child::after {
	display: none;
}

.chccont .chccont__pag .pag span,
.chccont .chccont__pag .pag a {
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #a3a3a3;
	display: block;
	line-height: 14px;
}

.chccont .chccont__pag .pag a span {
	text-decoration: none;
}

.chccont .chccont__pag .pag a span.mobile {
	display: none;
}

.chccont .chccont__pag .pag a.active,
.chccont .chccont__pag .pag a.active span {
	color: #000;
}

.chccont .chccont__pag .pag__login {
	position: absolute;
	top: 17px;
	right: 0;
	text-transform: uppercase;
	font-size: 12px;
	color: #268388;
	line-height: 12px;
	font-weight: 700;
	font-family: brandon_grotesquemedium;
}

.chccont .leftcol,
.chccont .scols,
.chccont .rightcol {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.chccont .leftcol {
	width: 60%;
	padding: 0 5% 0 0;
}

.chccont .rightcol {
	width: 40%;
	float: right;
}

.chccont .scols {
	width: 50%;
}

.chccont article.post .woocommerce h3.ftitle,
.chccont .ftitle {
	font-size: 25px;
	color: #268388;
	line-height: 32px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	margin: 0 0 20px 0;
	text-transform: none;
	border: none;
}

.chccont article.post .woocommerce h3.ftitle.ftitle__mt,
.chccont .ftitle.ftitle__mt {
	margin-top: 40px;
}

.chccont select,
.chccont input,
.chccont textarea {
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	width: 100%;
	background: #fff;
	border: 1px solid #bfbfbf;
	padding: 15px 20px;
	font-size: 15px;
	line-height: 15px;
}

.chccont textarea {
	height: 200px;
	resize: none;
}

.chccont .city,
.chccont .state,
.chccont .zip {
	display: inline-block;
	vertical-align: top;
	float: left;
}

.chccont .city {
	width: 35%;
	margin: 0 3% 0 0;
}

.chccont .state {
	width: 29%;
	margin: 0 3% 0 0;
}

.chccont .zip {
	width: 30%;
}

.chccont p {
	margin: 0;
}

.selectize-control input {
	width: auto;
	border: none;
	padding: 0;
}

.selectize-dropdown,
.selectize-input,
.selectize-input input {
	font-size: 15px;
	line-height: 15px;
}

.selectize-control.single .selectize-input,
.selectize-input {
	display: block;
	background: #fff;
	border: 1px solid #bfbfbf;
	padding: 15px 20px;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	white-space: nowrap;
}

.chccont .chbx input[type='checkbox'] {
	display: inline-block;
	vertical-align: top;
	border: none;
	width: 1px;
	background: none;
	opcity: 0;
	position: absolute;
	left: -100px;
}

.chccont .chbx {
	position: relative;
	overflow: hidden;
}

.chccont .chbx label {
	font-size: 14px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #a3a3a3;
	display: inline-block;
	padding: 0 0 0 25px;
	background: url('../img/check_uncheck.svg') no-repeat 0 3px;
	background-size: 15px;
}

.chccont .chbx input[type='checkbox']:checked+label {
	background-image: url('../img/check.svg');
}

.chccont .btncont,
.chccont .btnsec {
	padding: 25px 0;
	margin: 20px 0 0 0;
	border-top: 1px solid #d9d9d9;
}

.chccont .btncont .nbtm,
.chccont form input[type="submit"].nbtn {
	display: inline-block !important;
	font-size: 15px !important;
	color: #fff !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	padding: 15px 35px !important;
	background: #313131 !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin: 0 !important;
}

.chccont .btncont .nbtm:hover,
.chccont form input[type="submit"].nbtn:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.chccont .shop_table {
	width: 100%;
}

.chccont .chccont__smr {
	background: #f4f4f4;
	border: 1px solid #dbdbdb;
	padding: 20px;
}

.chccont .chccont__smr .smr__title {
	margin: 0 0 5px 0;
	padding: 0 0 3px 0;
	border-bottom: 1px solid #c3c3c3;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 25px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
}

.chccont .prodsum__r,
.chccont .prodsum__l {
	display: inline-block;
	vertical-align: top;
	width: 60%;
	float: left;
	font-size: 14px;
	font-family: 'pdfont', serif;
	font-weight: 400;
	color: #545454;
	padding: 3px 0;
}

.chccont .prodsum__r {
	text-align: right;
	width: 40%;
}

.chccont ul.woocommerce-error {
	float: none !important;
}

.chccont ul.woocommerce-error li {
	background: none;
}

.newchkout article.post .woocommerce #payment {
	float: none;
}

.newchkout article.post .woocommerce #payment::after {
	content: "";
	display: table;
	clear: both;
}

.modifcheckout .chccont__box {
	height: 1px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
	position: absolute;
}

.modifcheckout .chccont__box.active {
	display: block;
	height: auto;
	opacity: 1;
	filter: alpha(opacity=100);
	position: static;
}

article.post .woocommerce form #billing_last_name_field,
article.post .woocommerce form #billing_postcode_field,
article.post .woocommerce form #shipping_last_name_field,
article.post .woocommerce form #shipping_postcode_field,
article.post .woocommerce form #billing_first_name_field,
article.post .woocommerce form #billing_state_field,
article.post .woocommerce form #shipping_first_name_field,
article.post .woocommerce form #shipping_state_field {
	width: 100%;
	float: none;
}

article.post .woocommerce table tfoot td,
article.post .woocommerce table td.product-name,
article.post .woocommerce table td.product-total,
article.post .woocommerce table td.product-remove,
article.post .woocommerce table td.product-thumbnail,
article.post .woocommerce table td.product-price,
article.post .woocommerce table td.product-quantity,
article.post .woocommerce table td.product-subtotal {
	border-bottom: none;
}

.chccont__smr #order_review th,
.chccont__smr #order_review td {
	font-size: 14px;
	font-family: 'pdfont', serif;
	font-weight: 400;
	color: #545454;
	padding: 0;
	text-transform: none;
}

.modifcheckout {
	height: auto;
	overflow: hidden;
}

.modifcheckout.loading {
	position: relative;
	height: 100vh;
}

.modifcheckout.loading::after {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff url('../img/ajax-loader.gif') no-repeat 50% 100px;
}

.chccont #order_comments_field label {
	font-size: 25px;
	color: #268388;
	line-height: 32px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	margin: 40px 0 10px 0;
	text-transform: none;
	border: none;
	display: block;
}

.chccont #order_comments_field em {
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	font-size: 15px;
	font-style: normal;
}

.bcheckoutcoupon,
.borderreview {
	background: #f4f4f4;
	border: 1px solid #dbdbdb;
	padding: 20px;
}

.borderreview {
	border-bottom: none;
}

.bcheckoutcoupon {
	border-top: none;
	padding-top: 0;
}

.bcheckoutcoupon .checkout_coupon {
	border-top: 1px solid #c3c3c3;
	padding: 20px 0 0 0;
}

.borderreview .ordereview__title,
.bcheckoutcoupon .ordereview__title {
	border-bottom: none;
	padding: 0;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 25px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
}

.borderreview .ordereview__title {
	border-bottom: 1px solid #c3c3c3;
}

.bcheckoutcoupon input[type="submit"] {
	display: block !important;
	font-size: 15px !important;
	color: #fff !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	padding: 15px 35px !important;
	background: #313131 !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin: 10px 0 0 0 !important;
}

.bcheckoutcoupon input[type="submit"]:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.bcheckoutcoupon p {
	margin: 0;
}

.borderreview .woocommerce-checkout-review-order-table th,
.borderreview .woocommerce-checkout-review-order-table td {
	font-size: 14px;
	font-family: 'pdfont', serif;
	font-weight: 400;
	color: #545454;
	padding: 3px 0;
	text-transform: none;
	vertical-align: top;
}

.borderreview .woocommerce-checkout-review-order-table .order-total td,
.borderreview .woocommerce-checkout-review-order-table .order-total th {
	font-weight: 700;
	text-transform: uppercase;
	font-family: brandon_grotesquemedium;
}

.borderreview .woocommerce-checkout-review-order-table .recurring-totals th {
	padding: 20px 0 3px;
	border-bottom: 1px solid #c3c3c3;
	text-transform: uppercase;
	font-size: 15px;
	line-height: 25px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
}

.borderreview .woocommerce-checkout-review-order-table .recurring-totals td strong {
	font-weight: 400;
}

.borderreview td:nth-child(2n),
.borderreview th:nth-child(2n) {
	text-align: right;
}

#woocError .woocommerce-error {
	margin: 20px 0;
}

#woocMess .woocommerce-message {
	margin: 20px 0;
}

#shippingFields #shipping_city_field,
#shippingFields #shipping_state_field,
#shippingFields #shipping_postcode_field {
	display: inline-block !important;
	vertical-align: top;
}

#shippingFields #shipping_city_field {
	width: 35%;
	margin: 0 3% 0 0;
	float: left;
}

#shippingFields #shipping_state_field {
	width: 29%;
	margin: 0 3% 0 0;
}

#shippingFields #shipping_postcode_field {
	width: 30%;
	float: right;
}

#wcPaymentPethods .payment_box>p {
	display: none;
}

#wcPaymentPethods .payment_box label {
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	margin: 5px 0 0 0;
	color: #bfbfbf;
}

#wcPaymentPethods .payment_box label abbr {
	text-decoration: none;
	border: none;
}

#wcPaymentPethods ul li {
	background: none;
	padding: 0;
}

#wcPaymentPethods input[type='radio'] {
	height: 1px;
	width: 1px;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

#wcPaymentPethods .payment_method_braintree_credit_card>label {
	display: block;
	position: relative;
	font-size: 25px;
	color: #268388;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	padding: 0 186px 0 0;
	background: url('../img/payment.png') no-repeat 100% 10px;
}

#wcPaymentPethods .payment_method_braintree_credit_card>label img {
	display: none;
}

#wcPaymentPethods .payment_method_braintree_credit_card .wc-braintree-hosted-field {
	background: #fff;
	border: 1px solid #bfbfbf;
	height: 3em;
	padding: 3px;
}

#billingFields {
	margin-top: 30px;
}

#billingFields .biltitle {
	position: relative;
	padding: 0 145px 0 0;
}

#billingFields .chbx {
	position: absolute;
	top: 5px;
	right: 0;
}

#billingFields #billing_city_field,
#billingFields #billing_state_field,
#billingFields #billing_postcode_field {
	display: inline-block;
	vertical-align: top;
}

#billingFields #billing_city_field {
	width: 35%;
	margin: 0 3% 0 0;
	float: left;
}

#billingFields #billing_state_field {
	width: 29%;
	margin: 0 3% 0 0;
}

#billingFields #billing_postcode_field {
	width: 30%;
	float: right;
}

#billingFields #billing_city_field+.clear {
	display: none;
}

#wcPaymentPethods {
	overflow: hidden;
	position: relative;
}

#wcPaymentPethods #wc-braintree-credit-card-tokenize-payment-method {
	display: inline-block;
	vertical-align: top;
	border: none;
	width: 1px !important;
	background: none;
	opcity: 0 !important;
	position: absolute;
	left: -200px;
}

#wcPaymentPethods #wc-braintree-credit-card-tokenize-payment-method+label {
	font-size: 14px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #a3a3a3;
	display: block !important;
	padding: 0 0 0 25px;
	background: url('../img/check_uncheck.svg') no-repeat 0 2px;
	background-size: 15px;
	margin: 13px 0 0 0;
}

#wcPaymentPethods #wc-braintree-credit-card-tokenize-payment-method:checked+label {
	background-image: url('../img/check.svg');
}

.chccont .findields__title {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #000;
}

.chccont .findields {
	max-width: 200px;
}

.chccont .findields p {
	margin: 10px 0;
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #808080;
}

.chccont .findields__btncont {
	margin: 10px 0 40px 0;
}

.chccont .findields__btncont a {
	text-transform: uppercase;
	text-decoration: underline;
	font-weight: 700;
	font-family: brandon_grotesquemedium;
	color: #268388;
	font-size: 14px;
}

#createAccountBox p.create-account {
	position: relative;
	margin: 0 0 10px 0;
}

#createAccountBox p.create-account input[type='checkbox'] {
	display: inline-block;
	vertical-align: top;
	border: none;
	width: 1px;
	background: none;
	opcity: 0;
	position: absolute;
}

#createAccountBox p.create-account input[type='checkbox']+label {
	font-size: 14px;
	font-weight: 400;
	font-family: 'pdfont', serif;
	color: #808080;
	display: block;
	padding: 0 0 0 25px;
	background: url('../img/check_uncheck.svg') no-repeat 0 4px;
	background-size: 15px;
	margin: 0;
}

#createAccountBox p.create-account input[type='checkbox']:checked+label {
	background-image: url('../img/check.svg');
}

#createAccountBox div.create-account label {
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #808080;
}

#createAccountBox div.create-account p {
	margin: 0 0 10px 0;
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #808080;
}

#cartItemsInChck {
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	padding: 30px 0;
	margin: 0 0 30px 0;
}

#cartItemsInChck .item {
	margin: 0 0 30px 0;
}

#cartItemsInChck .item:last-child {
	margin: 0;
}

#cartItemsInChck .item>div {
	display: inline-block;
	vertical-align: top;
	float: left;
}

#cartItemsInChck .img {
	width: 10%;
}

#cartItemsInChck .name {
	width: 40%;
}

#cartItemsInChck .price {
	width: 15%;
	text-align: right;
	padding: 13px 0 0 0;
}

#cartItemsInChck .quant {
	width: 20%;
	text-align: center;
	padding: 13px 0 0 0;
}

#cartItemsInChck .total {
	width: 15%;
	text-align: right;
	float: right;
	padding: 13px 0 0 0;
}

#cartItemsInChck .img img {
	height: auto;
	border: 1px solid #bfbfbf;
	max-width: 80px;
}

#cartItemsInChck .name,
#cartItemsInChck .price,
#cartItemsInChck .quant,
#cartItemsInChck .total {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #343434;
	padding: 13px 0 0 0;
}

#cartItemsInChck .name {
	color: #000;
}

#cartItemsInChck .quant {
	text-transform: none;
}

#cartItemsInChck .subscription-details {
	font-size: 12px;
}

#checkoutOrderReviewCont .leftcol {
	height: 1px;
}

#checkoutOrderReviewCont .borderreview {
	background: none;
	padding: 0;
	border: none;
}

#checkoutOrderReviewCont .borderreview thead {
	display: none;
}

#checkoutBtn {
	text-align: right;
	border-top: 1px solid #d9d9d9;
	padding: 25px 0;
	margin: 25px 0 0 0;
}

#checkoutBtn #order_review_heading {
	display: none;
}

#checkoutBtn #place_order {
	display: inline-block !important;
	font-size: 15px !important;
	color: #fff !important;
	font-weight: 700 !important;
	text-transform: uppercase !important;
	padding: 15px 35px !important;
	background: #313131 !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	border: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	margin: 10px 0 0 0 !important;
	width: auto !important;
}

#checkoutBtn #place_order:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

#checkoutBtn p.wc-terms-and-conditions {
	margin: 0 !important;
	font-size: 14px !important;
	color: #8d8d8d !important;
	font-weight: 400 !important;
	font-family: brandon_grotesquemedium !important;
}

.validate-required input.wrong {
	box-shadow: inset 0 0 2px #ff0000;
}

.subscrib__pag {
	text-align: center;
	background: #f5f5f5;
	position: relative;
	padding: 40px 0 30px 0;
	margin: 0 0 25px 0;
}

.subscrib__pag.subscrib__pag__wh {
	background: #fff;
}

.subscrib__pag .pag {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.subscrib__pag .pag li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding: 0 20px;
	background: none;
}

.subscrib__pag .pag span,
.subscrib__pag .pag a {
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-size: 14px;
	color: #a3a3a3;
	display: block;
	line-height: 14px;
	padding: 0;
}

.subscrib__pag .pag a span {
	text-decoration: none;
}

.subscrib__pag .pag span.mobile {
	display: none;
}

.subscrib__pag .pag span.active,
.subscrib__pag .pag span.active span {
	color: #000;
}

.subscrpage .nptitle {
	text-align: center;
	background: #fff;
	padding: 40px 0 30px 0;
}

.subscrpage .nptitle .nptitle__title {
	color: #268388;
	margin: 0 0 10px 0;
}

.subscrpage .nptitle .nptitle__subtitle {
	margin: 0;
	font-family: 'pdfont', serif;
	font-weight: 400;
	font-style: italic;
	font-size: 15px;
	color: #737373;
}

.subscont {
	text-align: center;
	padding: 35px 0;
}

.subscont .subs {
	width: 260px;
	display: inline-block;
	vertical-align: top;
	margin: 0 10px 10px 10px;
	position: relative;
}

.subscont .subs input[type="checkbox"] {
	position: absolute;
	width: 1px;
	height: 1px;
	opacity: 0;
}

.subscont .subs label {
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	box-shadow: inset 0 0 0 1px #bfbfbf;
}

.subscont .subs input[type="checkbox"]:checked+label {
	box-shadow: inset 0 0 0 1px #8f8b89;
	background: url('../img/subchecked.png') no-repeat 0 0;
}

.subscont .subs .subs__img {
	border-bottom: 1px solid #bfbfbf;
	margin: 0 0 20px 0;
	height: 236px;
	position: relative;
}

.subscont .subs .subs__img img {
	max-widht: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.subscont .subs .subs__title {
	padding: 0 25px;
	margin: 0 0 15px 0;
	text-transform: uppercase;
	font-size: 18px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	line-height: 26px;
}

.subscont .subs .add_to_cart_inline {
	border: none;
	padding: 0 20px 20px 20px;
}

.subscont .subs .add_to_cart_inline a {
	display: none;
}

.subscont__ship .subs {
	display: none;
}

.subscont__ship .subs.vis {
	display: inline-block;
}

.ovwshipping {
	display: block;
	margin: 0 auto;
	border: 1px solid #bfbfbf;
	width: 320px;
	overflow: hidden;
	padding: 15px 72px 15px 20px;
	position: relative;
}

.ovwshipping::after {
	display: none;
}

.ovwshipping p {
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #737373;
	margin: 0;
}

#chose_shipping_type {
	border: none;
	left: 90px;
	position: absolute;
	text-transform: uppercase;
	top: 16px;
	width: 62%;
	font-size: 15px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #737373;
	z-index: 1;
}

.subscrpage .btncont {
	margin: 0 0 100px 0;
	text-align: center;
}

.subscrpage .btncont .nextstep,
.subscrpage .btncont .prewstep,
.subscrpage .btncont input {
	vertical-align: top;
	margin: 0 3px;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	display: inline-block !important;
	border: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	background: #333 !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-weight: 700 !important;
	font-family: brandon_grotesquemedium !important;
	font-size: 15px !important;
	padding: 15px 35px !important;
}

.subscrpage .btncont .nextstep:hover,
.subscrpage .btncont .prewstep:hover,
.subscrpage .btncont input:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.subscrpage .btncont .prewstep {
	background: #a6a6a6 !important;
}

.subscrpage .shippingcont {
	height: 1px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity=0);
}

.subscrpage .shippingcont.active {
	height: auto;
	opacity: 1;
	filter: alpha(opacity=100);
}

.subsfintable {
	padding: 30px 0 1px 0;
	border-top: 1px solid #d9d9d9;
}

.subsfintable .subsfintable__ttitle {
	margin: 0 0 35px 0;
	font-size: 26px;
	text-transform: none;
	color: #268388;
	line-height: 30px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
}

.subsfintable .left,
.subsfintable .right {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	float: left;
}

.subsfintable .subsfintable__img {
	width: 130px;
	float: left;
	margin: 0 20px 0 0;
	height: 90px;
	border: 1px solid #bfbfbf;
	position: relative;
}

.subsfintable .subsfintable__img img {
	max-widht: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.subsfintable .subsfintable__img.mob {
	display: none;
}

.subsfintable .subsfintable__title {
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	color: #000;
}

.subsfintable .subsfintable__addtext {
	text-transform: none;
	font-size: 13px;
	font-family: 'pdfont', serif;
	font-weight: 400;
	color: #808080;
	margin: 10px 0;
}

.subsfintable .subsfintable__price {
	text-align: right;
}

.subsfintable .subsfintable__price.mob {
	display: none;
}

.subsfintable .subsfintable__price .add_to_cart_button,
.subsfintable .subsfintable__price a.button.product_type_subscription.ajax_add_to_cart.product-box-cart-button.add-button-product.product_type_subscription {
	display: none !important;
	font-size: 18px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
}

.subsfintable .subsfintable__price .add_to_cart_button .subscription-details {
	font-size: 13px;
}

.subsfintable .subsfintable__row {
	margin: 0 0 30px 0;
}

.subscrpage__cart .cart_totals {
	text-align: right;
	border-top: 1px solid #d9d9d9;
	margin: 0;
	padding: 45px 0 0 0;
	font-size: 21px;
	color: #000;
	font-weight: 400;
	font-family: brandon_grotesquemedium;
	line-height: 21px;
}

.subscrpage__cart .cart_totals .tax-total,
.subscrpage__cart .cart_totals .order-total,
.subscrpage__cart .cart_totals h2 {
	display: none;
}

.subscrpage__cart .cart_totals .cart-subtotal th {
	text-transform: uppercase;
	font-size: 13px;
	color: #8d8d8d;
	padding-right: 10px;
	font-weight: 400;
}

.subscrpage__cart .cart_totals .wc-proceed-to-checkout {
	margin: 35px 0 100px 0;
}

.subscrpage__cart .cart_totals .wc-proceed-to-checkout a {
	margin: 0 !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	display: inline-block !important;
	border: none !important;
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important;
	background: #333 !important;
	color: #fff !important;
	text-transform: uppercase !important;
	font-weight: 400 !important;
	font-family: brandon_grotesquemedium !important;
	font-size: 15px !important;
	padding: 15px 35px !important;
}

.subscrpage__cart .cart_totals .wc-proceed-to-checkout a:hover {
	opacity: .7;
	filter: alpha(opacity=70);
}

.subscrpage__cart .cart_totals .shop_table {
	float: right;
}

.subscrpage__cart .cart_totals .wc-proceed-to-checkout::before {
	display: table;
	content: "";
	clear: both;
}

#checkoutBtn ul.wc_payment_methods,
.page-template-page-chechout #order_review ul.wc_payment_methods {
	height: 1px;
	position: absolute;
	opacity: 0;
	filter: alpha(opacity=0);
}

.page-template-page-chechout .select2-container .select2-choice {
	border: 1px solid #bfbfbf;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	font-family: brandon_grotesquemedium;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: normal;
	padding: 10px 0 10px 20px;
}

#order_review_heading {
	display: none;
}

@media only screen and (max-width: 1280px) {
	.nfooter .nfooter__bott {
		padding: 20px;
	}

	#ntesti {
		padding: 30px 0 40px;
		height: 165px;
	}

	#ntesti .slick-arrow {
		bottom: -35px;
		left: 50%;
		right: inherit;
		top: inherit;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		background-size: 12px;
	}

	#ntesti .slick-next {
		margin: 0 0 0 10px;
	}

	#ntesti .slick-prev {
		margin: 0 0 0 -15px;
	}

	.ntesti_init.slick-slider {
		height: 100%;
	}
}

@media only screen and (max-width: 992px) {
	.nfooter .ctext {
		margin: 20px 0 0 0;
	}

	.winside .pblock {
		position: static;
		display: inline-block;
		vertical-align: top;
		margin: 20px;
		width: 200px;
	}

	.nprows .nprows__row {
		justify-content: center;
	}

	.nprows .nprows__el {
		margin: 10px;
	}

	header[role="banner"].newheader nav ul li a {
		padding: 0 5px;
	}

	header[role="banner"].newheader #account .myaccount a,
	header[role="banner"].newheader #account .logout a,
	header[role="banner"].newheader #account a.login {
		line-height: 74px;
	}

	.mobile_block,
	.dsctp_block {
		display: none;
	}

	.table_block {
		display: block;
	}

	#cartItemsInChck .img {
		padding: 0 2% 0 0;
	}

	#cartItemsInChck .img img {
		max-width: 100%;
	}
}

@media only screen and (max-width: 768px) {

	.logged-in header[role="banner"],
	.home.logged-in header[role="banner"].newheader {
		top: 0;
	}

	header[role="banner"].newheader .navbar-header {
		margin: 0;
	}

	header[role="banner"].newheader .mobileLogin,
	header[role="banner"].newheader .navbar-toggle {
		margin: 12px 8px;
		font-size: 12px;
		color: #d0d0d0;
	}

	header[role="banner"].newheader .mobileLogin a {
		color: #d0d0d0;
	}

	header[role="banner"].newheader .navbar-brand {
		position: absolute;
		top: 5px;
		padding: 0;
		left: 50%;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}

	header[role="banner"].newheader #account span.cart-contents {
		margin: 0;
	}

	header[role="banner"].newheader #account span.cart-contents span.total {
		line-height: 74px;
	}

	header[role="banner"].newheader #account span.cart-contents:hover,
	header[role="banner"].newheader #account span.cart-contents {
		background-position: 5px 50%;
	}

	header[role="banner"].newheader .navbar-toggle {
		width: 30px;
		height: 30px;
		color: transparent;
		line-height: 30px;
		overflow: hidden;
		background: url('../img/list-menu-close.svg') no-repeat 50% 50%;
		background-size: 15px;
		margin: 15px;
	}

	/*header[role="banner"].newheader .navbar-toggle.collapsed { background: url('../img/list-menu.svg') no-repeat 50% 50%; background-size: 22px; }
    header[role="banner"].newheader .navbar-toggle span { color: transparent; }*/
	header[role="banner"] .navbar-toggle.collapsed {
		background: url('../img/list-menu.svg') no-repeat 50% 50%;
		background-size: 22px;
	}

	header[role="banner"] .navbar-toggle span {
		color: transparent;
	}

	header[role="banner"].newheader nav ul.menu li {
		padding: 0;
	}

	header[role="banner"].newheader nav ul.menu li a {
		line-height: 3em;
		margin: 0;
	}

	header[role="banner"].newheader nav ul.menu {
		padding: 10px 0;
	}

	header[role="banner"].newheader nav ul.menu::after {
		content: "";
		display: table;
		clear: both;
	}

	.navbar-collapse {
		background: #333;
		border-color: #5c5c5c;
		box-shadow: none;
		margin-top: 7px;
	}

	.navbar-collapse.collapse.in {
		height: 100vh;
		background: #333;
		border-color: #5c5c5c;
		box-shadow: none;
		margin-top: 7px;
	}

	.navbarnav__mob {
		display: block;
	}

	.navbarnav__desc {
		display: none;
	}

	header[role="banner"].newheader #account {
		text-align: center;
		height: auto;
		float: none;
		line-height: normal;
	}

	header[role="banner"].newheader #account .myaccount a,
	header[role="banner"].newheader #account .logout a,
	header[role="banner"].newheader #account a.login {
		line-height: normal;
	}

	header[role="banner"].newheader #account span.myaccount,
	header[role="banner"].newheader #account span.hello {
		display: block;
		float: none;
		margin: 0 auto !important;
	}

	header[role="banner"].newheader #account span.hello {
		margin-top: 20px !important;
	}

	header[role="banner"].newheader #account span.nluser span,
	header[role="banner"].newheader #account span.nluser {
		display: block;
		float: none;
	}

	header[role="banner"].newheader #account .contentloggedin,
	header[role="banner"].newheader #account .contentloggedout {
		position: relative;
	}

	header[role="banner"].newheader #account .contentloggedin,
	header[role="banner"].newheader #account .contentloggedout {
		float: none;
		margin: 0 auto 10px auto;
		display: block;
		text-align: center;
	}

	header[role="banner"].newheader #account span.cart-contents {
		float: none;
		margin: 0 auto 10px auto;
		display: inline-block;
		text-align: center;
	}

	header[role="banner"].newheader #account span.cart-contents {
		height: 32px;
	}

	header[role="banner"].newheader #account span.cart-contents span.total {
		line-height: 32px;
		height: 32px;
	}

	header[role="banner"].newheader #account .logout {
		margin: 0;
	}

	.nnewsl {
		margin: 30px 0 0 0;
	}

	#topbanner {
		padding: 40px 0;
	}

	#topbanner .banner_text__title {
		font-size: 44px;
		line-height: 44px;
		letter-spacing: 0;
	}

	#topbanner .banner_text__subtitle {
		font-size: 14px;
	}

	#topbanner .banner_text__text {
		font-size: 13px;
		line-height: 21px;
	}

	#topbanner .nbtn {
		padding: 12px 25px;
		font-size: 14px;
		line-height: 25px;
	}

	#topbanner .banner_cont .banner_text__img {
		max-width: 400px;
	}

	.winside,
	.nprows {
		padding: 40px 0;
	}

	.nprows .nprows__title {
		font-size: 26px;
	}

	.nprows .nprows__subtitle {
		margin: 10px 0 20px;
	}

	.winside .winside__title {
		margin: 0 0 30px;
		font-size: 26px;
	}

	.nprows4 .nprows__title {
		margin: 0 0 30px;
	}

	.nptitle {
		padding: 25px 0;
		background: #fff;
	}

	.nptitle .nptitle__title {
		font-size: 27px;
		line-height: 31px;
	}

	.npropprod.npropprod__m {
		display: block;
		padding: 30px 20px;
	}

	.npropprod.npropprod__d {
		display: none;
	}

	#woocommerce_checkout .shopbox {
		display: block;
	}

	#woocommerce_checkout .shop_table {
		display: none;
	}

	.page-template-page-cart .wrap {
		width: 100%;
		margin: 0;
		max-widht: inherit;
		padding: 0;
	}

	.page-template-page-cart article.post {
		padding-top: 0;
	}

	.npropprod .npropprod__title {
		font-size: 25px;
		line-height: 30px;
	}

	.npropprod .npropprod__subtitle {
		font-size: 14px;
		line-height: 21px;
		margin: 0 0 30px;
	}

	.bnpropprod {
		margin-top: 0;
		padding-top: 10px;
	}

	.npropprod .npropprod__title {
		margin-bottom: 30px;
	}

	.nptopbanner {
		height: auto;
	}

	.nptopbanner .nptopbanner__img,
	.nptopbanner .nptopbanner__cont {
		width: 100%;
		float: none;
		height: auto;
	}

	.nptopbanner .nptopbanner__img {
		background-image: none !important;
	}

	.nptopbanner .nptopbanner__cont {
		padding: 30px 0;
	}

	.nptopbanner .nptopbanner__img img {
		display: block;
	}

	.instcont .inst_img {
		width: 50%;
	}

	.chccont .leftcol,
	.chccont .scols,
	.chccont .rightcol {
		width: 100%;
		float: none;
		display: block;
		padding: 0;
	}

	.chccont .chccont__pag .pag__login {
		position: static;
		text-align: center;
		display: block;
		padding: 15px 0;
		border-top: 1px solid #ccc;
	}

	.chccont .chccont__pag .pag {
		text-align: center;
		padding: 15px 0;
	}

	.chccont .chccont__pag {
		padding: 0;
		line-height: 14px;
		margin: 0;
	}

	.chccont .chccont__pag .pag a span.mobile {
		display: block;
	}

	.chccont .chccont__pag .pag a span.desctop {
		display: none;
	}

	.page-template-page-chechout .nptitle {
		background: #f2f2f2;
	}

	.chccont {
		padding: 0 0 35px 0;
		width: 100%;
	}

	.bcheckoutcoupon,
	.borderreview {
		border: none;
	}

	.borderreview td,
	.borderreview th {
		width: 70%;
	}

	.borderreview td:nth-child(2n),
	.borderreview th:nth-child(2n) {
		text-align: left;
		width: 30%;
	}

	.borderreview .woocommerce-checkout-review-order-table .recurring-totals th,
	.borderreview .ordereview__title,
	.bcheckoutcoupon .ordereview__title {
		font-size: 14px;
	}

	#shippingFields {
		padding: 30px 20px 0 20px;
	}

	.chccont #order_comments_field label,
	.chccont article.post .woocommerce h3.ftitle,
	.chccont .ftitle {
		font-size: 22px;
	}

	.chccont .chccont__box .btncont {
		padding: 20px;
		margin: 0;
	}

	.chccont .chccont__box .btncont a {
		display: block;
		width: 100%;
		text-align: center;
		padding: 15px;
	}

	.modifcheckout .chccont__box2 .rightcol {
		display: none;
	}

	#billingFields {
		margin-top: 0;
	}

	#billingFields,
	#wcPaymentPethods {
		padding: 30px 20px 0 20px;
	}

	#wcPaymentPethods .payment_method_braintree_credit_card>label {
		font-size: 22px;
		background-position: 100% 4px;
	}

	.chccont .mobilepad {
		padding: 20px 20px 0 20px;
	}

	.chccont .mobilepad #createAccountBox {
		padding: 0 0 20px 0;
	}

	.logged-in .chccont .mobilepad #createAccountBox {
		padding: 0;
	}

	.chccont .findields__btncont {
		margin: 10px 0 20px;
	}

	.chccont .findields__title {
		font-size: 14px;
	}

	.chccont .findields__btncont a,
	.chccont .findields p {
		font-size: 13px;
	}

	#checkoutOrderReviewCont,
	#cartItemsInChck {
		padding: 20px;
		margin: 0;
	}

	#checkoutBtn {
		padding: 20px;
	}

	#cartItemsInChck .item>div.img {
		width: 30%;
		padding: 0 5% 0 0;
	}

	#cartItemsInChck .item>div.total,
	#cartItemsInChck .item>div.quant,
	#cartItemsInChck .item>div.price,
	#cartItemsInChck .item>div.name {
		width: 65%;
		float: right;
		text-align: left;
		font-size: 14px;
		padding: 0;
		line-height: 22px;
		color: #343434;
	}

	#cartItemsInChck .item>div.name {
		color: #000;
	}

	.subscrib__pag {
		padding: 25px 0 20px 0;
		margin: 0;
	}

	.subscrib__pag .pag li {
		padding: 0 10px;
	}

	.subscrib__pag .pag span.desctop {
		display: none;
	}

	.subscrib__pag .pag span.mobile {
		display: block;
	}

	.subscrpage .nptitle {
		padding: 30px 0;
	}

	.subscrpage .nptitle .nptitle__title {
		font-size: 27px;
	}

	.subscrpage .nptitle .nptitle__subtitle {
		font-size: 14px;
	}

	.ovwshipping {
		width: 300px;
	}

	.subsfintable {
		padding: 20px 0 1px 0;
	}

	.subsfintable .subsfintable__ttitle {
		margin: 0 0 20px 0;
		font-size: 22px;
	}

	.subsfintable .left,
	.subsfintable .right {
		display: block;
		vertical-align: top;
		width: 100%;
		float: none;
	}

	.subsfintable .subsfintable__img {
		width: 80px;
		margin: 0 15px 0 0;
		height: 80px;
	}

	.subsfintable .subsfintable__img.desc {
		display: none;
	}

	.subsfintable .subsfintable__img.mob {
		display: block;
	}

	.subsfintable .subsfintable__title {
		margin: 0 0 2px 0;
		font-size: 14px;
	}

	.subsfintable .subsfintable__addtext {
		margin: 0 0 20px 0;
	}

	.subsfintable .subsfintable__price {
		text-align: left;
	}

	.subsfintable .subsfintable__price.desc {
		display: none;
	}

	.subsfintable .subsfintable__price.mob {
		display: inline-block;
		width: 200px;
	}

	.subsfintable .subsfintable__row {
		margin: 0 0 20px 0;
	}

	.subscrpage__cart .cart_totals {
		text-align: center;
		padding: 25px 0 0 0;
	}

	.subscrpage__cart .cart_totals .cart-subtotal th {
		padding-right: 0;
	}

	.subscrpage__cart .cart_totals .wc-proceed-to-checkout {
		margin: 35px 0;
	}

	.subscrpage__cart .cart_totals .shop_table {
		width: 100%;
		float: none;
	}

	.subscrpage__cart .cart_totals .shop_table .cart-subtotal td {
		text-align: right;
	}

	#chose_shipping_type {
		top: 14px;
	}
}

@media only screen and (max-width: 480px) {
	#topbanner .banner_cont {
		padding: 0;
	}

	#topbanner .banner_text__subtitle::before {
		max-width: 250px;
	}

	#topbanner .banner_cont .banner_text__img {
		position: static;
		display: block;
		margin: 0 auto 30px;
		max-width: 85%;
	}

	#topbanner .banner_cont .banner_text__img.banner_text__img__m {
		display: block;
	}

	#topbanner .banner_cont .banner_text__img.banner_text__img__d {
		display: none;
	}

	.nprowsb {
		padding: 0;
	}

	.nprowsb .nprowsb__cont {
		padding: 65px 30px 25px 30px;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
	}

	.nprowsb .nprowsb__cont .nprowsb__cont__img {
		width: 46px;
		left: 50%;
		top: 26px;
		transform: translate(-50%, 0);
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
	}

	.nprows .block__title {
		font-size: 16px;
	}

	.nprows .block__subtitle {
		font-size: 13px;
	}

	.nprows .block__subtitle a.readmore {
		font-size: 13px;
	}

	.nfooter .col {
		width: 100%;
	}

	#ntesti .testi .testi__text {
		padding: 0;
	}

	#ntesti .testi .testi__text::after,
	#ntesti .testi .testi__text::before {
		display: none;
	}

	.table_block,
	.dsctp_block {
		display: none;
	}

	.mobile_block {
		display: block;
	}

	.winside .pblock .pblock__title {
		font-size: 13px;
		line-height: 22px;
	}

	.winside .pblock__mobile__cont {
		margin: 0 0 30px 0;
	}

	.winside .pblock__mobile__cont::after {
		content: "";
		display: table;
		clear: both;
	}

	.winside .pblock__mobile__cont2 {
		max-width: 275px;
		margin: 0 auto 30px auto;
	}

	.winside .pblock__mobile__cont3 {
		position: relative;
	}

	.winside .pblock2,
	.winside .pblock3,
	.winside .pblock4,
	.winside .pblock5,
	.winside .pblock6,
	.winside .pblock7 {
		display: inline-block;
		float: left;
		width: auto;
		vertical-align: top;
	}

	.winside .pblock4,
	.winside .pblock3,
	.winside .pblock2 {
		width: 50%;
		margin: 0;
	}

	.winside .pblock3 {
		padding: 5px;
	}

	.winside .pblock2 .pblock__img {
		max-width: 50%;
	}

	.winside .pblock4 {
		margin-top: 10px;
	}

	.winside .pblock5,
	.winside .pblock6 {
		width: 40%;
		margin: 0;
	}

	.winside .pblock6 {
		clear: both;
	}

	.winside .pblock7 {
		position: absolute;
		top: 30px;
		right: 0;
		width: 60%;
		margin: 0;
	}

	.winside .pblock5 {
		margin-bottom: 10px;
	}

	.winside .pblock6 .pblock__img,
	.winside .pblock5 .pblock__img {
		max-width: 70%;
	}

	.winside .pblock7 .pblock__img {
		max-width: 80%;
	}

	.fmrow::after {
		content: "";
		display: table;
		clear: both;
	}

	.fmrow .fmrow__col {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		float: left;
	}

	.nfooter .nfooter__top {
		padding: 20px 25px;
	}

	.nnewsl {
		margin: 0;
	}

	.nnewsl .nnewsl__text,
	.nnewsl .nnewsl__title {
		text-align: left;
	}

	.nfooter .nfooter__top .nfooter__logo {
		max-width: 50px;
	}

	.nfooter .fmenu ul {
		text-align: left;
	}

	.nfooter .nfooter__top .nfooter__soc {
		margin: 15px 0 0 0;
	}

	.nfooter .nfooter__m {
		display: block;
	}

	.nfooter .nfooter__d {
		display: none;
	}

	.borderreview td,
	.borderreview th {
		width: 60%;
	}

	.borderreview td:nth-child(2n),
	.borderreview th:nth-child(2n) {
		text-align: left;
		width: 40%;
	}

	#shippingFields #shipping_city_field {
		width: 47%;
		margin: 0 3% 20px 0;
	}

	#shippingFields #shipping_state_field {
		width: 50%;
		margin: 0 0 20px 0;
	}

	#shippingFields #shipping_postcode_field {
		width: 100%;
		float: none;
		display: block;
	}

	#billingFields #billing_city_field {
		width: 47%;
		margin: 0 3% 20px 0;
	}

	#billingFields #billing_state_field {
		width: 50%;
		margin: 0 0 20px 0;
	}

	#billingFields #billing_postcode_field {
		width: 100%;
		float: none;
		display: block;
	}

	.borderreview .woocommerce-checkout-review-order-table th,
	.borderreview .woocommerce-checkout-review-order-table td {
		font-size: 13px;
	}

	.borderreview .woocommerce-checkout-review-order-table .order-total td,
	.borderreview .woocommerce-checkout-review-order-table .order-total th,
	.borderreview .woocommerce-checkout-review-order-table th strong,
	.borderreview .woocommerce-checkout-review-order-table td strong {
		font-weight: 400;
		color: #000;
	}

	#checkoutBtn {
		margin: 0;
		text-align: left;
	}

	#checkoutBtn #place_order {
		display: block !important;
		width: 100% !important;
		padding: 15px !important;
		height: auto !important;
	}
}

@media only screen and (max-width: 683px) {
	#ntesti {
		height: 185px;
	}
}

@media only screen and (max-width: 520px) {
	#ntesti {
		height: 220px;
	}
}

input#place_order,
article.post .woocommerce form.checkout_coupon p.form-row-last input[type="submit"].button {
	display: inline-block;
	font-size: 15px !important;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	padding: 14px 35px !important;
	background: #313131 !important;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	border-radius: 0 !important;
	border: none !important;
}

article.post .woocommerce form.checkout_coupon p.form-row-last input[type="submit"].button {
	margin-left: 10px !important;
}

.woocommerce-checkout article.post .woocommerce a {
	color: #268388;
}

.woocommerce-checkout article.post .woocommerce table thead {
	background: #f2f2f2;
	color: #000;
}

.woocommerce-checkout article.post .woocommerce h3,
.woocommerce-checkout .woocommerce-info,
.woocommerce-checkout article.post .woocommerce .woocommerce-shipping-fields form label,
.woocommerce-checkout #order_comments_field label {
	color: #268388;
	font-family: brandon_grotesquemedium;
}

.woocommerce-checkout article.post .woocommerce form label {
	text-transform: uppercase !important;
}

.woocommerce-checkout article.post .woocommerce .woocommerce-billing-fields a,
.woocommerce-checkout article.post .woocommerce .woocommerce-shipping-fields a {
	color: #737373;
}

.woocommerce-checkout article.post .woocommerce a.showcoupon {
	font-family: 'pdfont', serif;
	font-size: 15px;
	font-style: italic;
	color: #737373;
}

.woocommerce-checkout article.post .woocommerce table tfoot td {
	border-bottom: 1px solid #a8a8a8 !important;
}

.woocommerce-checkout article.post h2 {
	color: #000 !important;
}

.woocommerce-checkout article.post .woocommerce table tr.order:nth-child(2) td.subscription-actions a {
	color: #268388 !important;
}

.page-id-555342 .shippingcont1 .nextstep {
	display: none !important;
}

.page-id-557064 figure#headerimg {
	height: 250px;
}

.page-id-557064 figure#headerimg h1 {
	margin-top: 150px;
}

.page-id-64250 #gform_wrapper_6 {
	display: block !important;
}

.woocommerce-MyAccount-navigation-link--wc-smart-coupons {
	display: none;
}

input#place_order,
article.post .woocommerce form.checkout_coupon p.form-row-last input[type="submit"].button {
	margin: 3% !important;
}

#countrycontainer .gift .changecountry a {
	background: none;
}

.screen-reader-text {
	position: absolute;
	visibility: hidden;
}

#ship-to-different-address span {
	margin-left: 20px;
}

/* 	HIDE ADDRESS FROM NAV BECUASE REMOVING FUNCTION *\
\*	BREAKS SUBSCRIPTION ADDRESS UPDATE FUNCTION 		*/

.woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link--edit-address {
	display: none;
}

/* FRIEND BUY RIBBON */

.friendbuy-ribbon {
	position: fixed;
	top: 75px;
	left: 1em;
	z-index: 10;
	background-color: #dc6e45;
	color: #fff;
	padding: .5em .75em;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all .5s linear;
}

.friendbuy-ribbon:hover,
.friendbuy-ribbon:focus {
	padding-top: 1em;
	color: #fff;
}