.post-preview-container{
  position: relative;
}
.blog-loader-contain{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  background-color: #ffffff;
  height: 149px;
}

.blog-loader-contain img{
  max-height: 100%;
  width: auto;
}

.load-more-contain{
  padding: 0 0 100px 12px;
}

.post-contain{
  width: calc(33.333% - 24px);
  margin: 0 12px 24px 12px;
  border: 1px solid #bfbfbf;
}

.post-contain .post-head{
  flex-wrap: wrap;
  display: flex;
  position: relative;
  height: 178px;
  width: 100%;
}

.post-contain .post-head .background-image{
  width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
}

.post-contain .post-head .date{
  background-color: #5f5854;
  padding: 3px 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: #ffffff;
  font-family: 'pdfont',serif;
  font-size: 20px;
}

.post-contain .post-content{
  width: 100%;
  padding: 24px;
}

.post-contain .post-content h2{
  font-family: brandon_grotesquebold,sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  text-align: left;
  font-size: 15px;
  margin: 0 0 10px 0;
  letter-spacing: 2px;
  line-height: 23px;
}

.post-contain .post-content p{
  font-family: 'pdfont',serif;
  font-size: 14px;
  line-height: 23px;
  color: #808080;
  margin: 0;
  padding: 0;
}

@media(max-width: 1000px){
  .post-contain{
    width: calc(50% - 24px);
  }
}
@media(max-width: 768px){
  .post-preview-container{
    justify-content: center;
  }
  .post-contain{
    width: calc(100% - 24px);
    margin: auto;
    margin-bottom: 24px;
  }
}