/***** SET UNIVERSAL FONT SIZE ALL EM BASED OFF ********/
body {
	font-size: 16px !important;
}

.logged-in header[role="banner"].sticky {
	top: 0 !important;
}

@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

@font-face {
	font-family: 'brandon_grotesquebold';
	src: url("../fonts/brandon_bld-webfont.eot");
	src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff2") format("woff2"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquethin';
	src: url("../fonts/brandon_thin_2-webfont.eot");
	src: url("../fonts/brandon_thin_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_thin_2-webfont.woff2") format("woff2"), url("../fonts/brandon_thin_2-webfont.woff") format("woff"), url("../fonts/brandon_thin_2-webfont.ttf") format("truetype"), url("../fonts/brandon_thin_2-webfont.svg#brandon_grotesquethin") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquemedium';
	src: url("../fonts/brandon_med_2-webfont.eot");
	src: url("../fonts/brandon_med_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med_2-webfont.woff2") format("woff2"), url("../fonts/brandon_med_2-webfont.woff") format("woff"), url("../fonts/brandon_med_2-webfont.ttf") format("truetype"), url("../fonts/brandon_med_2-webfont.svg#brandon_grotesquemedium") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesqueblack';
	src: url("../fonts/brandon_blk-webfont.eot");
	src: url("../fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_blk-webfont.woff2") format("woff2"), url("../fonts/brandon_blk-webfont.woff") format("woff"), url("../fonts/brandon_blk-webfont.ttf") format("truetype"), url("../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesque_regularRg';
	src: url("../fonts/brandon_reg-webfont.eot");
	src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'brandon_grotesquelight';
	src: url("../fonts/brandon_light-webfont.eot");
	src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'icomoon';
	src: url("../fonts/icomoon/icomoon.eot?srf3rx");
	src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
}

img.alignright {
	float: right;
	margin: 0 0 1em 1em
}

img.alignleft {
	float: left;
	margin: 0 1em 1em 0
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	margin-bottom: 25px;
}

.wp-caption p {}

article.post .woocommerce table tr.order td.subscription-actions a {
	padding: 0px !important;
	text-align: left !important;
}

.wc-proceed-to-checkout {
	margin-top: 20px;
}

.wc-proceed-to-checkout a {
	font-family: 'brandon_grotesqueblack', sans-serif !important;
	text-transform: uppercase;
	text-align: center;
	padding: 15px 45px;
	color: #501818;
	background: transparent;
	display: inline-block;
	margin: 0;
	border: 2px solid #501818;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	border-radius: 5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.wc-proceed-to-checkout a:hover {
	background: #501818;
	color: #fff !important;
}

@media (max-width: 768px) {
	#colorbox {
		left: 0px !important;
		width: 420px !important;
		right: 0px !important;
		margin: 0 auto;
	}

	#cboxWrapper {
		width: 420px !important;
	}

	#cboxTopCenter,
	#cboxContent,
	#cboxLoadedContent,
	#cboxBottomCenter {
		width: 392px !important;
	}

	.satisfydiv,
	#cancel_email textarea {
		width: 100% !important;
	}
}

@media (max-width: 480px) {
	#colorbox {
		left: 0px !important;
		width: 310px !important;
		right: 0px !important;
		margin: 0 auto;
	}

	#cboxWrapper {
		width: 310px !important;
	}

	#cboxTopCenter,
	#cboxContent,
	#cboxLoadedContent,
	#cboxBottomCenter {
		width: 282px !important;
	}

	.satisfydiv,
	#cancel_email textarea {
		width: 100% !important;
	}
}

@media (max-width: 768px) {
	header[role="banner"] {
		position: relative !important;
	}
}

@media (min-width: 640px) and (max-width: 840px) {
	article.post .woocommerce table {
		font-size: 12px !important;
	}
}

form#cancel_email #send_email {
	padding: 5px;
	padding-left: 0;
}

form#cancel_email #send_email.clicked,
form#cancel_email #send_email.success {
	position: relative;
	z-index: 1;
	cursor: default;
	padding-left: 30px;
}

form#cancel_email #send_email.clicked {
	color: #ccc;
}

form#cancel_email #send_email.success {
	color: #007700;
}

form#cancel_email #send_email.clicked:after,
form#cancel_email #send_email.success:after {
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	right: 0;
	bottom: 0;
	z-index: 99;
	padding-top: 5px;
	padding-left: 5px;
}

form#cancel_email #send_email.clicked:after {
	content: url('../library/images/loaders/circular.gif');
	background-color: rgba(0, 0, 0, .1);
}

form#cancel_email #send_email.success:after {
	content: url('../library/images/loaders/successmark.png');
	background-color: rgba(0, 255, 0, .1);
}

article.post .woocommerce table tr.order:nth-child(2) td.subscription-actions a {
	border: none !important;
}

article.post .woocommerce table tr.order:nth-child(2) td.subscription-actions a:hover {
	background: none !important;
	color: #501818 !important;
}

.waitSpinner:after {
	content: url('../library/images/loaders/circular.gif');
	background-color: rgba(0, 0, 0, .1);
	position: absolute;
	top: 0;
	left: 0;
	max-width: 100%;
	right: 0;
	bottom: 0;
	z-index: 999999;
	padding-top: 23%;
	padding-left: 49%;
}

.subscriptionDiscountMessage {
	display: none;
}

.subscriptionDiscountMessage.error {
	color: red;
}

.subscriptionDiscountMessage.success {
	color: green;
}

.subscriptionDiscountMessage.show {
	display: block;
}

#sidebar {
	float: left;
	width: 25%;
	margin-top: 40px;
}

.right-main-container {
	float: right;
	width: 72%;
	margin-left: 3%;
}

.shop_page-left-sidebar li.widget {
	border: 1px solid #e3e3e3;
	padding: 10px 0;
	margin-bottom: 40px;
	background: none;
}

.widgettitle {
	text-align: center;
	color: #501818;
	font-size: 24px;
	padding: 10px 0;
}

.widget_shopping_cart_content li {}

.shop_page-left-sidebar li ul li {
	border-top: 1px solid #e5e5e5;
	padding: 20px;
	background: none;
}

.price_slider_amount {
	padding: 20px;
}

.shop_page-left-sidebar li ul li a {
	color: #919191;
	font-size: 16px;
	font-family: "Sentinel Medium", serif;
}

.widget_shopping_cart_content li a {
	color: #ff5500;
	font-size: 16px;
	font-family: "Sentinel Medium", serif;
	display: block;
}

.quantity {
	display: none;
}

.total {
	font-family: "Sentinel Medium", serif;
	color: #827f7f;
	font-size: 16px;
}

.widget_shopping_cart_content .total {
	padding: 20px;
}

.total strong {
	font-weight: normal;
}

.widget_shopping_cart_content .button {
	display: inline-block;
	padding: 5px 0px;
	text-align: center;
	background: #f19338;
	border: 5px solid #ee8015;
	color: #fff;
	font-family: "Sentinel Book", serif;
	max-width: 48%;
	width: 100%;
	transition: color 0.4s ease-in-out 0s;
}

.widget_shopping_cart_content .checkout {
	margin-left: 2%;
}

.buttons {
	margin: 10px 0 0;
	padding: 0 20px;
}

.price_label {
	color: #919191;
	font-size: 16px;
	font-family: "Sentinel Book", serif;
}

.empty {
	color: #ff5500;
	font-family: "Sentinel Medium", serif;
}

.page-numbers li {
	background: #501818;
	display: inline-block;
	margin: 0 3px;
	padding: 7px;
}

.page-numbers li a {
	color: #fff;
}

.shop-page-wrapper {
	padding-left: 0;
}

.price_slider_amount .button {
	background: #f19338 none repeat scroll 0 0;
	border: 5px solid #ee8015;
	color: #fff;
	display: inline-block;
	font-family: "Sentinel Book", serif;
	max-width: 48%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

.price_slider_amount .button:hover {
	background: #ee8015 none repeat scroll 0 0;
	border: 5px solid #f19338;
	color: #fff;
	display: inline-block;
	font-family: "Sentinel Book", serif;
	max-width: 48%;
	padding: 5px 0;
	text-align: center;
	width: 100%;
}

.left-product-image-box {
	float: left;
	width: 50%;
	text-align: center;
	padding: 25px;
	border: 1px solid #e3e3e3;
}

.top-deatil-box {
	padding-top: 50px;
}

.right-detail-box {
	float: left;
	width: 50%;
	padding: 0 25px;
}

.product-title-detail {
	font-family: 'brandon_grotesquebold', sans-serif;
	color: #373737;
	font-size: 33px;
	text-transform: uppercase;
}

.product-price-detail {
	font-family: 'Sentinel Bold', serif;
	color: #d0bc4d;
	font-size: 32px;
}

.rating-with-description {
	border-top: 1px solid #e9e9e9;
	padding-top: 10px;
}

.rating-box img {
	width: 20px;
	margin-right: 3px;
}

.desc-product {
	font-family: 'Sentinel Book', serif;
	margin: 15px 0;
	color: #373737;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 1px
}

.quantity-text {
	font-family: 'brandon_grotesqueblack', sans-serif;
	display: inline-block;
	color: #501818;
	margin-right: 10px;
}

.quantity select {
	border: 1px solid #a8a8a8;
	font-family: "brandon_grotesque_regularRg", sans-serif;
	font-size: 1em;
	margin: 2% 0;
	padding: 6px 12px;
	width: 80px;
	color: #501818;
	font-weight: 700;
}

.detail-button-box {
	margin: 20px 0;
}

.social-media-box {
	margin-top: 20px;
}

.related-item-detail-page {
	margin: 20px 0;
}

.heading-related-item {
	font-family: 'brandon_grotesqueblack', sans-serif;
	font-weight: 700;
	font-size: 24px;
	color: #383838;
	text-transform: uppercase;
}

.related-product-box {
	border-top: 1px solid #d7d7d7;
	padding-top: 50px;
	margin-top: 10px;
}

.feedback-box {
	border-top: 1px solid #d7d7d7;
	padding-top: 30px;
	margin-top: 10px;
}

.left-rating-star {
	float: left;
	width: 20%;
}

.right-review-write-button {
	float: left;
}

.rating-text {
	font-family: 'brandon_grotesqueblack', sans-serif;
	color: #919191;
}

.write-review-button {
	display: block;
	background: #d3c158;
	font-family: 'brandon_grotesqueblack', sans-serif;
	color: #fff;
	padding: 12px 20px;
	text-align: center;
}

@media only screen and (max-width:860px) {

	.main_heading,
	.sub_heading {
		max-width: 100%;
		width: 100%;
	}

	.bread_crum {
		margin-top: 30px;
	}
}

@media only screen and (max-width:960px) {
	#sidebar {
		width: 100%;
		float: none;
		margin-bottom: 30px;
	}

	.right-main-container {
		float: none;
		width: 100%;
	}
}

.comment-form-comment label {
	display: block;
}

.woocommerce .checkout .first-payment-date,
.woocommerce .cart-collaterals .first-payment-date {
	display: none;
	/* added 5 Feb 2016 to hide miscalculated date - TODO be fixed */
}

ul.products li {
	background-image: none;
}

article.post ul {
	list-style: none !important;
}

#countrylist li {
	padding: 0;
	background-image: none;
}

/* =======================================================
*
* 	Template Style 
*	Edit this section
*
* ======================================================= */
body {
	font-family: "Work Sans", Arial, sans-serif;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.7;
	color: #777777;
	color: #7f7f7f;
	background: #fff;
	height: 100%;
	position: relative;
}

@media screen and (max-width: 768px) {
	body {
		font-size: 17px;
		line-height: 1.5;
	}
}

a {
	color: #52d3aa;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
}

a:hover,
a:active,
a:focus {
	color: #52d3aa;
	outline: none;
	text-decoration: none;
}

p {
	margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #000;
	font-family: "Work Sans", Arial, sans-serif;
	font-weight: 300;
	margin: 0 0 30px 0;
}

::-webkit-selection {
	color: #fff;
	background: #52d3aa;
}

::-moz-selection {
	color: #fff;
	background: #52d3aa;
}

::selection {
	color: #fff;
	background: #52d3aa;
}

#fh5co-wrap {
	position: relative;
	background: #fff;
	z-index: 2;
	margin-bottom: 450px;
}

@media screen and (max-width: 992px) {
	#fh5co-wrap {
		margin-bottom: auto;
	}
}

#fh5co-footer {
	padding-top: 4em;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	height: 450px;
	background: #333333;
	font-size: 18px;
}

@media screen and (max-width: 992px) {
	#fh5co-footer {
		height: inherit;
		position: relative;
		padding: 5em 0;
	}
}

#fh5co-footer .fh5co-social li {
	display: block;
}

#fh5co-footer p {
	line-height: 1.5;
}

#fh5co-footer h3 {
	color: #fff;
	font-size: 20px;
}

#fh5co-footer a {
	color: rgba(255, 255, 255, 0.7);
}

#fh5co-footer a:hover {
	color: #52d3aa;
}

#fh5co-footer ul {
	padding: 0;
	margin: 0;
}

#fh5co-footer ul li {
	padding: 0;
	margin: 0;
	list-style: none;
}

#fh5co-footer .fh5co-copyright {
	padding-top: 3em;
}

#fh5co-footer .fh5co-copyright small {
	display: block;
}

#fh5co-header {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000;
}

#fh5co-header nav {
	text-align: center;
}

#fh5co-header nav ul {
	padding: 0;
	margin: 0;
}

#fh5co-header nav li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: inline;
}

#fh5co-header nav li a {
	padding: 20px;
	color: rgba(255, 255, 255, 0.7);
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	-webkit-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
}

#fh5co-header nav li a span {
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	border-bottom: 2px solid transparent;
	display: block;
}

@media screen and (max-width: 768px) {
	#fh5co-header nav li a {
		padding: 10px 2px;
	}
}

#fh5co-header nav li a:hover {
	color: white;
}

#fh5co-header nav li a:hover span {
	border-bottom: 2px solid #fff;
}

#fh5co-header nav li.fh5co-active a {
	color: #fff;
}

#fh5co-header nav li.fh5co-active a span {
	border-bottom: 2px solid #fff;
}

.fh5co-table,
.fh5co-table-cell,
.fh5co-hero,
.fh5co-parallax {
	height: 670px;
}

.fh5co-hero,
.fh5co-parallax {
	background-color: #555;
	background-attachment: fixed;
	background-size: cover;
	position: relative;
}

.fh5co-hero .overlay,
.fh5co-parallax .overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: black;
	opacity: .2;
}

@media screen and (max-width: 768px) {

	.fh5co-hero,
	.fh5co-parallax {
		height: inherit;
		padding: 4em 0;
	}
}

.fh5co-hero .fh5co-intro h1,
.fh5co-parallax .fh5co-intro h1 {
	color: #fff;
	font-size: 70px;
	font-weight: 300;
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {

	.fh5co-hero .fh5co-intro h1,
	.fh5co-parallax .fh5co-intro h1 {
		font-size: 30px;
	}
}

.fh5co-hero .fh5co-intro p,
.fh5co-parallax .fh5co-intro p {
	color: #fff;
}

.fh5co-hero .fh5co-intro p a,
.fh5co-parallax .fh5co-intro p a {
	color: #fff;
	border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.fh5co-hero .fh5co-intro p a:hover,
.fh5co-parallax .fh5co-intro p a:hover {
	color: #fff;
}

.fh5co-table {
	display: table;
}

.fh5co-table-cell {
	display: table-cell;
	vertical-align: middle;
}

.fh5co-section {
	padding: 5em 0;
}

@media screen and (max-width: 768px) {
	.fh5co-section {
		padding: 3em 0;
	}
}

.fh5co-feature {
	text-align: left;
	width: 100%;
	float: left;
	padding: 20px;
}

.fh5co-feature .fh5co-icon {
	float: left;
	width: 10%;
	display: block;
	margin-top: 5px;
}

.fh5co-feature .fh5co-icon i {
	color: #52d3aa;
	font-size: 70px;
}

@media screen and (max-width: 1200px) {
	.fh5co-feature .fh5co-icon i {
		font-size: 40px;
	}
}

.fh5co-feature.fh5co-feature-sm .fh5co-icon i {
	color: #52d3aa;
	font-size: 28px;
}

@media screen and (max-width: 1200px) {
	.fh5co-feature.fh5co-feature-sm .fh5co-icon i {
		font-size: 28px;
	}
}

.fh5co-feature .fh5co-text {
	float: right;
	width: 80%;
}

@media screen and (max-width: 768px) {
	.fh5co-feature .fh5co-text {
		width: 82%;
	}
}

@media screen and (max-width: 480px) {
	.fh5co-feature .fh5co-text {
		width: 72%;
	}
}

.fh5co-feature .fh5co-text h2,
.fh5co-feature .fh5co-text h3 {
	margin: 0;
	padding: 0;
}

.fh5co-feature .fh5co-text h3 {
	margin-bottom: 20px;
	color: rgba(0, 0, 0, 0.8);
}

.fh5co-social {
	padding: 0;
	margin: 0;
}

.fh5co-social li {
	padding: 0;
	margin: 0;
	list-style: none;
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
}

.fh5co-social li a span {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	padding-left: 10px;
}

.btn {
	margin-right: 4px;
	margin-bottom: 4px;
	font-family: "Work Sans", Arial, sans-serif;
	font-size: 18px;
	font-weight: 400;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	transition: 0.5s;
	padding: 8px 20px !important;
}

.btn.btn-sm {
	padding: 4px 15px !important;
}

.btn.btn-md {
	padding: 8px 20px !important;
}

.btn.btn-lg {
	padding: 18px 36px !important;
}

.btn:hover,
.btn:active,
.btn:focus {
	box-shadow: none !important;
	outline: none !important;
}

.btn-primary {
	background: #52d3aa;
	color: #fff;
	border: 2px solid #52d3aa;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
	background: #66d8b4 !important;
	border-color: #66d8b4 !important;
}

.btn-primary.btn-outline {
	background: transparent;
	color: #52d3aa;
	border: 2px solid #52d3aa;
}

.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active {
	background: #52d3aa;
	color: #fff;
}

.btn-success {
	background: #5cb85c;
	color: #fff;
	border: 2px solid #5cb85c;
}

.btn-success:hover,
.btn-success:focus,
.btn-success:active {
	background: #4cae4c !important;
	border-color: #4cae4c !important;
}

.btn-success.btn-outline {
	background: transparent;
	color: #5cb85c;
	border: 2px solid #5cb85c;
}

.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active {
	background: #5cb85c;
	color: #fff;
}

.btn-info {
	background: #5bc0de;
	color: #fff;
	border: 2px solid #5bc0de;
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active {
	background: #46b8da !important;
	border-color: #46b8da !important;
}

.btn-info.btn-outline {
	background: transparent;
	color: #5bc0de;
	border: 2px solid #5bc0de;
}

.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active {
	background: #5bc0de;
	color: #fff;
}

.btn-warning {
	background: #f0ad4e;
	color: #fff;
	border: 2px solid #f0ad4e;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
	background: #eea236 !important;
	border-color: #eea236 !important;
}

.btn-warning.btn-outline {
	background: transparent;
	color: #f0ad4e;
	border: 2px solid #f0ad4e;
}

.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active {
	background: #f0ad4e;
	color: #fff;
}

.btn-danger {
	background: #d9534f;
	color: #fff;
	border: 2px solid #d9534f;
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active {
	background: #d43f3a !important;
	border-color: #d43f3a !important;
}

.btn-danger.btn-outline {
	background: transparent;
	color: #d9534f;
	border: 2px solid #d9534f;
}

.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active {
	background: #d9534f;
	color: #fff;
}

.btn-outline {
	background: none;
	border: 2px solid gray;
	font-size: 16px;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
	box-shadow: none;
}

.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	background: transparent;
	border: 2px solid rgba(0, 0, 0, 0.1);
	height: 54px;
	font-size: 18px;
	font-weight: 300;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	-ms-border-radius: 0px;
	border-radius: 0px;
}

.form-control:active,
.form-control:focus {
	outline: none;
	box-shadow: none;
	border-color: #52d3aa;
}

.fh5co-check {
	padding: 0 0 0 0;
	margin: 0 0 1.5em 0;
}

.fh5co-check li {
	padding: 0 0 0 40px;
	margin: 0;
	list-style: none;
	position: relative;
}

.fh5co-check li:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: absolute;
	left: 0;
	top: .3em;
	content: "\f00c";
	color: #52d3aa;
}

.fh5co-staff img {
	margin-bottom: 1em;
}

.fh5co-staff h3 {
	margin: 0;
}

.fh5co-staff h4 {
	margin: 0 0 20px 0;
	font-weight: 300;
	color: rgba(0, 0, 0, 0.4);
}

#map {
	width: 100%;
	height: 700px;
}

@media screen and (max-width: 768px) {
	#map {
		height: 200px;
	}
}

@media screen and (max-width: 480px) {
	.col-xxs-12 {
		float: none;
		width: 100%;
	}
}

.row-bottom-padded-lg {
	padding-bottom: 7em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-lg {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-md {
	padding-bottom: 4em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-md {
		padding-bottom: 2em;
	}
}

.row-bottom-padded-sm {
	padding-bottom: 2em;
}

@media screen and (max-width: 768px) {
	.row-bottom-padded-sm {
		padding-bottom: 2em;
	}
}


/************* GENERAL STYLES ****************/

body {
	color: #000000;
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	overflow-x: hidden;
}

#fh5co-wrap {
	margin-bottom: 0;
	background: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
}

.clearfix:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	visibility: hidden;
}

.vertical-align-parent {
	display: table;
}

.vertical-align-content {
	display: table-cell;
	vertical-align: middle;
}

.navbar,
.section1 figcaption,
.videoContainer p,
button,
h3,
h4,
h5,
h6,
.buyThisBox p,
footer {
	letter-spacing: 1.5px;
}

.section2 h2,
.section3 h2,
.section4 h2,
.section5 h2,
.section7 h2,
.section8 h2 {
	font-size: 3.5em;
	color: #000;
}

.section7 {
	margin-top: -4.7em;
}

::-moz-selection {
	color: #fff;
	background: #501516;
}

::selection {
	color: #fff;
	background: #501516;
}

i {
	color: #501516;
}

/* 5 Column Layout */
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 10px;
	padding-left: 10px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

a,
a:active {
	cursor: pointer;
	color: #501516;
}

a:hover {
	color: #000000;
}

button {
	text-transform: uppercase;
	color: #ffffff;
	font-weight: 300;
}

button.turquoise {
	background-color: #268388;
	padding: .75em 4em;
	margin: 0 auto;
	color: #ffffff;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	transition: all .4s;
	-webkit-transition: all .4s;
}

button.turquoise:hover,
button.turquoise:focus,
button.turquoise:active {
	background-color: #1a5b5f;
	transition: all .4s;
	-webkit-transition: all .4s;
}

button.transparent {
	background-color: rgba(0, 0, 0, .4);
	border: 2px solid #fff;
	border-radius: 5px;
	text-transform: uppercase;
	padding: .75em 3.5em;
	font-size: 16px;
	transition: all .4s;
	-webkit-transition: all .4s;
}

button.transparent:hover,
button.transparent:focus,
button.transparent:active {
	background-color: rgba(0, 0, 0, .6);
}

.boxCutout {
	text-align: center;
}

/********************** DIVIDERS / HORIZONTAL RULES **********************/
/* SECTION 1 */
@media screen and (-webkit-min-device-pixel-ratio:0) {
	.videoContainer:after {
		content: "";
		background-image: url(../img/dividerWhiteTop.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 20px;
		height: 200px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section1:before {
		content: "";
		background-image: url('../img/dividerWhiteBottom.png');
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		width: 20px;
		height: 250px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section4:after {
		content: "";
		background-image: url(../img/dividerWhiteTop.png);
		background-size: cover;
		background-repeat: no-repeat;
		width: 20px;
		height: 200px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section5:before {
		content: "";
		background-image: url('../img/dividerDarkBottom.png');
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		width: 20px;
		height: 100px;
		position: absolute;
		left: 0;
		right: 0;
		top: -66px;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section5:after {
		content: "";
		background-image: url('../img/dividerDarkTop.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		width: 20px;
		height: 100px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: -100px;
		margin-right: auto;
		margin-left: auto;
		z-index: -1;
	}

	.section6:before {
		content: "";
		background-image: url('../img/dividerWhiteBottom.png');
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		width: 20px;
		height: 150px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section6:after {
		content: "";
		background-image: url('../img/dividerWhiteTop.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
		width: 20px;
		height: 150px;
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}

	.section7:before {
		content: "";
		background-image: url('../img/dividerDarkBottom.png');
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		width: 20px;
		height: 75px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		margin-right: auto;
		margin-left: auto;
		z-index: 1;
	}
}

/********************** SITE BRAND **********************/
.navbar-brand {
	height: auto;
	padding: 10px 15px;
}

/********************** NAVIGATION **********************/
header[role="banner"] {
	height: auto;
	border: none;
}

header[role="banner"] .container-fluid {
	max-width: 1200px;
}

header[role="banner"] nav {
	width: 100%;
}

header[role="banner"] nav ul li {
	display: inline-block;
	float: left;
	background-image: none;
}

header[role="banner"] nav ul li a {
	display: block;
	float: left;
	height: auto;
	padding: 0 14px;
	margin: 0;
	border: none;
	line-height: 74px;
	font-family: 'brandon_grotesqueblack', sans-serif;
	text-transform: uppercase;
	font-size: 1em;
	cursor: pointer;
	color: #fff;
}

header[role="banner"] nav ul li:nth-child(2) a {
	border: none;
}

header[role="banner"] nav ul li a:hover {
	background: #268388;
}

header[role="banner"] nav ul li.current-menu-item a {
	background: #268388;
	margin-top: 0;
}

header[role="banner"] #account {
	padding: 0;
	line-height: 74px;
}

header[role="banner"] #account a,
header[role="banner"] #account span.hello {
	color: #fff;
}

header[role="banner"] #account a:hover {
	color: #268388;
}

header[role="banner"] #account span.cart-contents {
	padding: 0 12px 0 22px;
	background-position: left 22px center;
	margin: -45px 0 0 0;
}

header[role="banner"] #account span.cart-contents:hover {
	background-color: transparent;
	background-position: left 22px center;
}

header[role="banner"] #account span.cart-contents span.total {
	color: #fff;
	padding-left: 24px;
	line-height: 1em;
	font-size: 1.25em;
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
}

header[role="banner"] #account span.cart-contents:hover span.total {
	color: #268388;
}

.mobileLogin {
	display: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-default {
	background-color: rgba(0, 0, 0, .4);
	min-height: 75px;
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #fff;
}

.navbar-default li a i {
	color: #fff;
	margin-right: .5em;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.navbar-default a:hover i,
.navbar-default a:focus i,
.navbar-default a:active i {
	color: #333;
	-webkit-transition: all .5s;
	transition: all .5s;
}

ul.nav.navbar-nav,
.navbar-default .navbar-nav>li {
	min-height: 75px;
	font-size: .85em;
}

.navbar-default .navbar-nav>li>a,
.mobileLogin a {
	text-transform: uppercase;
	cursor: pointer;
	color: #ffffff;
}

.navbar-nav>li>a {
	line-height: 40px;
}

/* COLLAPSED NAV */
.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background-color: initial;
}

.navbar-header button span {
	color: #ffffff;
}

.navbar-collapse.collapse.in {
	background: rgba(0, 0, 0, .5);
}

/* PAGE HEADING UPDATE */
figure#headerimg {
	height: 375px;
}

figure#headerimg h1 {
	line-height: 475px;
}

/********************** VIDEO **********************/

.videoContainer {
	position: relative;
	width: 100%;
	height: 900px;
	z-index: -1;
	overflow: hidden;
}

.videoContainer a,
.videoContainer p {
	color: #fff;
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.videoContainer .desktop {
	max-width: 900px;
	width: 100%;
	height: auto;
}

.videoContainer .mobile {
	display: none;
}

.videoContainer a {
	top: 220px;
}

.videoContainer p {
	top: 555px;
	font-size: .85em;
}

video {
	margin: 0 auto;
	min-height: 900px;
	width: 100%;
	object-fit: inherit;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}

/********************** TOP SECTION **********************/
#top {
	position: fixed;
	z-index: 1;
	width: 100%;
	text-align: center;
}

.videoContainer h1 {
	position: relative;
	line-height: 2;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 0 50px 0;
}

.videoContainer h1::before {
	background-image: url(../img/title-before.svg);
	background-size: contain;
	background-repeat: no-repeat;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 50%;
}

.videoContainer h1::after {
	background-image: url(../img/title-after.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center right;
	content: '';
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 50%;
}

.videoContainer h1 span {
	display: block;
	font-family: 'brandon_grotesquemedium';
	position: absolute;
	left: 50%;
	margin-left: -94px;
	margin-top: -22px;
	text-transform: uppercase;
	font-size: 25px;
}

.videoContainer a.join-link {
	top: 385px;
}

.videoContainer a.join-link button {
	padding: .75em 2.25em;
}

/********************** SECTION 1 **********************/
.section1 {
	background-color: #DADAE6;
	background-image: url('../img/seatedSuit.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	height: 675px;
	position: relative;
	top: -200px;
	transition: none;
	margin-bottom: -10em;
	clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 80%, 0% 0%);
	-webkit-clip-path: polygon(0% 0%, 50% 20%, 100% 0%, 100% 100%, 0% 80%, 0% 0%);
}

.turquoiseCircle {
	display: inline-block;
	width: 110px;
	height: 110px;
	line-height: 110px;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	background: #268388;
}

.section1 figure {
	text-align: center;
	height: 174px;
	position: relative;
	top: 310px;
	margin-top: 1em;
	margin-bottom: 1em;
}

.section1 figcaption {
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	padding: .5em 0 1em 0;
	text-transform: uppercase;
}


/********************** SECTION 2 **********************/
.section2 {
	text-align: center;
	position: relative;
	background-color: transparent;
	padding-bottom: 25px;
	padding-top: 0;
}

.section2:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: -200px;
	width: 100%;
	height: 145%;
	z-index: -1;
	background-image: url('../img/background-wood.jpg');
	background-repeat: no-repeat;
	background-position: 50% 0;
	background-size: cover;
	clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%, 0% 0%);
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 0% 100%, 0% 0%);
	opacity: .4;
}

.section2 h2 {
	margin-bottom: 18px;
}

.section2 h2 {
	text-align: center;
}

.section2 p {
	color: #000000;
	margin-bottom: 50px;
}

.boxCutout img {
	max-width: 600px;
	height: auto;
	position: relative;
	right: 7%;
}

.diamondList {
	margin-top: 75px;
	margin-bottom: 65px;
}

.section2 ol {
	counter-reset: li;
	margin-left: 0;
	padding-left: 0;
	background: transparent;
}

.section2 ol>li {
	font-family: 'brandon_grotesquemedium';
	position: relative;
	margin: 0 0 .5em 6em;
	padding: .25em 0 .25em 1.5em;
	text-align: left;
	list-style: none;
	border: 3px solid #fff;
	background: rgba(246, 246, 246, .8);
}

.section2 ol li:before {
	font-family: 'Playfair Display', serif;
	content: counter(li);
	counter-increment: li;
	position: absolute;
	top: -2px;
	left: -4em;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 41px;
	height: 41px;
	color: #fff;
	background: url(../img/maroonRectangle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: contain;
	text-align: center;
	font-size: 1em;
	line-height: 37px;
}

.section2 ol li:after {
	content: "";
	border-bottom: 3px solid #fff;
	position: absolute;
	top: 17px;
	left: -50px;
	width: 50px;
	z-index: -1;
}

/********************** SECTION 3 **********************/
.section3 {
	background: transparent;
}

.section3 h2 {
	font-size: 4em;
	text-align: center;
	margin: 2em auto .75em auto;
}

.section3 figure {
	text-align: center;
	position: relative;
}

.section3 figure img {
	width: 355px;
	height: 235px;
}

.section3 figure .step {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px 30px;
	line-height: 1;
	background-color: #AB8461;
	color: #ffffff;
	font-weight: bold;
}

.section3 figcaption {
	text-align: left;
}

.section3 figcaption h4 {
	font-family: 'brandon_grotesquebold', 'Josefin Sans', sans-serif;
	font-weight: 600;
	padding-top: 2em;
	color: #501516;
	text-transform: uppercase;
	line-height: 1.5em;
	height: 100px;
}

.section3 figcaption p {
	padding-top: 30px;
	border-top: 2px solid #AB8461;
	font-size: 18px;
}

.section3 button {
	margin-top: 65px;
}


/********************** SECTION 4 **********************/
.section4 {
	background-image: url('../img/noHead.jpg');
	background-repeat: no-repeat;
	transition: none;
	clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%, 0% 0%);
	-webkit-clip-path: polygon(0% 0%, 100% 20%, 100% 100%, 0% 80%, 0% 0%);
}

.section4 .overlay {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .8);
}

.section4 .container {
	position: relative;
	top: 115px;
}

.section4 .row {
	margin: 50px auto 25px auto;
}

.section4 h2 {
	color: #fff;
}

.pressFullScreen {
	display: flex;
	justify-content: space-between;
}

.text-center.press {
	height: 70px;
}

.section4 .fh5co-hero .overlay,
.section4 .fh5co-parallax .overlay {
	opacity: .4;
}

.section4 .pressSlider {
	display: none;
}

.slick-next {
	right: -20px;
}

.slick-prev {
	left: -20px;
}

.section4 .pressSlider .slick-prev:before,
.section4 .pressSlider .slick-next:before {
	color: #fff;
}

.section4 .slick-slide img {
	margin: 2em auto;
}

/********************** SECTION 5 **********************/
.section5 {
	padding: 2em 0;
	position: relative;
}

.section5 h2 {
	margin: 50px 0;
}

.slick-slider .slick-list,
.slick-slider .slick-track {
	padding: 0 !important;
}

/********************** SECTION 6 **********************/

.section6 {
	background: url('../img/openingBox.jpg');
	background-repeat: no-repeat;
	transition: none;
	clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%, 0% 20%);
	-webkit-clip-path: polygon(0% 20%, 100% 0%, 100% 80%, 0% 100%, 0% 20%);
	min-height: 750px;
}

.section6 .container {
	padding: 75px 0;
	position: relative;
	top: 125px;
}

.section6 figure {
	background: rgba(0, 0, 0, .6);
	text-align: center;
	padding: 40px 0;
}

.section6 figure img {
	width: 100px;
	height: 100px;
}

.section6 figcaption h3 {
	color: #fff;
	font-size: 2.25em;
	margin-top: 20px;
	margin-bottom: 0;
}

.section6 button {
	margin-top: 65px;
}

/********************** SECTION 7 **********************/

.section7 {
	position: relative;
}

.section7 h2 {
	margin: 50px auto;
}

.section7 .post-preview-container {
	display: flex;
}

.section7 figure {
	text-align: center;
	background-color: #f3f3f3;
	height: 100%;
}

.section7 .blogPic1,
.section7 .blogPic2,
.section7 .blogPic3 {
	height: 200px;
}

.section7 figcaption h4 {
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	text-align: left;
	color: #501516;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 4em 16px 1em;
	line-height: 1.5em;
}

.hashtag h4 {
	font-family: 'brandon_grotesquebold', 'Josefin Sans', sans-serif;
	text-align: center;
	color: #501516;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 4em 16px 1em;
}

.section7 p {
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	font-size: 18px;
	text-align: left;
	padding: 1em;
}

.section7 .blogPic1 {
	background-image: url('../img/blog1.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

.blogPic1 p,
.blogPic2 p,
.blogPic3 p {
	font-family: 'brandon_grotesquethin', 'Josefin Sans', sans-serif;
	color: #fff;
	background: #AB8461;
	padding: .5em;
	display: inline-block;
	position: relative;
	top: 85%;
	left: -30%;
	margin: 0 !important;
	text-align: center;
	width: 63px;
	height: 63px;
}

.blogPic1 p .month,
.blogPic2 p .month,
.blogPic3 p .month {
	font-size: .75em;
	position: relative;
	top: -10px;
	text-transform: uppercase;
}

.blogPic1 p .day,
.blogPic2 p .day,
.blogPic3 p .day {
	font-size: 1.75em;
	position: relative;
	top: -25px;
}

.section7 .blogPic2 {
	background-image: url('../img/blog2.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.section7 .blogPic3 {
	background-image: url('../img/blog3.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 75%;
}

.section7 button {
	margin: 65px auto;
}

.hashtag img {
	width: 220px;
	height: 220px;
	margin: .5em auto;
}

#wdi_pagination {
	display: none;
}

.wdi_img {
	height: auto;
}

.wdi_feed_item {
	position: relative;
}

.wdi_feed_item:hover .wdi_photo_meta {
	background-color: rgba(80, 21, 22, .75) !important;
}

.wdi_photo_meta {
	position: absolute;
	top: 8px;
	left: 5px;
	right: 5px;
	bottom: 20px;
	padding: 40% 10%;
	background: transparent !important;
}

#wdi_feed_0 .wdi_thumb_comments i,
#wdi_feed_0 .wdi_thumb_likes i {
	color: #fff;
	-webkit-transition: all .5s;
	transition: all .5s;
	opacity: 0
}

.wdi_feed_item:hover .wdi_thumb_comments i,
.wdi_feed_item:hover .wdi_thumb_likes i {
	opacity: 1 !important;
}

#wdi_feed_0 .wdi_thumb_likes i {
	margin-right: 30px;
}

.wdi_thumb_icon {
	z-index: 10;
	position: relative;
}

/********************** SECTION 8 **********************/
.section8 {
	position: relative;
	padding-bottom: 5em;
	-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%, 0% 0%);
	clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 75%, 0% 100%, 0% 0%);
	-webkit-clip-path: url("#clip-shape");
	clip-path: url("#clip-shape");
}

.section8:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: #fff;
	/* For browsers that do not support gradients */
	background: -webkit-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8));
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8));
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8));
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, .8));
	/* Standard syntax */
}

.section8Background {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	top: 1px;
	width: 100%;
	height: 100%;
	background-image: url('../img/standingAgainstWall.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	z-index: -2;
}

.section8 h2 {
	color: #501516;
}

.section8 i {
	font-size: 2.5em;
	position: relative;
	top: 12px;
	width: 50px;
	height: 50px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.section8 .socialIcons span {
	border: 3px solid #501516;
	border-radius: 50%;
	padding: 50px 40px;
	margin: 0 20px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.section8 span:hover,
.section8 span:focus,
.section8 span:active {
	background: #501516;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.section8 span:hover i,
.section8 span:focus i,
.section8 span:active i {
	color: #fff;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.section8 .socialIcons {
	margin: 100px auto 300px;
}

/********************** FOOTER **********************/

footer {
	background-color: #501516;
	margin-top: -160px;
	padding-top: 160px;
	padding-bottom: 40px;
	color: #fff;
	font-size: .75em;
}

.logo img {
	width: 120px;
	height: 120px;
	display: block;
	margin: -80px auto 40px auto;
}

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {

	/* IE10+ CSS styles go here */
	.logo img {
		margin: 40px auto;
	}
}

@supports (-ms-ime-align:auto) {

	/* IE Edge 12+ CSS styles go here */
	.logo img {
		margin: 40px auto;
	}
}

footer h4 {
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	color: #fff;
}

footer p {
	min-height: 100px;
	font-family: 'brandon_grotesquethin', 'Josefin Sans', sans-serif;
}

#mc-embedded-subscribe-form input[type="email"] {
	padding: 10px 0 10px 15px;
	float: left;
	height: 55px;
	width: 60%;
	display: block;
	border: 2px solid #fff;
	border-right: none;
	color: #fff;
	background-color: #501516;
	font-size: 16px;
	-webkit-border-radius: 5px 0 0 5px;
	-moz-border-radius: 5px 0 0 5px;
	-ms-border-radius: 5px 0 0 5px;
	border-radius: 5px 0 0 5px;
}

#mc-embedded-subscribe-form input[type="submit"] {
	float: right !important;
	width: 40% !important;
	height: 55px !important;
	display: block !important;
	padding: .75em 20px !important;
	border: 2px solid #fff !important;
	background: rgba(0, 0, 0, .4) !important;
	font-size: 16px !important;
	text-transform: uppercase !important;
	color: #fff !important;
	font-style: normal !important;
	font-weight: normal !important;
	letter-spacing: 0.05em !important;
	-webkit-border-radius: 0px 5px 5px 0 !important;
	-moz-border-radius: 0px 5px 5px 0 !important;
	-ms-border-radius: 0px 5px 5px 0 !important;
	border-radius: 0px 5px 5px 0 !important;
	-webkit-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	-ms-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	transition: all 0.4s !important;
	margin: 0 !important;
}

#mc-embedded-subscribe-form input[type="submit"]:hover,
#mc-embedded-subscribe-form input[type="submit"]:focus,
#mc-embedded-subscribe-form input[type="submit"]:active {
	background-color: rgba(0, 0, 0, .6) !important;
	-webkit-transition: all 0.4s !important;
	-moz-transition: all 0.4s !important;
	-ms-transition: all 0.4s !important;
	-o-transition: all 0.4s !important;
	transition: all 0.4s !important;
}

.copyright {
	background: #1e1e1e;
	color: #fff;
	font-size: .75em;
	height: 150px;
}

.copyright .col-md-3 {
	float: left;
}

.copyright .col-md-9 {
	float: right;
}

.copyright p {
	display: table;
	height: 72px;
	margin-bottom: 0;
}

.copyright p small {
	display: table-cell;
	vertical-align: middle;
	height: 72px;
	font-size: .75em;
}

.copyright ul {
	list-style-type: none;
	display: table;
	height: 72px;
	margin-bottom: 0;
}

.copyright ul li {
	display: table-cell;
	vertical-align: middle;
	padding: 0 1em;
	font-size: .75em;
	margin: 0 1em;
	background: none;
	text-transform: uppercase;
}

.copyright ul li a {
	color: #fff;
	font-weight: bold;
	-webkit-transition: all .4s;
	transition: all .4s;
}

.copyright ul li a:hover,
.copyright ul li a:focus,
.copyright ul li a:active {
	color: #268388;
	-webkit-transition: all .4s;
	transition: all .4s;
}

/********************** RESPONSIVE **********************/

@media only screen and (max-width: 1200px) {

	/* SECTION 7 */
	.section7 figure {
		height: 700px;
	}

	.section8 .socialIcons span {
		padding: 40px 37px;
	}
}

@media only screen and (max-width: 1024px) {
	.section3 figure img {
		width: 100%;
		height: auto;
	}

	.section5 .buyThisBox ul li:before {
		padding-right: 1em;
		margin-right: 0;
	}

	.section5 .buyThisBox p {
		padding-left: 0;
	}

	.hashtag img {
		width: 100%;
		height: auto;
	}

	/* FOOTER */

	.copyright,
	.copyright p,
	.copyright p small {
		height: auto;
	}

	.copyright ul {
		display: block;
		height: auto;
	}

	.copyright ul li {
		display: inline-block;
		height: auto;
	}
}

@media only screen and (max-width: 768px) {

	/* DIVIDERS */
	.section1:before {
		height: 120px;
	}

	.section4:after {
		height: 120px;
	}

	.section5:before {
		height: 60px;
		top: -37px;
	}

	.section6:before {
		height: 125px;
	}

	.section6:after {
		height: 120px;
	}

	.section7:before {
		height: 60px;
		top: -27px;
	}

	/* NAVIGATION */
	header[role="banner"] {
		display: block;
	}

	header[role="banner"] nav {
		display: block;
		top: 0;
		padding: 5px 0;
	}

	header[role="banner"] nav ul li {
		width: 50%;
	}

	header[role="banner"] #account {
		width: 100%;
		margin: 0;
		padding: 0 25px;
	}

	header[role="banner"] #account .contentloggedin,
	header[role="banner"] #account .contentloggedout {
		float: left;
		display: inline-block;
		width: 50%;
		margin-right: 15px;
	}

	header[role="banner"] #account span.hello {
		display: block;
	}

	header[role="banner"] #account span.cart-contents {
		padding: 0 12px 0 22px;
		background-position: left 22px center;
		width: auto;
		height: 74px;
		margin: 0;
	}

	header[role="banner"] #account span.cart-contents span.total {
		display: inline-block;
		height: 74px;
		line-height: 74px;
	}

	header[role="banner"] #account span.cart-contents span.countmobile {
		display: none;
	}

	.navbar-nav {
		margin-top: 0 !important;
		margin-bottom: 0;
	}

	.navbar .container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

	.navbar-right {
		margin-right: 0;
	}

	.navbar-collapse {
		padding-right: 0;
		padding-left: 0;
	}

	.navbar-default .navbar-nav>li {
		min-height: 10px;
		-webkit-transition: all .4s;
		transition: all .4s;
	}

	.navbar-default .navbar-nav>li:hover,
	.navbar-default .navbar-nav>li:focus,
	.navbar-default .navbar-nav>li:active {
		background: rgba(0, 0, 0, .2);
		-webkit-transition: all .4s;
		transition: all .4s;
	}

	.navbar-default .navbar-nav>li a:hover,
	.navbar-default .navbar-nav>li a:focus,
	.navbar-default .navbar-nav>li a:active .navbar-nav>li>a {
		color: #fff;
	}

	.navbar-brand {
		float: none;
		text-align: center;
	}

	.navbar-brand img {
		display: inline-block;
		position: relative;
		top: 5px;
	}

	.mobileLogin {
		display: inline-block;
		position: relative;
		float: left;
		margin-left: 20px;
		padding: 9px 10px;
		margin-top: 10.5px;
		margin-bottom: 10.5px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}

	/* VIDEO */
	.videoContainer {
		position: relative;
		background: url('../img/jim_beam-august-2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: 50%;
	}

	.videoContainer video {
		display: none;
	}

	.videoContainer a {
		width: 100%;
	}

	.videoContainer .desktop {
		max-width: 600px;
	}

	.videoContainer a {
		top: 300px;
	}

	.videoContainer p {
		top: 500px;
	}

	/* SECTION 1 */
	div.section1 {
		background-position: 80% !important;
		-webkit-clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 90%, 0% 0%);
		clip-path: polygon(0% 0%, 50% 10%, 100% 0%, 100% 100%, 0% 90%, 0% 0%);
		position: relative;
		top: -200px;
		margin-bottom: -250px;
		background-attachment: scroll;
		height: 800px;
	}

	.section1 figure {
		top: 60px;
	}

	/* SECTION 2 */
	.section2 {
		padding-top: 115px;
	}

	.section2:before {
		clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%, 0% 0%);
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 93%, 0% 100%, 0% 0%);
		height: 129%;
	}

	.section2:after {
		top: -50px;
		height: 113%;
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%, 0% 0%);
		clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%, 0% 0%);
	}

	.section2 ol li {
		margin-left: 2.5em;
	}

	.section2 ol li:before {
		left: -2.5em;
		width: 40px;
		height: 42px;
	}

	.section2 ol li:after {
		top: 18px;
		left: -47px;
		width: 47px;
	}

	/* SECTION 3 */
	.section3 {
		-webkit-clip-path: none;
		clip-path: none;
	}

	.section3 h2 {
		margin-top: 4em;
	}

	/* SECTION 4 */
	.section4 {
		background-size: 360%;
		background-position: center !important;
		clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%, 0% 0%);
		-webkit-clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 90%, 0% 0%);
		padding: 150px 0;
		background-attachment: scroll;
	}

	.section4 .container {
		position: static;
	}

	.section4 .row {
		margin: 0 auto;
	}

	.press {
		margin: 25px auto;
	}

	.section4 .pressFullScreen {
		display: none;
	}

	.section4 .pressSlider {
		display: block;
	}

	/* SECTION 5 */
	.section5 .single-slide .textLeft {
		left: 20px;
	}

	.section5 .single-slide .textRight {
		right: 20px;
	}

	.section5 .buyThisBox p {
		padding-left: 0;
		text-align: center;
		float: none;
		display: block;
		margin-bottom: 0;
	}

	.section5 .buyThisBox span {
		top: 0;
		margin-bottom: 15px;
	}

	.section5 button {
		display: block;
		margin: 0 auto;
	}

	.section5 .previousBox {
		display: block;
		margin: 0 auto;
		width: 96%;
		float: none;
		padding: 2%;
	}

	.section5 .buyThisBox {
		width: 96%;
		float: none;
		padding: 2%;
		margin: 0 auto;
	}

	/* SECTION 6 */
	.section6 {
		clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%, 0% 10%);
		-webkit-clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%, 0% 10%);
		background-attachment: scroll;
	}

	.section6 .container {
		position: static;
	}

	.section6 figure {
		margin: 1em 1em;
	}

	/* SECTION 7 */
	.section7 {
		margin-top: -2em;
	}

	.section7 .post-preview-container {
		display: block;
	}

	.section7 figure {
		height: auto;
		margin-bottom: 2em;
	}

	.hashtag img {
		max-width: 75%;
		height: auto;
	}

	.hashtag div:last-child {
		display: none;
	}

	#wdi_pagination {
		display: none;
	}

	/* SECTION 8 */
	.section8 {
		clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
		-webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 50% 90%, 0% 100%, 0% 0%);
	}

	.socialIcons div {
		margin: 50px auto;
	}

	.socialIcons div.facebook,
	.socialIcons div.twitter,
	.socialIcons div.instagram {
		margin-top: 0;
	}

	.section8 .socialIcons {
		margin: 100px auto 375px;
	}

	.section8 .socialIcons span {
		padding: 40px 25px;
	}

	/* FOOTER */
	footer {
		margin-top: -100px;
		text-align: center;
	}

	footer p {
		min-height: 30px;
	}

	footer button {
		margin-bottom: 30px;
	}

	.copyright {
		text-align: center;
	}

	.copyright .col-md-3,
	.copyright .col-md-9 {
		float: none;
	}

	.copyright ul {
		-webkit-padding-start: 0;
		margin-top: 1em;
	}

	.copyright p {
		margin: 1em auto;
	}
}

/* Make navbar collapse earlier than Bootstap default */
@media (max-width: 769px) {
	.navbar-header {
		float: none;
	}

	.navbar-left,
	.navbar-right {
		float: none !important;
	}

	.navbar-toggle {
		display: block;
	}

	.navbar-collapse {
		border-top: 1px solid transparent;
		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
	}

	.navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}

	.navbar-collapse.collapse {
		display: none !important;
	}

	.navbar-nav {
		float: none !important;
		margin-top: 7.5px;
	}

	.navbar-nav>li {
		float: none;
	}

	.navbar-nav>li>a {
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.collapse.in {
		display: block !important;
	}

	.videoContainer h1 {
		max-width: 600px;
		font-size: 4em;
		border: 2px solid #fff;
		padding: 30px 20px 50px 20px;
		line-height: 1;
	}

	.videoContainer h1::before,
	.videoContainer h1::after {
		display: none;
	}

	.videoContainer h1 span {
		margin-top: -75px;
	}

	.videoContainer a.join-link {
		top: 475px;
	}

	.videoContainer p {
		top: auto;
		bottom: 200px;
	}
}

@media only screen and (max-width: 767px) {
	.section8 div.instagram {
		margin: 50px auto;
	}
}

@media only screen and (max-width: 568px) {

	.section2 h2,
	.section3 h2,
	.section4 h2,
	.section5 h2,
	.section7 h2,
	.section8 h2 {
		font-size: 2em;
	}

	/* VIDEO */
	.videoContainer h1 {
		margin-top: 50px;
		font-size: 3.5em;
	}

	.videoContainer p {
		display: none;
	}
}

@media only screen and (max-width: 480px) {

	/* GENERAL */
	button.turquoise,
	button.transparent {
		padding: .5em 3em;
	}

	/* DIVIDERS */
	.section1:before {
		height: 130px;
	}

	/* VIDEO */
	.videoContainer a {
		width: 90%;
		top: 150px;
	}

	.videoContainer img.mobile {
		width: 90%;
	}

	.videoContainer p {
		top: 575px;
	}

	.videoContainer .desktop {
		display: none;
	}

	.videoContainer .mobile {
		display: block;
		margin: 0 auto;
	}

	.boxCutout img {
		max-width: 100%;
	}

	.fh5co-hero .fh5co-intro h1,
	.fh5co-parallax .fh5co-intro h1 {
		font-size: 3.5em !important;
	}

	/* SECTION 1 */
	.section1 figure {
		top: 80px;
	}

	/* SECTION 3 */
	.section3 {
		position: relative;
		top: 25px;
	}

	.section3 h2 {
		margin-top: 2.5em;
	}

	.section3 button {
		margin-top: 15px;
	}

	/* SECTION 5 */
	.section5 .buyThisBox ul li:before {
		margin-right: .25em;
	}

	.section5 button.turquoise {
		margin: 1em auto;
	}

	#slick-slide04,
	#slick-slide05,
	#slick-slide06,
	#slick-slide07,
	#slick-slide08 {
		display: none;
	}

	/* SECTION 6 */
	.section6 {
		background-position: 50% !important;
	}

	/* SECTION 7 */
	.section7 button {
		margin: 0 auto;
	}

	.hashtag img {
		max-width: 100%;
		width: 175px;
		height: 175px;
	}

	/* SECTION 8 */
	.section8 .socialIcons {
		margin: 100px auto 545px;
	}

	.section8 .socialIcons span {
		margin: 0;
	}

	/* FOOTER */
	footer {
		margin-top: -100px;
	}

	footer .promise,
	footer .questions,
	footer .blog {
		display: none;
	}

	footer button.transparent {
		font-size: 14px;
		padding: .75em 3em;
	}

	input[type="submit"],
	input[type="email"] {
		font-size: 14px;
		height: 45px;
	}

	.copyright p {
		margin: 2em auto;
	}

	.copyright ul li {
		display: block;
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 480px) {
	header[role="banner"] nav ul li {
		width: 100%;
	}

	header[role="banner"] #account span.myaccount {
		display: inline-block;
	}

	header[role="banner"] #account span.hello {
		display: none;
	}

	header[role="banner"] #account {
		padding: 0 50px;
	}

	figure#headerimg {
		height: 250px;
	}

	figure#headerimg h1 {
		line-height: 275px;
	}

	.mobileLogin {
		width: 125px;
		text-align: left;
	}

	.navbar-default .navbar-toggle {
		width: 125px;
		text-align: right;
	}
}

@media only screen and (max-width: 375px) {

	/* VIDEO */
	.videoContainer p {
		top: 525px;
	}

	.videoContainer {
		height: 800px;
	}

	/* SECTION 3 */
	.section3 figure img {
		max-width: 100%;
		height: auto;
	}

	/* SECTION 8 */
	.hashtag img {
		width: 130px;
		height: 130px;
	}
}


@media only screen and (max-width: 375px) {
	.videoContainer p {
		top: 450px;
	}
}


/* SHOP HEADER */
.shop-slider {
	width: 100%;
	height: 400px;
}


/* BRING NEW HOME STYLES TO THE REST OF THE SITE */
/* PAGE TITELS */
figure#headerimg h1,
.top-heading-top-products,
.shop_page-left-sidebar li ul li a,
.product_title {
	font-family: 'Playfair Display', serif;
	line-height: 1;
}

/*JOIN & GIFT */
ul li.categories,
ul li.categories ul li {
	background-image: none;
}

#countrycontainer .gift aside .mostpop,
#countrycontainer .join aside .mostpop,
#countrycontainer .gift aside .mostpop span,
#countrycontainer .join aside .mostpop span {
	background: #AB8461;
}

#countrycontainer .gift aside .mostpop span:before,
#countrycontainer .join aside .mostpop span:before,
#countrycontainer .gift aside .mostpop span:after,
#countrycontainer .join aside .mostpop span:after {
	display: none;
}

#countrycontainer .gift aside span.amount,
#countrycontainer .join aside span.amount {
	color: #AB8461;
}

#countrycontainer .gift aside a.btn,
#countrycontainer .join aside a.btn {
	background: #268388;
	border-color: #1a5b5f;
}

#countrycontainer .gift aside a.btn:hover,
#countrycontainer .join aside a.btn:hover {
	background-color: #1a5b5f;
}

.join .right aside {
	top: 0 !important;
}

/*SHOP*/
.shop-slider.slick-slider {
	padding: 0;
	height: 450px;
}

.shop-slider .slick-dots {
	bottom: 10px;
}

.slick-dots li {
	background-image: none;
}

.slick-dots li button {
	width: 25px;
	height: 25px;
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
	color: #1a5b5f;
	width: 25px;
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	opacity: 1;
}

.slick-dots li.slick-active button:before {
	color: #268388;
}

.slide-bg {
	min-height: 450px;
	background-size: cover;
}

.overlay-dark-box {
	background: rgba(0, 0, 0, .1);
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.center_area {
	padding-top: 7%;
}

.slide-bg .wrap {
	z-index: 10;
}

.main_heading {
	font-family: 'Playfair Display', serif;
	line-height: 1.25;
}

.sub_heading {
	font-family: 'brandon_grotesquemedium';
	font-size: 1.5em;
}

.top-heading-top-products {
	font-weight: bold;
}

.price-text-top-product,
.empty {
	font-family: 'brandon_grotesquemedium';
	color: #AB8461;
}

.add-to-cart-button,
.added_to_cart.wc-forward,
.product-box-cart-button,
.price_slider_amount .button,
.widget_shopping_cart_content .button,
.detail-button-box .add_to_cart_button,
.detail-button-box .add-fav-button {
	background: #268388;
	border-radius: 5px;
	border: 3px solid #1a5b5f;
	font-family: 'brandon_grotesquemedium';
}

.add-to-cart-button:hover,
.added_to_cart.wc-forward:hover,
.product-box-cart-button:hover,
.button-hover-show-box a:hover,
.price_slider_amount .button:hover,
.widget_shopping_cart_content .button:hover,
.detail-button-box .add_to_cart_button:hover,
.detail-button-box .add-fav-button:hover {
	background: #1a5b5f;
	border-color: #1a5b5f;
	color: #fff;
	border: 3px solid #1a5b5f;
	font-family: 'brandon_grotesquemedium';
}

.button-hover-show-box .image-box-product a:hover {
	border: none;
}

.price_label {
	font-size: 14px;
}

.page-numbers li {
	padding: 6px 16px;
}

.widget_shopping_cart_content .cart_list li a {
	color: #AB8461;
}

.widget_shopping_cart_content .total {
	color: #000;
}

.shop_page-left-sidebar li ul li a,
.shop_page-left-sidebar li ul li:hover a,
.product-categories li:hover,
#menu-shop-for li:hover {
	color: #AB8461;
}

.product-categories li:hover,
#menu-shop-for li:hover {
	border-bottom: 1px solid #AB8461;
}

.single ul {
	list-style: none;
}

.woocommerce p.stars a {
	color: #ab8461;
}

/*Checkout*/
.woocommerce-shipping-fields {
	clear: both;
}

#ship-to-different-address-checkbox {
	height: 35px;
	cursor: pointer;
}

#ship-to-different-address span.notice {
	margin-left: 10px;
}

article.post .woocommerce #payment.woocommerce-checkout-payment {
	padding: 3%;
}

/*BLOG*/
.blog article.post h2 a {
	letter-spacing: 0;
	text-transform: none;
	font-size: 1.5em;
	font-family: 'Playfair Display', serif;
	line-height: 1;
}

.blog .right .widget h3 {
	color: #fff;
	font-size: 1em;
	margin-bottom: 0;
}

.blog .right .widget blockquote {
	border: none;
	line-height: 1.25;
	margin: 5px 0 0 0 !important;
	padding: 10px;
}

/*MY ACCOUNT*/
.woocommerce-MyAccount-navigation ul::after {
	content: ".";
	visibility: hidden;
	display: block;
	height: 0;
	clear: both;
}

li.woocommerce-MyAccount-navigation-link {
	background: none;
	float: left;
	padding: 10px 16px;
	border: 2px solid #501516;
	border-radius: 5px;
	margin: 8px;
}

li.woocommerce-MyAccount-navigation-link:hover {
	background: #501516;
}

li.woocommerce-MyAccount-navigation-link:hover a {
	color: #fff;
}

/*PAGES & POSTS*/
article.post p {
	color: #000;
	font-size: 100%;
}

article.post h2 {
	font-family: 'Playfair Display', serif;
	line-height: 1.5;
}

/*LANDING PAGE TEMPLATE*/
.landing-3-column.section3 figcaption h4 {
	height: auto;
	margin-bottom: 10px;
}

.section6 .container.landing-moto {
	padding-top: 125px;
}

/*GROOMSMEN MINIFIED*/
#gform_17 {
	width: 90%;
	max-width: 700px;
	margin: 25px auto 0 auto;
}

.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
	margin-bottom: 0 !important;
}

#input_17_5 {
	padding: 6.5px 4px;
}

#field_17_2,
#field_17_3 {
	margin-top: 12px;
}

@charset "utf-8";

/*-------------------------------------------------------BASICS--*/

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	line-height: 1.125em;
	text-transform: none;
}

h1 {
	color: #fff;
	font-size: 4.5em;
	font-weight: 400;
	margin: 0;
}

h2 {
	color: #501516;
	font-size: 2.25em;
	font-weight: 400;
}

h3 {
	color: #ab8461;
	font-size: 1em;
	font-family: 'brandon_grotesquebold', sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p,
a,
li {
	font-family: 'brandon_grotesquemedium';
	letter-spacing: 1px;
}

ul li {
	background-image: url(../img/icon-bullet.svg);
	background-position: top 5px left;
	background-repeat: no-repeat;
	padding: 0 0 0 18px;
	background-size: 10px;
}

form {
	-webkit-transition: none;
	transition: none;
}

form li {
	padding-right: 0 !important;
	background-image: none;
}

form label {
	text-transform: none !important;
}

.page-template-template-get-a-text form label {
	color: #fff;
}

form .top_label .gfield_label {
	font-size: .875em;
}

form .field_sublabel_below .ginput_complex.ginput_container label,
form .field_sublabel_below div[class*=gfield_time_].ginput_container label {
	font-size: .625em;
}

form input[type=submit] {
	background-color: #268388 !important;
	border-radius: 6px !important;
	font-size: .875em !important;
	padding: 10px 35px !important;
	border: 2px solid #268388 !important;
	color: #fff !important;
	display: inline-block !important;
	font-weight: 800 !important;
	margin: 0 10px 0 0 !important;
	text-decoration: none !important;
	text-transform: uppercase !important;
	font-family: 'brandon_grotesquemedium' !important;
	letter-spacing: 1px !important;
}

form input,
form textarea {
	background-image: none;
	background-repeat: no-repeat;
	background-position: top 6px right 6px;
	background-size: 20px 20px;
	margin: 0 !important;
}

.gform_wrapper li.gfield_error input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]),
.gform_wrapper li.gfield_error textarea {
	background-image: url(../img/icon-form-invalid.svg);
}

.gform_wrapper .gfield_error .gfield_label {
	color: #790000 !important;
}

.LV_valid_field {
	background-image: url(../img/icon-form-valid.svg);
}

.gform_wrapper .top_label li.gfield.gfield_error.gf_left_half {
	margin-right: 0 !important;
}

.red-background {
	background-color: #501516;
}

.green-background {
	background-color: #268388;
}

.primary-button,
.dark-bg .primary-button,
.secondary-button,
.dark-bg .secondary-button,
article.post a.primary-button,
article.post a.secondary-button {
	background-color: #268388;
	border-color: #268388;
	border-radius: 6px;
	display: inline-block;
	font-family: 'brandon_grotesquemedium';
	font-size: .875em;
	padding: 10px 35px;
	text-transform: uppercase;
}

.secondary-button,
.dark-bg .secondary-button,
article.post a.secondary-button {
	background-color: #501516;
	border-color: #501516;
}

.primary-button:hover,
.dark-bg .primary-button:hover,
article.post a.primary-button:hover {
	background-color: #1a5b5f;
}

.secondary-button:hover,
.dark-bg .secondary-button:hover,
article.post a.secondary-button:hover {
	background-color: #300e0e;
}

.page-contents {
	padding: 60px 16px;
}

.page-contents h1:first-child,
.page-contents h2:first-child,
.page-contents h3:first-child,
.page-contents h4:first-child,
.page-contents h5:first-child,
.page-contents h6:first-child {
	margin-top: 0;
}

.page-contents h1:last-child,
.page-contents h2:last-child,
.page-contents h3:last-child,
.page-contents h4:last-child,
.page-contents h5:last-child,
.page-contents h6:last-child {
	margin-bottom: 0;
}

/*-------------------------------------------------------HEADER--*/
header.main-nav {
	background-color: rgba(64, 64, 64, 0.5);
	height: 75px;
	position: relative;
}

header.main-nav::after {
	background-color: rgba(64, 64, 64, .5);
	border-radius: 0 0 85px 85px;
	bottom: -70px;
	content: '';
	height: 70px;
	left: 50%;
	margin-left: -72px;
	position: absolute;
	width: 144px;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

header.main-nav.is_stuck {
	height: 55px;
}

header.main-nav.is_stuck::after {
	bottom: -42px;
	height: 42px;
	margin-left: -42.5px;
	width: 85px;
}

header.main-nav a.phone-link {
	line-height: 30px;
	text-decoration: none;
}

header.main-nav a.phone-link:hover {
	color: #268388;
}

header.main-nav a.phone-link svg#phone-link {
	display: inline-block;
	margin-right: 8px;
	vertical-align: middle;
	width: 20px;
}

header.main-nav a.phone-link:hover svg#phone-link path {
	fill-opacity: 1;
	fill: #268388;
	stroke: #268388;
}

svg#logo-white {
	display: inline-block;
	left: 50%;
	margin-left: -62px;
	position: absolute;
	top: 10px;
	width: 124px;
	z-index: 1;
}

header.main-nav.is_stuck svg#logo-white {
	width: 75px;
	margin-left: -38px;
	margin-top: 5px;
	-webkit-transition: all .5s ease-in-out 0s;
	transition: all .5s ease-in-out 0s;
}

svg#logo-white path.st0 {
	fill: #FFFFFF;
}

header.main-nav .social-media {
	float: right;
}

header.main-nav .social-media li {
	background-image: none;
	border-radius: 50%;
	border: 2px solid #fff;
	display: inline-block;
	height: 35px;
	line-height: 28px;
	margin: 0 4px 0 0;
	padding: 0;
	text-align: center;
	width: 35px;
}

header.main-nav .social-media li.facebook:hover {
	border-color: #3B5998;
	background-color: #3B5998;
}

header.main-nav .social-media li.twitter:hover {
	border-color: #4099FF;
	background-color: #4099FF;
}

header.main-nav .social-media li.instagram:hover {
	border-color: #125688;
	background-color: #125688;
}

header.main-nav .social-media li.pinterest:hover {
	border-color: #cb2027;
	background-color: #cb2027;
}

header.main-nav .social-media li.youtube:hover {
	border-color: #bb0000;
	background-color: #bb0000;
}

header.main-nav .social-media svg {
	display: inline-block;
	fill: #fff;
	vertical-align: middle;
	width: 23px;
}

/*-------------------------------------------------------FOOTER--*/
footer#footer {
	position: relative;
}

footer#footer nav.footer-nav {
	color: #fff;
	float: right;
}

footer#footer nav.footer-nav a {
	font-family: 'brandon_grotesquemedium';
	line-height: 43px;
	text-decoration: none;
}

footer#footer svg#logo-white {
	position: absolute;
	left: 50%;
	width: 60px;
	margin-left: -30px;
	top: 10px;
}

footer p {
	font-size: 16px;
}

/*-----------------------------------------------------TEMPLATE--*/
.landing-top {
	height: 100vh;
	margin-top: -75px;
}

.landing-top .page-title {
	height: 100%;
	position: relative;
	width: 100%;
	z-index: 2;
}

.landing-top .page-title::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: 125px;
	width: 34px;
	height: 34px;
	margin-left: -17px;
	background-image: url(../img/icon-arrow-down.svg);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	animation: floating 1.5s linear infinite;
	-webkit-animation: floating 1.5s linear infinite;
}

.landing-top .page-title h3 {
	color: #fff;
}

.landing-top .page-title form {
	max-width: 600px;
	width: 90%;
}

.landing-top .background {
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.landing-top .left-bg,
.landing-top .right-bg,
.landing-top .full-bg {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 100%;
}

.gifts {
	text-align: center;
	padding: 60px;
	background-image: url(../img/gifts-bg.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.gifts h2 {
	margin-top: 0;
}

.gifts h3 {
	margin-top: 1.25em;
	margin-bottom: 0;
}

.gifts .clearfix {
	display: inline-flex;
}

.gifts .gift-item {
	padding: 0 32px;
	position: relative;
}

.gifts .gift-item::after {
	content: '';
	position: absolute;
	right: -1px;
	top: 16px;
	bottom: 16px;
	width: 2px;
	background: #268388;

}

.gifts .gift-item:last-child::after {
	display: none;
}

.gifts .gift-item img {
	max-height: 150px;
	margin-bottom: 16px;
}

.give-try {
	text-align: center;
}

.give-try h2 {
	display: inline-block;
	margin: 60px 10px;
}

.give-try a {
	display: inline-block;
	position: relative;
	top: -8px;
}

.work-purpose .work,
.work-purpose .purpose {
	display: inline-flex;
	width: 100%;
}

.work-purpose .purpose {
	margin-top: -5px;
}

.work-purpose .one-half-full {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	min-height: 400px;
	position: relative;
}

.work .one-half-full:last-child {
	background-color: #e8e8e8;
	padding: 28px;
}

.work .one-half-full:last-child::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 15px 15px 0;
	border-color: transparent #e8e8e8;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	left: -15px;
	top: 50%;
}

.purpose .one-half-full:first-child {
	background-color: #e8e8e8;
	padding: 28px;
}

.purpose .one-half-full:first-child::after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 15px 0 15px 15px;
	border-color: transparent #e8e8e8;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -15px;
	right: -15px;
	top: 50%;
}

.work-purpose .one-half-full .vertical-align-content {
	padding: 32px;
	background: #fff;
}

.work-purpose .one-half-full .vertical-align-content h2 {
	margin: 0 0 8px 0;
}

.page-contents {
	background-image: url(../img/content-bg.png);
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
}

.page-contents .max-width {
	max-width: 600px;
}

.page-id-12408 .page-contents ul {
	-webkit-column-count: 2;
	column-count: 2;
	margin: 50px auto;
	max-width: 500px;
}

.box-slider {
	background-color: #e9e9e9;
	padding: 50px 0;
}

.box-slider h2 {
	text-align: center;
	margin-top: 0;
}

.slick-slider {
	width: 100%;
	padding: 0 35px;
}

.slick-slider .slick-slide:focus,
.slick-slider .slick-slide.slick-current {
	outline: 0 !important;
}

.slick-slider .slick-prev {
	background-color: transparent;
	background-image: url(../img/icon-arrow-left.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	left: 0;
	top: 50%;
	outline: 0;
	border: none;
	text-indent: 10000px;
	overflow: hidden;
	width: 20px;
	height: 25px;
}

.slick-slider .slick-next {
	background-color: transparent;
	background-image: url(../img/icon-arrow-right.svg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	right: 0;
	top: 50%;
	outline: 0;
	border: none;
	text-indent: 10000px;
	overflow: hidden;
	width: 20px;
	height: 25px;
}

.slider-nav .slick-track {
	transform: none !important;
	text-align: center;
}

.slider-for .slide-top {
	padding: 8px 16px;
	border-bottom: 3px solid #268388;
	margin-bottom: 25px;
}

.slider-for .slide-top h3 {
	margin: 0;
	color: #501516;
}

.slider-for .slide-top h3:first-child {
	float: left;
}

.slider-for .slide-top h3:last-child {
	float: right;
}

.slider-for .slick-track {
	text-align: left;
}

.slider-for .slick-slide .box-image {
	width: 60%;
	padding: 0 50px;
	float: left;
}

.slider-for .slick-slide .box-image img {
	width: 100%;
}

.slider-for .slick-slide .box-info {
	background-color: #fff;
	float: left;
	margin: 25px 0 50px 0;
	position: relative;
	width: 40%;
}

.slider-for .slick-slide .box-info h4 {
	background-color: #ab8461;
	color: #fff;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.slider-for .slick-slide .box-info ul {
	margin: 16px 0;
	padding: 25px;
}

.slider-for .slick-slide .box-info hr {
	background-color: #268388;
	height: 3px;
	margin: 0 0 8px 0;
	padding: 0;
}

.slider-for .slick-slide .box-info h3 {
	padding: 25px;
	margin: 0;
}

.slider-for .slick-slide .box-info .box-cost {
	background-color: #501516;
	border-radius: 50%;
	bottom: -40px;
	color: #fff;
	font-family: 'brandon_grotesquebold';
	font-size: 1.875em;
	height: 80px;
	letter-spacing: 2px;
	position: absolute;
	right: 25px;
	text-align: center;
	width: 80px;
}

.slider-nav .slick-track {
	border-bottom: 3px solid #268388;
	margin: 25px auto 0 auto;
}

.slider-nav .slick-slide {
	position: relative;
	cursor: pointer;
}

.slider-nav .slick-slide.slick-current:before {
	border-color: #268388 transparent;
	border-style: solid;
	border-width: 0 6px 6px;
	content: '';
	display: block;
	left: 50%;
	margin-left: -6px;
	position: absolute;
	top: -6px;
	width: 0;
	z-index: 1;
}

.slider-nav .slick-slide h3 {
	color: #501516;
	font-size: 1.125em;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding: 6px 0;
	margin: 0;
}

.slider-nav .slick-slide.slick-current h3 {
	color: #268388;
}

.page-id-392 .landing-top .page-title::after {
	display: none;
}

#field_16_3,
#field_16_2 {
	margin-top: 8px;
	padding: 0 10px 0 0 !important
}

#field_16_2 {
	padding: 0 0 0 10px !important;
}

.trustbox h4 {
	font-family: 'brandon_grotesquebold', 'Josefin Sans', sans-serif;
	text-align: center;
	color: #501516;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: bold;
	margin: 4em 16px 1em;
}

/*--------------------------------RESPONSIVNESS BREAKING POINTS--*/


/*----------- SMALL DESKTOPS & LAPTOPS --*/

@media only screen and (max-width: 1200px) {
	.gform_wrapper .gform_footer {
		margin-top: 0 !important;
		padding-top: 0 !important;
		text-align: center !important;
	}

	.gform_wrapper ul.gform_fields li.gfield {
		margin-bottom: 0 !important;
	}

	.gform_wrapper .field_sublabel_below .ginput_complex.ginput_container label,
	.gform_wrapper .field_sublabel_below div[class*=gfield_time_].ginput_container label {
		margin-bottom: 4px !important;
	}
}

/*------------------ LANDSCAPE TABLETS --*/

@media only screen and (max-width: 1024px) {
	.slider-for .slick-slide .box-info .box-cost {
		bottom: -60px;
	}

	.slider-for .slick-slide .box-info {
		margin-bottom: 75px;
	}
}


/*------------------- PORTRAIT TABLETS --*/

@media only screen and (max-width: 800px) {
	footer#footer {
		padding-top: 75px;
	}

	footer#footer #copyright {
		float: none;
		text-align: center;
	}

	footer#footer nav.footer-nav {
		float: none;
		text-align: center;
		font-size: .75em;
	}

	.slider-for .slick-slide .box-image {
		width: 100%;
		float: none;
	}

	.slider-for .slick-slide .box-info {
		width: 100%;
		max-width: 500px;
		margin: 25px auto 50px auto;
		float: none;
	}
}


/*------------------- LANDSCAPE PHONES --*/

@media only screen and (max-width: 700px) {
	h1 {
		font-size: 2.875em;
		margin: 25px 0 10px 0;
	}

	h2 {
		font-size: 2em;
	}

	.landing-top .right-bg {
		display: none;
	}

	.landing-top .page-title::after {
		display: none;
	}

	.landing-top .page-title h3 {
		max-width: 350px;
		margin: 25px auto;
	}

	.slick-slider {
		padding: 0 20px;
	}

	.slider-nav {
		display: none;
	}

	.slider-for .slick-slide .box-image {
		padding: 0;
	}

	.slider-for .slick-slide .box-info ul {
		padding: 10px;
		margin: 0;
	}

	.slider-for .slick-slide .box-info h3 {
		padding: 8px 25px 16px 35px;
	}

	.slick-slider .slick-next,
	.slick-slider .slick-prev {
		width: 8px;
		height: 16px;
	}

	.gform_wrapper li.gfield.gfield_error.gfield_contains_required {
		padding-right: 0 !important;
	}

	header.main-nav {
		height: auto;
		padding-top: 100px;
	}

	header.main-nav a.phone-link {
		float: none;
		text-align: center;
		display: block;
	}

	header.main-nav .social-media {
		float: none;
		display: block;
		text-align: center;
		margin-top: 10px;
		margin-bottom: 0;
	}

	svg#logo-white {
		margin-left: -37px;
		width: 74px;
	}

	header.main-nav::after {
		display: none;
	}

	.landing-top {
		margin-top: -225px;
		padding-top: 225px;
		min-height: 100vh;
		height: auto;
	}

	.gifts .clearfix {
		display: inline-block;
	}

	.gifts .gift-item::after {
		display: none;
	}

	.work-purpose .purpose,
	.work-purpose .work {
		display: block;
	}

	.purpose .one-half-full:first-child::after,
	.work .one-half-full:last-child::after {
		display: none;
	}

	.give-try {
		padding: 25px 10px;
	}

	.give-try h2 {
		margin: 25px 0;
	}

}


/*-------------------- PORTRAIT PHONES --*/

@media only screen and (max-width: 500px) {}


/*--------- VALENTINES DAY 2017 ----------*/

.page-id-295422 a.primary-button {
	background-color: #ab8461;
	border: 1px solid #979797;
}

.page-id-295422 .gift-item p {
	width: 237px;
	color: #ffffff;
	margin: 0;
}

.page-id-295422 .gift-title {
	height: 129px;
	background-color: #501516;
	padding: 1.5em 0.5em;
	font-size: 1.25em;
}

.page-id-295422 .gift-code {
	height: 63px;
	background-color: #ab8461;
	font-size: 1.5em;
	padding: 0.5em;
}

.page-id-295422 .gift-item::after {
	display: none;
}

.page-id-295422 .red-background {
	background-color: #a02b38;
}

.page-id-295422 .landing-top .page-title::after {
	margin-left: -22px;
}

.page-id-295422 .awesome-deals::after {
	content: '';
	position: absolute;
	left: 50%;
	bottom: -60px;
	width: 237px;
	height: 65px;
	margin-left: -117px;
	background-image: url(../img/triangle.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	z-index: 1;
}

.page-id-295422 .gifts .max-width {
	padding: 0;
}

.page-id-295422 .gifts .gift-item {
	padding: 0 15px;
}

.page-id-295422 .share-post-header {
	display: none;
}

@media only screen and (max-width: 1199px) {
	.page-id-295422 .gifts .gift-item {
		padding: 15px 15px;
	}

	.page-id-295422 .gifts {
		padding: 60px 0;
	}

	.page-id-295422 .gifts .max-width {
		display: inline-block;
	}
}

.single-post-content iframe {
	max-width: 800px;
	margin: 2em auto !important;
	float: none;
}

/*VALENTINES DAY SLIDER*/
.vday-slider .slide-top {
	padding: 8px 16px;
	border-bottom: 3px solid #268388;
	margin-bottom: 25px;
}

.vday-slider .slide-top h3 {
	margin: 0;
	color: #501516;
}

.vday-slider .slide-top h3 {
	float: left;
}

.vday-slider .slick-track {
	text-align: left;
}

.vday-slider .slick-slide .box-image {
	width: 60%;
	padding: 0 50px;
	float: left;
}

.vday-slider .slick-slide .box-image img {
	width: 100%;
}

.vday-slider .slick-slide .box-info {
	background-color: #fff;
	float: left;
	margin: 25px 0 50px 0;
	position: relative;
	width: 40%;
}

.vday-slider .slick-slide .box-info h4 {
	background-color: #ab8461;
	color: #fff;
	margin: 0;
	padding: 10px;
	text-align: center;
}

.vday-slider .slick-slide .box-info ul {
	margin: 16px 0;
	padding: 25px;
}

.vday-slider .slick-slide .box-info hr {
	background-color: #268388;
	height: 3px;
	margin: 0 0 8px 0;
	padding: 0;
}

.vday-slider .slick-slide .box-info h3 {
	padding: 25px;
	margin: 0;
}

@media only screen and (max-width: 1024px) {
	.vday-slider .slick-slide .box-info {
		margin-bottom: 75px;
	}

}

@media only screen and (max-width: 800px) {
	.vday-slider .slick-slide .box-image {
		width: 100%;
		float: none;
	}

	.vday-slider .slick-slide .box-info {
		width: 100%;
		max-width: 500px;
		margin: 25px auto 50px auto;
		float: none;
	}
}

@media only screen and (max-width: 700px) {
	.vday-slider .slick-slide .box-image {
		padding: 0;
	}

	.vday-slider .slick-slide .box-info ul {
		padding: 10px;
		margin: 0;
	}

	.vday-slider .slick-slide .box-info h3 {
		padding: 8px 25px 16px 35px;
	}
}

@charset "utf-8";

/*PAGE HEADER*/
figure#headerimg h1 {
	margin-top: 175px;
}

/*BLOG & ARCHIVE*/
.blog .section7::before {
	display: none;
}

.blog .section7 h3 {
	border-bottom: 3px solid #268388;
	padding: 10px;
}

.blog .section7 .post-preview-container,
.alm-reveal {
	flex-wrap: wrap;
	display: flex;
}

.blog .section7 .post-preview-container article {
	padding: 0 10px;
	margin-bottom: 20px;
}

.blog .section7 .post-preview-container article.post-quote {
	background: #ab8461;
	border: 3px solid #501516;
	text-align: center;
	color: #fff;
}

.blog .section7 .post-preview-container article.post-quote img {
	margin: 50px 0;
}

.blog .section7 .post-preview-container article.post-quote p {
	font-family: "Playfair Display";
	text-align: center;
	margin-bottom: 50px;
}

.blog .section7 .post-preview-container article.post-quote h4 {
	color: #fff;
	font-family: 'brandon_grotesque_regularRg', 'Josefin Sans', sans-serif;
	margin-bottom: 0;
	font-weight: bold;
	font-size: 1.25em;
	position: absolute;
	bottom: 25px;
	width: calc(100% - 20px);
}

.post-quote .crunchify-social {
	display: none;
}

#load-more,
#load-more:hover,
#load-more:focus {
	outline: none;
	background: #268388;
}

/*FEATURED POST */
.blog .section7 .featured-post .blogPic1 {
	height: 450px;
}

.blog .section7 .featured-post .blogPic1 p {
	top: calc(100% - 30px);
	left: -40%;
}

/*BLOG CATEGORIES*/
.blog .section7 .blog-categories li {
	background-image: none;
	background-color: #f3f3f3;
	margin-bottom: 10px;
}

.blog .section7 .blog-categories li:hover {
	background-color: #268388;
	border: none;
}

.blog .section7 .blog-categories li a {
	color: #1f1f1f;
	font-family: "Playfair Display";
	padding: 14px 30px;
	display: block;
	width: 100%;
	text-decoration: none;
	-webkit-transition: all .25s ease-in-out 0s;
	transition: all .25s ease-in-out 0s;
}

.blog .section7 .blog-categories li:hover a {
	color: #fff;
}

/*SINGLE POST*/
#headerimg.single-post-title {
	position: relative;
}

#headerimg.single-post-title h1 {
	position: relative;
	z-index: 5;
	margin-top: 125px;
}

#headerimg.single-post-title .overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .5);
}

.single p.date {
	font-family: 'brandon_grotesquethin', 'Josefin Sans', sans-serif;
	color: #fff;
	background: #AB8461;
	padding: .5em;
	display: inline-block;
	text-align: center;
	width: 66px;
	height: 66px;
	margin: 0 0 0 -33px !important;
	position: absolute;
	top: -33px;
	left: 50%;
	border: 3px solid #ffffff;
}

.single p.date span {
	font-size: 1em;
	position: relative;
	top: -5px;
	text-transform: uppercase;
	display: block;
}

.single p.date span.day {
	font-size: 2em;
	line-height: .9em;
}

article.post .single-post-content h1,
article.post .single-post-content h2,
article.post .single-post-content h3,
article.post .single-post-content h4,
article.post .single-post-content h5,
article.post .single-post-content h6,
article.post .single-post-content p,
article.post .single-post-content blockquote {
	max-width: 800px;
	margin-left: auto !important;
	margin-right: auto !important;
}

article.post .single-post-content h1,
article.post .single-post-content h2,
article.post .single-post-content h3,
article.post .single-post-content h4,
article.post .single-post-content h5,
article.post .single-post-content h6 {
	font-family: 'brandon_grotesquemedium';
	font-weight: bold;
	margin: 2.5em 0 .75em 0;
}

article.post .single-post-content p {
	font-family: "Playfair Display";
}

article.post .single-post-content img.aligncenter {
	margin-top: 2.5em;
}

article.post .single-post-content blockquote {
	max-width: 750px;
}

article.post a.primary-button,
article.post a.secondary-button {
	color: #fff;
	margin: 25px;
}

article.post h3.share-post-header {
	border-bottom: 3px solid #ab8461;
	color: #ab8461;
	font-family: 'brandon_grotesquebold', sans-serif;
	font-size: 1.5em;
	font-weight: 700;
	padding: 10px;
	text-transform: uppercase;
	text-align: left;
}

/*SINGLE POST COLUMS*/
article.post .single-post-content .csColumn h1,
article.post .single-post-content .csColumn h2,
article.post .single-post-content .csColumn h3,
article.post .single-post-content .csColumn h4,
article.post .single-post-content .csColumn h5,
article.post .single-post-content .csColumn h6,
article.post .single-post-content .csColumn p {
	max-width: 100%;
}

.csRow {
	margin: 2.5em 0 .75em 0;
}

/*SINGLE POST COMMENTS*/
.reviews-simple-feedback {
	max-width: 800px;
	margin: 0 auto;
}

.reviews-simple-feedback textarea {
	width: 100%;
}

/*SINGLE POST SIMILAR POSTS*/
.similar-post-container {
	border-top: 3px solid #268388;
	display: flex;
	flex-wrap: wrap;
	margin: 75px auto;
	max-width: 1200px;
	width: 100%;
}

.similar-post-container::before {
	display: none;
}

.similar-post-container h2 {
	width: 100%;
}

/*SOCIAL SHARING*/
.crunchify-social {
	margin: 20px auto 25px auto;
	-webkit-font-smoothing: antialiased;
	font-size: 12px;
	max-width: 800px;
}

.crunchify-link {
	border-radius: 50%;
	border: 3px solid #ab8461;
	display: inline-flex;
	height: 100px;
	margin: 0 20px;
	overflow: hidden;
	padding: 35px;
	width: 100px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

.crunchify-link .fa {
	color: #ab8461;
	font-size: 2.5em;
	height: 50px;
	position: relative;
	text-align: center;
	width: 50px;
	-webkit-transition: all .5s;
	transition: all .5s;
}

@media(max-width: 600px) {
	.home .section3 iframe {
		width: 320px !important;
		left: -160px !important;
	}
}

@media(max-width: 768px) {
	.hello {
		position: relative;
		top: -5em;
		left: 13em;
	}
}

@media(max-width: 480px) {
	.hello {
		display: inline-block !important;
		left: 16em;
	}
}

@media(max-width: 469px) {
	#account span.myaccount {
		position: relative;
		top: -5em;
	}
}

@media(max-width: 414px) {
	.hello {
		left: 13em;
	}
}

@media(max-width: 375px) {
	.hello {
		left: 11em;
	}
}