@font-face {
    font-family: 'brandon_grotesquebold';
    src: url('../fonts/brandon_bld-webfont.eot');
    src: url('../fonts/brandon_bld-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_bld-webfont.woff2') format('woff2'),
         url('../fonts/brandon_bld-webfont.woff') format('woff'),
         url('../fonts/brandon_bld-webfont.ttf') format('truetype'),
         url('../fonts/brandon_bld-webfont.svg#brandon_grotesquebold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquethin';
    src: url('../fonts/brandon_thin_2-webfont.eot');
    src: url('../fonts/brandon_thin_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_thin_2-webfont.woff2') format('woff2'),
         url('../fonts/brandon_thin_2-webfont.woff') format('woff'),
         url('../fonts/brandon_thin_2-webfont.ttf') format('truetype'),
         url('../fonts/brandon_thin_2-webfont.svg#brandon_grotesquethin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med_2-webfont.eot');
    src: url('../fonts/brandon_med_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_med_2-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med_2-webfont.woff') format('woff'),
         url('../fonts/brandon_med_2-webfont.ttf') format('truetype'),
         url('../fonts/brandon_med_2-webfont.svg#brandon_grotesquemedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesqueblack';
    src: url('../fonts/brandon_blk-webfont.eot');
    src: url('../fonts/brandon_blk-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_blk-webfont.woff2') format('woff2'),
         url('../fonts/brandon_blk-webfont.woff') format('woff'),
         url('../fonts/brandon_blk-webfont.ttf') format('truetype'),
         url('../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'brandon_grotesque_regularRg';
    src: url('../fonts/brandon_reg-webfont.eot');
    src: url('../fonts/brandon_reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_reg-webfont.woff2') format('woff2'),
         url('../fonts/brandon_reg-webfont.woff') format('woff'),
         url('../fonts/brandon_reg-webfont.ttf') format('truetype'),
         url('../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon_light-webfont.eot');
    src: url('../fonts/brandon_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brandon_light-webfont.woff2') format('woff2'),
         url('../fonts/brandon_light-webfont.woff') format('woff'),
         url('../fonts/brandon_light-webfont.ttf') format('truetype'),
         url('../fonts/brandon_light-webfont.svg#brandon_grotesquelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Sentinel Bold';
  src: url('../fonts/Sentinel-Bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sentinel-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sentinel-Bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Sentinel-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Sentinel-Bold.svg#f9bae564eb607ac4014d981f298daad5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}


@font-face {
  font-family: 'Sentinel Book';
  src: url('../fonts/Sentinel-Book.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sentinel-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sentinel-Book.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Sentinel-Book.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Sentinel-Book.svg#fb7f01513910e38bdb2e628a3e62faf5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}


@font-face {
  font-family: 'Sentinel Light';
  src: url('../fonts/Sentinel-Light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sentinel-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sentinel-Light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Sentinel-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Sentinel-Light.svg#9bff95be674e63165ee3bffa8fde5c8c') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  200;
}


@font-face {
  font-family: 'Sentinel Medium';
  src: url('../fonts/Sentinel-Medium.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Sentinel-Medium.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Sentinel-Medium.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Sentinel-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Sentinel-Medium.svg#8c906be98a0007abd9aa196765a84f28') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}







