//Define Global Site Colors

$white: #ffffff;
$offwhite: #f0f0f2;
$black: #000000;

$maroon: #501818;
$darkmaroon: #300e0e;

$gold: #c8b353;
$lightgold: #fbefa1;
$darkgold: #b7a035;

$grey: #a8a8a8;

$lightgrey: #919191;
$charcoal: #373737;


//Define Base Font Size
$base-font-size: 16px; //Default Font is Smaller than Normal

//Main Fonts
$BrandonGrotesqueRegular: 'brandon_grotesque_regularRg', sans-serif;
$BrandonGrotesqueBlack: 'brandon_grotesqueblack', sans-serif;
$BrandonGrotesqueBold: 'brandon_grotesquebold', sans-serif;

$BrandonGrotesqueMedium: 'brandon_grotesquemedium', sans-serif;
$BrandonGrotesqueLight: 'brandon_grotesquelight', sans-serif;


$SentinelBold: 'Sentinel Bold', serif;
$SentinelBook: 'Sentinel Book', serif;
$SentinelLight: 'Sentinel Light', serif;
$SentinelMedium: 'Sentinel Medium', serif;