@font-face {
  font-family: 'brandon_grotesquebold';
  src: url("../fonts/brandon_bld-webfont.eot");
  src: url("../fonts/brandon_bld-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_bld-webfont.woff2") format("woff2"), url("../fonts/brandon_bld-webfont.woff") format("woff"), url("../fonts/brandon_bld-webfont.ttf") format("truetype"), url("../fonts/brandon_bld-webfont.svg#brandon_grotesquebold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesquethin';
  src: url("../fonts/brandon_thin_2-webfont.eot");
  src: url("../fonts/brandon_thin_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_thin_2-webfont.woff2") format("woff2"), url("../fonts/brandon_thin_2-webfont.woff") format("woff"), url("../fonts/brandon_thin_2-webfont.ttf") format("truetype"), url("../fonts/brandon_thin_2-webfont.svg#brandon_grotesquethin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesquemedium';
  src: url("../fonts/brandon_med_2-webfont.eot");
  src: url("../fonts/brandon_med_2-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_med_2-webfont.woff2") format("woff2"), url("../fonts/brandon_med_2-webfont.woff") format("woff"), url("../fonts/brandon_med_2-webfont.ttf") format("truetype"), url("../fonts/brandon_med_2-webfont.svg#brandon_grotesquemedium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesqueblack';
  src: url("../fonts/brandon_blk-webfont.eot");
  src: url("../fonts/brandon_blk-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_blk-webfont.woff2") format("woff2"), url("../fonts/brandon_blk-webfont.woff") format("woff"), url("../fonts/brandon_blk-webfont.ttf") format("truetype"), url("../fonts/brandon_blk-webfont.svg#brandon_grotesqueblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesque_regularRg';
  src: url("../fonts/brandon_reg-webfont.eot");
  src: url("../fonts/brandon_reg-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_reg-webfont.woff2") format("woff2"), url("../fonts/brandon_reg-webfont.woff") format("woff"), url("../fonts/brandon_reg-webfont.ttf") format("truetype"), url("../fonts/brandon_reg-webfont.svg#brandon_grotesque_regularRg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'brandon_grotesquelight';
  src: url("../fonts/brandon_light-webfont.eot");
  src: url("../fonts/brandon_light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/brandon_light-webfont.woff2") format("woff2"), url("../fonts/brandon_light-webfont.woff") format("woff"), url("../fonts/brandon_light-webfont.ttf") format("truetype"), url("../fonts/brandon_light-webfont.svg#brandon_grotesquelight") format("svg");
  font-weight: normal;
  font-style: normal; }

.alpham1-header {
	background: url('../images/color-overlay-splash.jpg');
	width: 100%;
	height: 600px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

/*header .overlay {
	background-color: #714344;
	opacity: 0.7;
}*/
header.main-nav::after {
	display: none;
}
#sticky-nav a img {
	width: 100px;
	height:auto;
	position: relative;
	left: 50%;
	margin-left: -45px;
}
header .alpham1-h1 {
	font-size: 68px;
	color: #fff;
	font-family: 'Playfair Display', serif;
	text-transform: none;
	padding-top: 100px;
	margin-left: 15%;
	margin-right: 15%;
}

header .alpham1-p {
	color: #fff;
	font-family: 'brandon_grotesquelight', serif;
	font-size: 22px;
	line-height: 35px;
	padding-top: 2%;
	padding-bottom: 4%;
	margin-left: 10%;
	margin-right: 10%;
	font-weight: bolder;
	text-transform: uppercase;
}

header .alpham1-join {
	border: 2px solid #fff;
	background-color: rgba(0,0,0,.4);
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesquelight', sans-serif;
	padding: 15px 50px;
	letter-spacing: 2px;
}

header .alpham1-join:hover {
	background-color: rgba(0,0,0,.6);
	cursor: pointer;
}

.alpham1-main .alpham1-checkout {
	max-width: 1200px;
	margin: 0 auto;
}
.alpham1-main .alpham1-checkout img {
	max-width: 50%;
	margin-bottom: 1.5%;
	margin-top: 1.5%;
	border-radius: 16px;
	opacity: 0.85;
}

.alpham1-main .alpham1-h2 {
	max-width: 50%;
	float: left;
	color: #501818;
	font-family: 'brandon_grotesquemedium', serif;
	font-size: 32px;
	font-weight: normal;
	text-align: left;
	line-height: 2;
	margin-top: 7.5%;
	letter-spacing: 1px;
	text-transform: none;
}

.alpham1-viewvid {
	background-image: url('../images/homepage-splash1.jpg');
	background-repeat: no-repeat;
	background-size:cover;
	width: 75%;
	height: 406px;
	margin-left: 13%;
	text-align: center;
	background-position: center;
}

.alpham1-viewvid .alpham1-view {
	border: 2px solid #fff;
	background-color: #373737;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesqueblack', sans-serif;
	padding: 15px 50px;
	position: relative;
	top: 80%;
}

.alpham1-viewvid .alpham1-view:hover {
	background-color: #c8b353;
	opacity: 0.75;
	cursor: pointer;
}

.alpham1-subscribe {
	background-image: url('../images/gbox-post-background.jpg');
	background-repeat: no-repeat;
	width: 75%;
	height: 35em;
	text-align: center;
	background-position: top;
	margin-left: 13%;
	background-size: cover;
}

.alpham1-subscribe .alpham1-h3 {
	font-family: 'brandon_grotesque_regularRg', sans-serif;
	color: #501818;
	font-size: 34px;
	padding-top: 3%;
}

.alpham1-subscribe .alpham1-joinnow {
	max-width: 30%;
	float: left;
	margin-top: 5%;
	display: inline-block;
}

.alpham1-subscribe .alpham1-joinnow img {
	margin-bottom: 20%;
	height: 15.5em;
}

.alpham1-subscribe .alpham1-joinnow .alpham1-join {
	background-color: #268388;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesquelight', sans-serif;
	padding: 15px 50px;
	margin-right: 5%;
	letter-spacing: 2px;
} 
.alpham1-subscribe .alpham1-joinnow .alpham1-join:hover {
	background-color: rgba(0,0,0,.75);
	cursor: pointer;
} 

.alpham1-subscribe .alpham1-monthly {
	max-width: 27%;
	margin-top: 5%;
	display: inline-block;
	float: left;
	margin-left: 5%;
}
.alpham1-subscribe .alpham1-monthly:hover, .alpham1-subscribe .alpham1-annual-join {
	cursor: pointer;
}
.alpham1-subscribe .alpham1-monthly .alpham1-month-join {
	display: block;

}
.main-nav a img, header.main-nav  {
	background-color: rgba(152, 110, 111,1);
}
#sticky-nav a img {
	padding: 10px;
	border-radius: 50%;
}
.alpham1-subscribe .alpham1-monthly img {
	height: 24em;
}
.alpham1-subscribe .alpham1-annual {
	max-width: 27%;
	margin-top: 5%;
	display: inline-block;
	float: left;
	margin-left: 5%;
}
.alpham1-main {
	margin-bottom: 25px;
}

.alpham1-subscribe .alpham1-annual img {
	height: 24em;
}

.alpham1-footer {
	background-image: url(../images/gbox-footer-background.jpg);
	height: 200px;
	width: 75%;
	margin-left: 13%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#footer a img {
	width: 50px;
	height: auto;
	position: absolute;
	left: 50%;
	margin-left: -25px;
}
#countrycontainer .gift, #countrycontainer .join {
	margin: 2% 0 10% 0;
}
#countrycontainer .gift aside span.amount, #countrycontainer .join aside span.amount {
	color: #AB8461;
}
#countrycontainer .gift aside .mostpop, #countrycontainer .join aside .mostpop, #countrycontainer .gift aside .mostpop span, #countrycontainer .join aside .mostpop span {
	background:#AB8461;
}
#countrycontainer .gift aside a.btn, #countrycontainer .join aside a.btn {
	background: #268388;
    border-color: #1a5b5f;
}
#countrycontainer .gift aside a.btn:hover, #countrycontainer .join aside a.btn:hover {
	background-color: #1a5b5f;
}
.join-us, .join-international {
	display: none;
}
#countrylist ul li {
	background-image: none;
}
.join-us.active, .join-international.active {
	display: block;
}
#countrycontainer .united-states a, #countrycontainer .join-2015 a, #countrycontainer .join a, #countrycontainer .gift-2015 a, #countrycontainer .gift-subscription a, #countrycontainer .gift a {
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADoAAAAiCAYAAAAOPsreAAAEN0lEQ…mFqPCb5zslQDlmdGv8lGdKwJgZ/XdE31vr+5WAsSvg/4Zfx91DQOEiOssAAAAASUVORK5CYII=) no-repeat center right 15px;
}
@media(max-width: 1500px) {
	.alpham1-main .alpham1-checkout {
		margin-left: 13%;
	}
}
@media(max-width: 1353px){
	.alpham1-main .alpham1-h2 {
		font-size: 20px;
		line-height: 1.75;
	}
}
@media(max-width: 1127px){
	.alpham1-main .alpham1-checkout {
		margin-left: 9%;
	}
}
@media(max-width: 1083px){
	.alpham1-viewvid .alpham1-view {
		right: 21%;
	}
}
@media(max-width: 1077px){
	.alpham1-main .alpham1-h2{
		max-width: 90%;
    	float: none;
    	text-align: center;
    	margin: 0 auto;
    	padding: 25px 0;
	}
	.alpham1-main .alpham1-checkout img	{
		max-width: 90%;
	}
}
@media(max-width: 959px){
	.alpham1-main .alpham1-checkout {
		margin-left: 8%;
	}
}
@media(max-width: 916px){
	.alpham1-header .alpham1-h1 {
		font-size: 54px;
	}
	.alpham1-subscribe .alpham1-monthly img {
		height: 19em;
	}
	.alpham1-subscribe .alpham1-annual img {
		height: 19em;
	}
	.alpham1-subscribe .alpham1-joinnow img {
		height: 11.5em;
		margin-bottom: 35%;
	}
	.alpham1-subscribe {
		height: 28em;
	}
	.alpham1-subscribe .alpham1-joinnow .alpham1-join {
		padding: 10px 25px;
	}
		#copyright, .footer-nav {
		display: block;
		width: 100%;
		text-align: center;
		float: none;
	}
	#copyright {
		padding-top: 50px;
	}
}
@media(max-width: 886px){
	.alpham1-main .alpham1-checkout {
		margin-left: 0%;
	}
}
@media(max-width: 815px) {
	.alpham1-main .alpham1-h2 {
		font-size: 24px;
	}
	.alpham1-viewvid .alpham1-view {
		right: 1%;
	}
	.alpham1-main .alpham1-checkout img {
		width: 90%;
    	margin: 5%;
	}
	footer#footer {
		padding-top: 30px;
	}
}
@media(max-width: 700px) {
	header.main-nav .social-media {
		margin-top: 20px;
	}
	header .alpham1-p {
		margin-right: 10%;
		margin-left: 10%;
		padding-top: 40px;
		padding-bottom: 75px;
	}
	header .alpham1-h1 {
		padding-top: 50px;
	}
	header.main-nav {
		padding-top: 20px;
	}
}
@media(max-width: 675px){
	.alpham1-main .alpham1-h2 {
		max-width: 95%;
		float: none;
	}
	.alpham1-header .alpham1-h1 {
		font-size: 40px;
	}
	.alpham1-subscribe .alpham1-joinnow .alpham1-join {
		display: inline-block;
	}
	.alpham1-subscribe .alpham1-joinnow img {
		margin-bottom: 10%;
	}
	.alpham1-subscribe .alpham1-joinnow {
		max-width: 95%;
		float: none;
	}
	.alpham1-subscribe .alpham1-monthly {
		max-width: 95%;
		float: none;
		margin-left: 1%;
	}
	.alpham1-subscribe .alpham1-annual {
		max-width: 95%;
		float: none;
		margin-left: 1%;
	}
	.alpham1-subscribe {
		height: 66em;
	}
	header .alpham1-p {
		font-size: 22px;
	}
}
}
@media(max-width: 350px){ 
}
