.alpham2-header {
	background: url('../images/color-overlay-splash.jpg');
	width: 100%;
	height: 550px;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;	
}

/*header .overlay {
	background-color: #714344;
	opacity: 0.7;
}*/

header .alpham2-h1 {
	font-size: 68px;
	color: #fff;
	font-family: 'Sentinel Medium', serif;
	text-transform: none;
	padding-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
}

header .alpham2-p {
	color: #fff;
	font-family: 'Sentinel Medium', serif;
	font-size: 22px;
	line-height: 35px;
	padding-top: 2%;
	padding-bottom: 4%;
	margin-left: 35%;
	margin-right: 35%;
	font-weight: bolder;
}

header .alpham2-join {
	border: 2px solid #fff;
	background-color: #373737;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesqueblack', sans-serif;
	padding: 15px 50px;
}

header .alpham2-join:hover {
	background-color: #c8b353;
	opacity: 0.75;
}

.alpham2-main .alpham2-checkout {
	max-width: 1200px;
	margin: 0 auto;
}
.alpham2-main .alpham2-checkout img {
	max-width: 50%;
	border-radius: 16px;
	opacity: 0.85;
	margin-top: 1.5%;
	margin-bottom: 1.5%;
}

.alpham2-main .alpham2-h2 {
	max-width: 50%;
	float: left;
	color: #501818;
	font-family: 'Sentinel Medium', serif;
	font-size: 24px;
	font-weight: bolder;
	text-align: center;
	line-height: 2;
	margin-top: 7.5%;
	padding-right: 2%;
}

.alpham2-viewvid {
	background-image: url('../images/AlphaM1.png');
	background-repeat: no-repeat;
	background-size:cover;
	width: 75%;
	height: 406px;
	margin-left: 13%;
	text-align: center;
	background-position: center;
}

.alpham2-viewvid .alpham2-view {
	border: 2px solid #fff;
	background-color: #373737;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesqueblack', sans-serif;
	padding: 15px 50px;
	position: relative;
	top: 80%;
}

.alpham2-viewvid .alpham2-view:hover {
	background-color: #c8b353;
	opacity: 0.75;
}

.alpham2-subscribe {
	background-image: url('../images/gbox-post-background.jpg');
	background-repeat: no-repeat;
	width: 75%;
	height: 35em;
	text-align: center;
	background-position: top;
	margin-left: 13%;
	background-size: cover;
}

.alpham2-subscribe .alpham2-h3 {
	font-family: 'brandon_grotesqueblack', sans-serif;
	color: #501818;
	font-size: 34px;
	padding-top: 3%;
}

.alpham2-subscribe .alpham2-joinnow {
	max-width: 30%;
	float: left;
	margin-top: 5%;
	display: inline-block;
}

.alpham2-subscribe .alpham2-joinnow img {
	margin-bottom: 20%;
	height: 15.5em;
}

.alpham2-subscribe .alpham2-joinnow .alpham2-join {
	background-color: #373737;
	color: #fff;
	border-radius: 16px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'brandon_grotesqueblack', sans-serif;
	padding: 15px 50px;
	margin-right: 5%;
}
.alpham2-subscribe .alpham2-joinnow .alpham2-join:hover {
	background-color: #c8b353;
} 

.alpham2-subscribe .alpham2-monthly {
	max-width: 27%;
	margin-top: 5%;
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.alpham2-subscribe .alpham2-monthly .alpham2-month-join {
	display: block;

}

.alpham2-subscribe .alpham2-monthly img {
	height: 24em;
}
.alpham2-subscribe .alpham2-annual {
	max-width: 27%;
	margin-top: 5%;
	display: inline-block;
	float: left;
	margin-left: 5%;
}

.alpham2-subscribe .alpham2-annual img {
	height: 24em;
}

.alpham2-footer {
	background-image: url(../images/gbox-footer-background.jpg);
	height: 200px;
	width: 75%;
	margin-left: 13%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media(max-width: 1500px) {
	.alpham2-main .alpham2-checkout {
		margin-left: 13%;
	}
}
@media(max-width: 1353px){
	.alpham2-main .alpham2-h2 {
		font-size: 20px;
		line-height: 1.75;
	}
}
@media(max-width: 1127px){
	.alpham2-main .alpham2-checkout {
		margin-left: 9%;
	}
}
@media(max-width: 1083px){
	.alpham2-viewvid .alpham2-view {
		right: 21%;
	}
}
@media(max-width: 1077px){
	.alpham2-main .alpham2-h2{
		max-width: 100%;
		float: none;
	}
	.alpham2-main .alpham2-checkout img	{
		max-width: 90%;
	}
}
@media(max-width: 959px){
	.alpham2-main .alpham2-checkout {
		margin-left: 8%;
	}
}
@media(max-width: 916px){
	.alpham2-header .alpham2-h1 {
		font-size: 54px;
	}
	.alpham2-subscribe .alpham2-monthly img {
		height: 19em;
	}
	.alpham2-subscribe .alpham2-annual img {
		height: 19em;
	}
	.alpham2-subscribe .alpham2-joinnow img {
		height: 11.5em;
		margin-bottom: 35%;
	}
	.alpham2-subscribe {
		height: 28em;
	}
	.alpham2-subscribe .alpham2-joinnow .alpham2-join {
		padding: 10px 25px;
	}
}
@media(max-width: 886px){
	.alpham2-main .alpham2-checkout {
		margin-left: 0%;
	}
}
@media(max-width: 815px) {
	.alpham2-main .alpham2-h2 {
		font-size: 16px;
	}
	.alpham2-viewvid .alpham2-view {
		right: 1%;
	}
	.alpham2-main .alpham2-checkout img {
		max-width: 100%;
	}
}
@media(max-width: 675px){
	.alpham2-main .alpham2-h2 {
		max-width: 100%;
		float: none;
	}
	.alpham2-header .alpham2-h1 {
		font-size: 40px;
	}
	.alpham2-subscribe .alpham2-joinnow .alpham2-join {
		display: inline-block;
	}
	.alpham2-subscribe .alpham2-joinnow img {
		margin-bottom: 10%;
	}
	.alpham2-subscribe .alpham2-joinnow {
		max-width: 100%;
		float: none;
	}
	.alpham2-subscribe .alpham2-monthly {
		max-width: 100%;
		float: none;
		margin-left: 1%;
	}
	.alpham2-subscribe .alpham2-annual {
		max-width: 100%;
		float: none;
		margin-left: 1%;
	}
	.alpham2-subscribe {
		height: 66em;
	}
	header .alpham2-p {
		font-size: 14px;
	}
}