body#tinymce.wp-editor { 
    font-family: 'Open Sans', sans-serif;
    margin: 10px; 
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
	font-family: 'Open Sans', sans-serif;
}

body#tinymce.wp-editor a {
    color: #383ecb;
}