@charset "utf-8";
/* CSS Document */

.woocommerce #reviews #comments .add_review:after, .woocommerce #reviews #comments .add_review:before, .woocommerce #reviews #comments ol.commentlist li .comment-text:after, .woocommerce #reviews #comments ol.commentlist li .comment-text:before, .woocommerce #reviews #comments ol.commentlist:after, .woocommerce #reviews #comments ol.commentlist:before {
	content:" ";
	display:table
}
.woocommerce #reviews h2 small {
	float:right;
	color:#777;
	font-size:15px;
	margin:10px 0 0
}
.woocommerce #reviews h2 small a {
	text-decoration:none;
	color:#777
}
.woocommerce #reviews h3 {
	margin:0
}
.woocommerce #reviews #respond {
	margin:0;
	border:0;
	padding:0
}
.woocommerce #reviews #comment {
	height:75px
}
.woocommerce #reviews #comments h2 {
	clear:none
}
.woocommerce #review_form #respond:after, .woocommerce #reviews #comments ol.commentlist li .comment-text:after, .woocommerce #reviews #comments ol.commentlist:after, .woocommerce .woocommerce-product-rating:after, .woocommerce td.product-name dl.variation:after {
	clear:both
}
.woocommerce #reviews #comments ol.commentlist {
	margin:0;
	width:100%;
	background:0 0;
	list-style:none
}
.woocommerce #reviews #comments ol.commentlist li {
	padding:0;
	margin:0 0 20px;
	position:relative;
	background:0;
	border:0
}
.woocommerce #reviews #comments ol.commentlist li .meta {
	color:#777;
	font-size:.75em
}
.woocommerce #reviews #comments ol.commentlist li img.avatar {
	float:left;
	position:absolute;
	top:0;
	left:0;
	padding:3px;
	width:32px;
	height:auto;
	background:#ebe9eb;
	border:1px solid #e4e1e3;
	margin:0;
	box-shadow:none
}
.woocommerce #reviews #comments ol.commentlist li .comment-text {
	margin:0 0 0 50px;
	border:1px solid #e4e1e3;
	border-radius:4px;
	padding:1em 1em 0
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p {
	margin:0 0 1em
}
.woocommerce #reviews #comments ol.commentlist li .comment-text p.meta {
	font-size:.83em
}
.woocommerce #reviews #comments ol.commentlist ul.children {
	list-style:none;
	margin:20px 0 0 50px
}
.woocommerce #reviews #comments ol.commentlist ul.children .star-rating {
	display:none
}
.woocommerce #reviews #comments ol.commentlist #respond {
	border:1px solid #e4e1e3;
	border-radius:4px;
	padding:1em 1em 0;
	margin:20px 0 0 50px
}
.woocommerce #reviews #comments .commentlist>li:before {
	content:""
}
.woocommerce .star-rating {
	float:right;
	overflow:hidden;
	position:relative;
	height:1em;
	line-height:1;
	font-size:1em;
	width:5.4em;
	font-family:star
}
.woocommerce .star-rating:before {
	content:"\73\73\73\73\73";
	color:#d3ced2;
	float:left;
	top:0;
	left:0;
	position:absolute
}
.woocommerce .star-rating span {
	overflow:hidden;
	float:left;
	top:0;
	left:0;
	position:absolute;
	padding-top:1.5em
}
.woocommerce .star-rating span:before {
	content:"\53\53\53\53\53";
	top:0;
	position:absolute;
	left:0
}
.woocommerce .woocommerce-product-rating {
	line-height:2;
	display:block
}
.woocommerce table.shop_attributes td, .woocommerce table.shop_attributes th {
	line-height:1.5;
	border-bottom:1px dotted rgba(0, 0, 0, .1);
	border-top:0;
	margin:0
}
.woocommerce .woocommerce-product-rating:after, .woocommerce .woocommerce-product-rating:before {
	content:" ";
	display:table
}
.woocommerce .woocommerce-product-rating .star-rating {
	margin:.5em 4px 0 0;
	float:left
}
.woocommerce .products .star-rating {
	display:block;
	margin:0 0 .5em;
	float:none
}
.woocommerce .hreview-aggregate .star-rating {
	margin:10px 0 0
}
.woocommerce #review_form #respond {
	position:static;
	margin:0;
	width:auto;
	padding:0;
	background:0 0;
	border:0
}
.woocommerce #review_form #respond:after, .woocommerce #review_form #respond:before {
	content:" ";
	display:table
}
.woocommerce #review_form #respond p {
	margin:0 0 10px
}
.woocommerce #review_form #respond .form-submit input {
	left:auto
}
.woocommerce #review_form #respond textarea {
	box-sizing:border-box;
	width:100%
}

.woocommerce p.stars {
	position:relative;
	font-size:1em
}
.woocommerce p.stars a {
	display:inline-block;
	font-weight:700;
	margin-right:1em;
	text-indent:-9999px;
	position:relative;
	border-bottom:0!important;
	outline:0
}
.woocommerce p.stars a:last-child {
	border-right:0
}
.woocommerce p.stars a.star-1, .woocommerce p.stars a.star-2, .woocommerce p.stars a.star-3, .woocommerce p.stars a.star-4, .woocommerce p.stars a.star-5 {
	border-right:1px solid #ccc
}
.woocommerce p.stars a.star-1:after, .woocommerce p.stars a.star-2:after, .woocommerce p.stars a.star-3:after, .woocommerce p.stars a.star-4:after, .woocommerce p.stars a.star-5:after {
	font-family:WooCommerce;
	text-indent:0;
	position:absolute;
	top:0;
	left:0
}
.woocommerce p.stars a.star-1 {
	width:2em
}
.woocommerce p.stars a.star-1:after {
	content:"\e021"
}
.woocommerce p.stars a.star-1.active:after, .woocommerce p.stars a.star-1:hover:after {
	content:""
}
.woocommerce p.stars a.star-2 {
	width:3em
}
.woocommerce p.stars a.star-2:after {
	content:"\e021\e021"
}
.woocommerce p.stars a.star-2.active:after, .woocommerce p.stars a.star-2:hover:after {
	content:""
}
.woocommerce p.stars a.star-3 {
	width:4em
}
.woocommerce p.stars a.star-3:after {
	content:"\e021\e021\e021"
}
.woocommerce p.stars a.star-3.active:after, .woocommerce p.stars a.star-3:hover:after {
	content:""
}
.woocommerce p.stars a.star-4 {
	width:5em
}
.woocommerce p.stars a.star-4:after {
	content:"\e021\e021\e021\e021"
}
.woocommerce p.stars a.star-4.active:after, .woocommerce p.stars a.star-4:hover:after {
	content:""
}
.woocommerce p.stars a.star-5 {
	width:6em;
	border:0
}
.woocommerce p.stars a.star-5:after {
	content:"\e021\e021\e021\e021\e021"
}
.woocommerce p.stars a.star-5.active:after, .woocommerce p.stars a.star-5:hover:after {
	content:""
}

#account .logout{ padding-right:7px;}

.single .quantity.buttons_added .minus, .single .quantity.buttons_added .plus{display:none !important;}
{display:none;}